<template>
    <div>
        <TemplatePage>
            <template v-if="!!useGetStateTerritoire()" #entete-secondaire>
                <EnteteSecondaireDiagnostic />
            </template>
            <PersonnaliserTerritoire
                v-if="!useGetStateTerritoire()"
                :fn-creer-route="(idTerritoire: string) => useRouteDiagnosticsFlash(idTerritoire)"
            ></PersonnaliserTerritoire>
            <ElementScrollable @evtEntrerZoneScroll="() => entrerSection(null)">
                <TitreDiagnosticFlash
                    id="introduction"
                    class="print:h-[calc(100vh-var(--hauteur-entete-totale))]"
                    phrase="3 minutes pour comprendre les enjeux agricoles et alimentaires"
                    accroche="Pas une minute de plus !"
                    :nomTerritoireAvecPrepositionDe="diagnosticFlashModele.territoire.nomTerritoireAvecPrepositionDe"
                    hashBoutonChevronBas="terres-agricoles"
                    data-track-content
                    data-content-name="Diag Flash - Introduction"
                    data-content-piece="introduction"
                />
                <CartePresentationTerritoire
                    class="bg-sable-50 print:bg-sable-100 print:h-screen"
                    afficher-chart-occupation-sols
                    :territoire="diagnosticFlashModele.territoire"
                    :descriptionTerritoire="diagnosticFlashModele.descriptionTerritoire"
                />
            </ElementScrollable>
            <section class="bg-sable-100 sm:bg-transparent py-2 sm:p-0">
                <ElementScrollable
                    v-for="(constatModele, index) in diagnosticFlashModele.constatsModeles"
                    :id="constatModele.idTheme"
                    :key="constatModele.id"
                    @evtEntrerZoneScroll="(idElement: string | undefined) => entrerSection(idElement as IdSection)"
                >
                    <Constat :modele="constatModele" :numero="index + 1" positionInfographie="gauche" />
                </ElementScrollable>
            </section>
            <ElementScrollable class="print:hidden" @evtEntrerZoneScroll="() => entrerSection('conclusion')">
                <div class="mb-20" data-track-content data-content-name="Conclusion diagnostics">
                    <BandeauAgir
                        :route-partage-r-s="routeDiagnosticFlashPourBandeauAgir"
                        :route-telechargement-pdf="routeDiagnosticFlashPourBandeauAgir"
                    />
                    <PresentationThematiques
                        class="mt-4 xl:mt-12"
                        titre-partie1-surlignee="Approfondir"
                        titre-partie2-non-surlignee="une thématique"
                        type-affichage="carrousel"
                    />
                </div>
            </ElementScrollable>
            <BoutonFormulaireRetour />
        </TemplatePage>
    </div>
</template>

<script setup lang="ts">
import type { IdTheme } from '@lga/indicateurs';
import { computed, ref } from 'vue';

import ElementScrollable from '@/components/navigation/ElementScrollable.vue';
import TemplatePage from '@/components/templates/TemplatePage.vue';
import {
    useFetchDonneesApi,
    useGetStateTerritoire,
    usePositionnerInfosHead,
    useRouteDiagnosticsFlash,
    useRouteMonTerritoire,
    useRouteParamsDiagnosticsFlash,
    useSetStateTef,
    useTracerActionMatomo
} from '@/composables';
import { onBeforeRouteLeave, useRoute } from '#imports';
import appConfig from '~/app.config.js';
import BandeauAgir from '~/components/diagnostics/commun/BandeauAgir.vue';
import CartePresentationTerritoire from '~/components/diagnostics/commun/CartePresentationTerritoire.vue';
import PersonnaliserTerritoire from '~/components/diagnostics/commun/PersonnaliserTerritoire.vue';
import Constat from '~/components/diagnostics/constats/Constat.vue';
import EnteteSecondaireDiagnostic from '~/components/diagnostics/EnteteSecondaireDiagnostic.vue';
import PresentationThematiques from '~/components/diagnostics/PresentationThematiques.vue';
import TitreDiagnosticFlash from '~/components/diagnostics/TitreDiagnosticFlash.vue';
import BoutonFormulaireRetour from '~/components/navigation/BoutonFormulaireRetour.vue';
import { creerDiagnosticFlashModele } from '~/modeles/DiagnosticModele.js';

const params = useRouteParamsDiagnosticsFlash();
const idTerritoire = params.idTerritoire;

const donneesApi = await useFetchDonneesApi(params.idTerritoire || appConfig.tef.idNomFrance);

if (params.idTerritoire) {
    useSetStateTef(donneesApi.territoireApi);
}

const diagnosticFlashModele = computed(() => creerDiagnosticFlashModele(donneesApi));

type IdSection = IdTheme | null | 'conclusion';

const idSectionActive = ref<IdSection | null>((useRoute().hash.slice(1) as IdSection) || null);

let estNavigationEnCours = false;

onBeforeRouteLeave((to, from, next) => {
    // La navigation vers une autre page se fait avant le unmount de ce composant
    // le flag estNavigationEnCours permet de stopper la maj des elements scrollables
    estNavigationEnCours = true;
    next();
});

const entrerSection = (idElement: IdSection) => {
    tracerScrollDansConstat(idElement);
    if (estNavigationEnCours) return;
    idSectionActive.value = idElement as IdSection;
    // on ne fait pas un navigateTo (replace=true) car on veut juste changer le hash, et pas déclencher un routage
    // Voir https://router.vuejs.org/guide/migration/index.html#Usage-of-history-state
    const hash = idElement === null ? '' : `#${idElement}`;
    history.replaceState(history.state, '', `${useRoute().path}${hash}`);
};

usePositionnerInfosHead(
    idTerritoire
        ? {
              titre: () => `Diagnostic Flash %separator ${diagnosticFlashModele.value.territoire.nom}`,
              routeUrlCanonique: useRouteMonTerritoire(idTerritoire)
          }
        : {
              titre: () => `Diagnostic Flash`
          }
);

const tracerScrollDansConstat = (idElement: IdSection) => {
    useTracerActionMatomo('Scroll', `Diagnostic Flash - Scroll et affichage nouveau constat`, `Affichage constat ${idElement ?? 'introduction'}`);
};

const routeDiagnosticFlashPourBandeauAgir = useRouteDiagnosticsFlash(idTerritoire);
</script>
