<template>
    <div class="pt-4">
        <UDivider><span class="text-2xl font-serif text-primaire">À retenir</span></UDivider>
        <ul class="pl-4 pt-8">
            <slot></slot>
        </ul>
    </div>
</template>
