<template>
    <TexteAvecPopoverDefinition :definition="glose.definition">{{ glose.libelle + (props.pluriel ? 's' : '') }}</TexteAvecPopoverDefinition>
</template>

<script setup lang="ts">
import { type CleGlose, GLOSSAIRE } from '@lga/indicateurs';

import TexteAvecPopoverDefinition from './TexteAvecPopoverDefinition.vue';

interface Props {
    cleGlose: CleGlose;
    pluriel?: boolean;
}

const props = defineProps<Props>();

const glose = GLOSSAIRE[props.cleGlose];
</script>
