<template>
    <!-- Voir https://image.nuxt.com/usage/nuxt-img#sizes -->
    <!-- Taille d'image 500px au minimum (largeur écran < sm soit 640px), 1000px au maximum (écran > lg = 1024px) -->
    <!-- On n'utilise pas l'option placeholder de nuxt car quand present le lazy loading ne marche plus -->
    <!-- De plus ne fonctionne pas avec NuxtPicture (voir https://github.com/nuxt/image/issues/1160 )-->
    <div class="my-8">
        <NuxtPicture
            :src="props.src"
            loading="lazy"
            :alt="props.alt"
            :width="props.width"
            :height="props.height"
            sizes="90vw sm:600px"
            densities="x1 x2"
            class="flex items-center justify-center max-w-[600px] m-auto text-transparent"
        ></NuxtPicture>
        <div class="text-sm text-center max-w-[600px] m-auto mt-2">
            <div><slot></slot></div>
            <!--            eslint-disable vue/no-v-html -->
            <div v-if="source" class="pt-2 italic" v-html="sourceInnerHtml"></div>
            <div v-if="credit" class="pt-1 italic" v-html="creditInnerHtml"></div>
        </div>
    </div>
</template>

<script setup lang="ts">
import type { HtmlString } from '@lga/base';
import { computed } from 'vue';

import { NuxtPicture } from '#components';

interface Props {
    src: string;
    alt: string;
    width: number;
    height: number;
    credit?: HtmlString | string;
    source?: HtmlString | string;
}

const props = defineProps<Props>();

const sourceInnerHtml = computed(() => (props.source !== undefined ? `Source : ${props.source}` : ''));
const creditInnerHtml = computed(() => (props.credit !== undefined ? `Crédit : ${props.credit}` : ''));
</script>
