<template>
    <div>
        <h1 class="text-2xl text-black m-10">Test BarreLogos</h1>
        <main class="m-10 p-5 w-[800px] bg-neutral-50 flex flex-col gap-5">
            <BarreLogos :logos="LOGOS_FINANCEURS" />
        </main>
    </div>
</template>

<script setup lang="ts">
import { LOGOS_FINANCEURS } from '@lga/images-definitions';

import BarreLogos from '~/components/base/BarreLogos.vue';
</script>
