<template>
    <main class="bg-neutral-50 border p-2 sm:p-4 text-lg">
        <template v-if="cookiesDesactives">
            <p>La fonctionnalité de désactivation du suivi nécessite que les cookies soient autorisés.</p>
        </template>
        <template v-else-if="estOKConsentement === undefined">
            <p>Statut du consentement inconnu ou en cours de récupération.</p>
        </template>
        <template v-else-if="estOKConsentement">
            <p>
                Vous pouvez vous opposer au suivi de votre navigation sur ce site web. Cela protégera votre vie privée, mais empêchera également le
                propriétaire d'apprendre de vos actions et de créer une meilleure expérience pour vous et les autres utilisateurs.
            </p>
            <input id="trackVisits" type="checkbox" checked @click="desactiverSuivi" />
            <label for="trackVisits">
                <strong><span class="texte-moyen"> Vous n'êtes pas exclu(e). Décochez cette case pour vous exclure. </span></strong>
            </label>
        </template>
        <template v-else>
            <p class="texte-moyen">
                Cookie d'exclusion installé.<br />Vos visites sur ce site web ne seront PAS enregistrées par notre outil d'analyse web.<br />
                Note : si vous nettoyez vos cookies et supprimez le cookie d'exclusion, ou bien si vous changez d'ordinateur et/ou de navigateur, il
                vous faudra de nouveau effectuer la procédure d'exclusion.
            </p>
            <input id="trackVisits" type="checkbox" @click="activerSuivi" />
            <label for="trackVisits">
                <strong
                ><span class="texte-moyen"> Vous n'êtes actuellement pas suivi(e). Cochez cette case pour ne plus être exclu(e). </span></strong
                >
            </label>
        </template>
    </main>
</template>

<script setup lang="ts">
import { onMounted, ref } from 'vue';

import { useEnregistrerAccordConsentement, useEnregistrerRefusConsentement, useRecupererStatutConsentement } from '@/composables';

const cookiesDesactives = !navigator || !navigator.cookieEnabled;

const estOKConsentement = ref<boolean | undefined>(undefined);

onMounted(() => {
    majStatutConsentement();
});

const activerSuivi = () => {
    useEnregistrerAccordConsentement();
    majStatutConsentement();
};

const desactiverSuivi = () => {
    useEnregistrerRefusConsentement();
    majStatutConsentement();
};

const majStatutConsentement = () => {
    useRecupererStatutConsentement((statutConsentement) => {
        estOKConsentement.value = statutConsentement;
    });
};
</script>
