<template>
    <div class="w-full h-full flex flex-col relative">
        <section class="h-fit relative">
            <AilesGauche class="w-[350px] absolute top-0 left-0" filled :fontControlled="false"> </AilesGauche>
            <AilesDroite class="w-[350px] absolute top-0 right-4" filled :fontControlled="false"> </AilesDroite>
            <div class="w-full pt-4 bg-primaire-50 text-primaire color-transparent text-center">
                <div class="font-bold text-lg">Derrière notre assiette quotidienne, tout un paysage agricole et alimentaire</div>
                <div
                    :class="[
                        'font-serif',
                        diagnosticLivret4Pages.territoire.nom.length <= 20
                            ? 'text-5xl'
                            : diagnosticLivret4Pages.territoire.nom.length <= 50
                                ? 'text-4xl'
                                : 'text-3xl'
                    ]"
                >
                    {{ diagnosticLivret4Pages.territoire.nom }}
                </div>
            </div>
            <div class="w-full">
                <LigneCrete class="text-primaire-50" :fontControlled="false"> </LigneCrete>
            </div>
        </section>
        <section class="grid h-full overflow-hidden grid-cols-2 grid-rows-1 pt-2 pb-8">
            <div class="flex flex-col justify-around col-1 flex-1">
                <ConstatLivret4pages
                    v-for="(item, index) in diagnosticLivret4Pages.constatsModeles.slice(0, 3)"
                    :key="index"
                    :modele="item"
                    :positionInfographie="index % 2 ? 'droite' : 'gauche'"
                ></ConstatLivret4pages>
            </div>
            <div class="flex flex-col justify-around col-2 flex-1">
                <ConstatLivret4pages
                    v-for="(item, index) in diagnosticLivret4Pages.constatsModeles.slice(3, 6)"
                    :key="index"
                    :modele="item"
                    :positionInfographie="index % 2 ? 'droite' : 'gauche'"
                ></ConstatLivret4pages>
            </div>
        </section>
        <section class="absolute bottom-6 right-2 w-full flex gap-2 items-center justify-end text-accent pr-4">
            <div class="font-sans text-xl font-bold text-center">Découvrez les solutions</div>
            <UIcon name="i-heroicons-chevron-right" class="w-8 h-8" />
        </section>
        <section class="absolute bottom-2 w-full m-auto text-center text-lg pt-2">
            Imprimé le {{ dateJJMMAAAA }}. Toutes les sources sont disponibles sur territoiresfertiles.fr
        </section>
    </div>
</template>

<script setup lang="ts">
import AilesGauche from '@/assets/motifs/deux-ailes-b.svg';
import AilesDroite from '@/assets/motifs/deux-ailes-c.svg';
import LigneCrete from '@/assets/motifs/ligne-crete-2xl.svg';
import type { Livret4PagesModele } from '~/modeles/DiagnosticModele.js';

import ConstatLivret4pages from '../constats/ConstatLivret4pages.vue';

defineProps<{
    diagnosticLivret4Pages: Livret4PagesModele;
}>();

const date = new Date();
const dateJJMMAAAA = `${String(date.getDate()).padStart(2, '0')}/${String(date.getMonth() + 1).padStart(2, '0')}/${String(date.getFullYear())}`;
</script>
