<template>
    <div class="h-full w-full flex flex-col items-stretch justify-around gap-4 text-primaire">
        <div class="ml-8 w-full">
            <NuxtImg
                :src="LOGO_TEF.url"
                preload
                :width="LOGO_TEF.resolutionX"
                :height="LOGO_TEF.resolutionY"
                density="1x 2x"
                sizes="260px"
                :alt="LOGO_TEF.descriptionAlt"
                class="h-[24px] w-auto"
            />
        </div>
        <h1
            :class="[
                'flex flex-col gap-0 items-center justify-center text-center font-serif',
                diagnosticLivret4Pages.territoire.nom.length <= 20
                    ? 'text-6xl'
                    : diagnosticLivret4Pages.territoire.nom.length <= 50
                        ? 'text-5xl'
                        : 'text-4xl'
            ]"
        >
            <div>{{ diagnosticLivret4Pages.territoire.nom }},</div>
            <div>un territoire <TexteStabilo couleur="jaune">nourricier</TexteStabilo>&nbsp;?</div>
        </h1>
        <div>
            <LigneCrete class="w-full -scale-100 text-primaire-50" :fontControlled="false"> </LigneCrete>
            <div class="h-fit w-full py-6 px-16 flex items-center gap-8 bg-primaire-50">
                <div v-if="diagnosticLivret4Pages.territoire.categorie.codeCategorie !== 'PAYS'" class="w-[450px] h-[250px] rounded-xl overflow-clip">
                    <CarteFocusTerritoire :territoire="diagnosticLivret4Pages.territoire" class="h-full w-full" />
                </div>
                <div class="text-2xl">
                    <!--            eslint-disable vue/no-v-html -->
                    <div v-html="diagnosticLivret4Pages.descriptionTerritoire.messageIdentiteTerritoire"></div>
                    <div v-html="diagnosticLivret4Pages.descriptionTerritoire.messageOccupationSolsEtAgricultureTerritoire"></div>
                </div>
            </div>
            <LigneCrete class="w-full text-primaire-50" :fontControlled="false"> </LigneCrete>
        </div>
        <p class="font-sans text-2xl px-8">
            Avec la <span class="font-bold">moitié de son territoire</span> couvert par des terres agricoles, la France dispose en théorie de quoi
            <span class="font-bold">nourrir l’ensemble de sa population</span>, et même plus. Mais ce qui est produit sur ces terres est rarement
            destiné à la <span class="font-bold">consommation locale</span>. En France,
            <span class="font-bold">43 % des surfaces agricoles</span> produisent des aliments qui sont <span class="font-bold">exportés</span> à
            l’étranger, tandis que nos <span class="font-bold">importations</span> alimentaires ont doublé en <span class="font-bold">20 ans</span>.
            Dans ces conditions, peut-on encore parler de <span class="font-bold">souveraineté alimentaire</span> ?
        </p>
        <h2 class="px-4 font-sans font-extrabold text-3xl text-center">Qu’en est-il dans votre territoire&nbsp;?</h2>
        <div class="flex items-center justify-center">
            <ChartOccupationSols
                v-if="
                    diagnosticLivret4Pages.descriptionTerritoire.occupationSols.superficieArtificialiseeClcHa !== null &&
                        diagnosticLivret4Pages.descriptionTerritoire.occupationSols.superficieAgricoleClcHa !== null &&
                        diagnosticLivret4Pages.descriptionTerritoire.occupationSols.superficieNaturelleOuForestiereClcHa !== null
                "
                class="w-[100px]"
                :superficie-artificialisee-ha="diagnosticLivret4Pages.descriptionTerritoire.occupationSols.superficieArtificialiseeClcHa"
                :superficie-agricole-ha="diagnosticLivret4Pages.descriptionTerritoire.occupationSols.superficieAgricoleClcHa"
                :superficie-naturelle-ou-forestiere-ha="
                    diagnosticLivret4Pages.descriptionTerritoire.occupationSols.superficieNaturelleOuForestiereClcHa
                "
            />
            <InfographiePotentielNourricier
                v-if="diagnosticLivret4Pages.descriptionTerritoire.tauxAdequationBrutAssietteActuelle"
                :chiffre="diagnosticLivret4Pages.descriptionTerritoire.tauxAdequationBrutAssietteActuelle"
            >
            </InfographiePotentielNourricier>
        </div>
        <div class="w-full ml-0 flex gap-2 items-center justify-end text-accent pr-4">
            <div class="font-sans text-xl font-bold text-center">Découvrez les enjeux alimentaires de votre territoire</div>
            <UIcon name="i-heroicons-chevron-right" class="w-8 h-8" />
        </div>
    </div>
</template>

<script setup lang="ts">
import { LOGO_TEF } from '@lga/images-definitions';

import LigneCrete from '@/assets/motifs/ligne-crete-2xl.svg';
import { NuxtImg } from '#components';
import TexteStabilo from '~/components/base/TexteStabilo.vue';
import CarteFocusTerritoire from '~/components/cartes/CarteFocusTerritoire.vue';
import type { Livret4PagesModele } from '~/modeles/DiagnosticModele.js';

import ChartOccupationSols from '../commun/ChartOccupationSols.vue';
import InfographiePotentielNourricier from '../infographies/InfographiePotentielNourricier.vue';

defineProps<{
    diagnosticLivret4Pages: Livret4PagesModele;
}>();
</script>
