<template>
    <TemplatePage>
        <div class="p-2 flex flex-col place-items-center">
            <TitrePage titrePartie1Surlignee="Oups !" texte-sous-titre="Une erreur est survenue..." />
            <div class="flex flex-col place-items-center gap-2 text-center ajouter max-w-2xl">
                <div class="text-lg mb-4">Merci de revenir en arrière et de réessayer à nouveau dans quelques secondes.</div>
                <div>
                    Si le problème persiste, vous pouvez nous envoyer un message via le
                    <TexteLien :url="usePath(useRouteContact())">formulaire de contact</TexteLien> en recopiant le message ci-dessous :
                </div>
                <div class="italic text-neutral-300 text-left m-8 max-w-[600px] border p-4">
                    URL de la page : {{ useRoute().fullPath }}<br /><br />
                    Détails de l'erreur : <br />
                    <pre class="text-left font-sans w-full whitespace-pre-wrap">{{ JSON.stringify(error, null, 2) }}</pre>
                </div>
                <UButton
                    class="my-8"
                    color="accent"
                    variant="solid"
                    trailing-icon="i-heroicons-arrow-right-20-solid"
                    size="lg"
                    label="Retour à l'accueil"
                    to="/"
                    @click="gererErreur"
                />
            </div>
        </div>
    </TemplatePage>
</template>

<script setup lang="ts">
import { useRoute } from 'vue-router/auto';

import { usePath, useRouteContact } from '@/composables';
import type { NuxtError } from '#app';
import { clearError } from '#app';

import TexteLien from './components/base/TexteLien.vue';
import TitrePage from './components/base/TitrePage.vue';
import TemplatePage from './components/templates/TemplatePage.vue';

defineProps<{
    error: NuxtError;
}>();

const gererErreur = () => {
    clearError();
};
</script>
