<template>
    <div>
        <TemplatePage>
            <TitrePage
                titrePartie1Surlignee="Initiatives"
                titrePartie2NonSurlignee=" inspirantes"
                :texte-sous-titre="`Une sélection de projets concrets pour vous aider à imaginer les transitions agricoles et alimentaires${territoire ? ' ' + territoire.nomAvecPrepositionA : ''}.`"
            />
            <div class="max-w-[800px] m-auto flex flex-col gap-6 py-12">
                <BlocResumeInitiative
                    v-for="item in initiatives.slice(0, nombreInitiativesAffichees)"
                    :key="item.titre"
                    :titre="item.titre"
                    :localisation="item.localisation"
                    :description="item.description"
                    :url="item.urlLienExterne"
                    :libelle-url="item.intituleLienExterne"
                    :image="item.image"
                />
                <UButton
                    v-if="nombreInitiativesAffichees < initiatives.length"
                    class="w-fit mx-auto mt-4"
                    variant="outline"
                    size="lg"
                    :ui="{
                        rounded: 'rounded-full'
                    }"
                    @click="afficherPlusInitiatives"
                >Afficher plus d'intiatives</UButton
                >
            </div>
        </TemplatePage>
    </div>
</template>

<script setup lang="ts">
import '@lga/commun/build/composants/champ-recherche-territoire/ChampRechercheTerritoire.js';

import { DEFINITIONS_INITIATIVES, recupererListeInitiativesAvecScore } from '@lga/initiatives';
import { ref } from 'vue';

import {
    useFetchDonneesApi,
    useGetStateTerritoire,
    usePositionnerInfosHead,
    useRouteInitiatives,
    useRouteParamsInitiatives,
    useSetStateTef,
    useTracerActionMatomo
} from '@/composables';
import { useAppConfig } from '#imports';
import TitrePage from '~/components/base/TitrePage.vue';
import BlocResumeInitiative from '~/components/diagnostics/commun/BlocResumeInitiative.vue';
import TemplatePage from '~/components/templates/TemplatePage.vue';

const params = useRouteParamsInitiatives();
const appConfig = useAppConfig();
const idTerritoire = params.idTerritoire;

const donneesApi = await useFetchDonneesApi(params.idTerritoire || appConfig.tef.idNomFrance);

if (idTerritoire) {
    useSetStateTef(donneesApi.territoireApi);
}
const territoire = useGetStateTerritoire();

const codeProfilAgriculture = donneesApi.diagnosticApi.profils.codeProfilAgriculture;
const codeProfilCollectivite = donneesApi.diagnosticApi.profils.codeProfilCollectivite;

usePositionnerInfosHead({
    titre: () => (territoire ? `Initiatives inspirantes %separator ${territoire.nom}` : 'Initiatives inspirantes'),
    description: 'Une sélection de projets concrets pour vous aider à imaginer les transitions agricoles et alimentaires sur votre territoire.',
    routeUrlCanonique: useRouteInitiatives()
});
const nombreInitiativesAffichees = ref(5);

const initiatives = recupererListeInitiativesAvecScore(DEFINITIONS_INITIATIVES, {
    codeProfilAgriculture: codeProfilAgriculture,
    codeProfilCollectivite: codeProfilCollectivite
});

const afficherPlusInitiatives = () => {
    nombreInitiativesAffichees.value += 5;
    useTracerActionMatomo('Clic', "Afficher plus d'initiatives", "Afficher plus d'initiatives depuis page Initiatives");
};
</script>
