<template>
    <div>
        <h1 class="text-2xl text-black m-10 mb-32">Test ChiffreCle</h1>
        <main class="mx-0 px-0 w-auto bg-neutral-50 flex flex-col gap-0">
            <div class="w-[500px] p-12">
                <div class="border w-[600px] h-40">Emplacement image sans décalage, doit affleurer sur la boite</div>
                <ChiffreCle class="w-[500px]" :chiffre-cle="chiffreCle1" :informations-methodologie="informationsInfographie" />
            </div>
            <div class="w-[500px] h-96">
                <div class="border w-[600px] h-40">Emplacement image sans décalage, doit affleurer sur la boite</div>
                <ChiffreCle class="w-[500px]" :chiffre-cle="chiffreCle2" :informations-methodologie="informationsInfographie" />
            </div>
        </main>
    </div>
</template>

<script setup lang="ts">
import { htmlstring } from '@lga/base';

import ChiffreCle from '@/components/diagnostics/infographies/ChiffreCle.vue';
import type { ChiffreCleInfographieModele } from '@/modeles/constats/InfographieModele';

const informationsInfographie = {
    titre: 'Titre',
    descriptif: htmlstring`Descriptif`,
    urlMethodologie: 'url-methodologie'
};

const chiffreCle1: ChiffreCleInfographieModele = {
    chiffre: '1 000',
    unite: 'km',
    phrase: 'texte court (- de 25 car)'
};

const chiffreCle2: ChiffreCleInfographieModele = {
    chiffre: '1 000 000',
    unite: 'km',
    phrase: 'texte long et chiffre long (chiffre long > 7 caractères et texte long > 25 caractères)'
};
</script>
