<template>
    <div>
        <h1 class="text-2xl text-black m-10">Test InfographieImageChiffreCle</h1>
        <main class="mx-0 px-0 w-auto bg-neutral-50 flex flex-col gap-5">
            <h2>Affichage image a gauche, message clé court</h2>
            <div class="w-[min(100vw,600px)] border-4">
                <InfographieImageChiffreCle :infographie="infographieGaucheMessageCourt"></InfographieImageChiffreCle>
            </div>
            <h2>Affichage image a gauche, message clé long</h2>
            <div class="w-[min(100vw,600px)] border-4">
                <InfographieImageChiffreCle :infographie="infographieGaucheMessageLong"></InfographieImageChiffreCle>
            </div>
            <h2>Affichage image centre</h2>
            <div class="w-[min(100vw,600px)] border-4">
                <InfographieImageChiffreCle :infographie="infographieCentre"></InfographieImageChiffreCle>
            </div>
            <h2>Affichage contraint hauteur 100vh</h2>
            <div class="w-[min(100vw,600px)] h-[100vh] border-4">
                <InfographieImageChiffreCle :infographie="infographieCentre"></InfographieImageChiffreCle>
            </div>
        </main>
    </div>
</template>

<script setup lang="ts">
import { htmlstring } from '@lga/base';

import InfographieImageChiffreCle from '@/components/diagnostics/infographies/InfographieImageChiffreCle.vue';
import type { InfographieImageChiffreCleModele } from '@/modeles/constats/InfographieModele';

const chiffreCleCourt = {
    chiffre: '1 000',
    unite: 'km',
    phrase: 'description courte'
};
const chiffreCleLong = {
    chiffre: '1 000 000',
    unite: 'km',
    phrase: 'description longue du chiffre clé, description longue du chiffre clé, description longue...'
};
const infographieGaucheMessageCourt: InfographieImageChiffreCleModele = {
    nomComposant: 'InfographieImageChiffreCle',
    chiffreCle: chiffreCleCourt,
    image: {
        url: 'https://placehold.co/416x448?text=image',
        descriptionAlt: 'Description de l’image',
        resolutionX: 416,
        resolutionY: 448,
        position: 'gauche'
    },
    informationsMethodologie: {
        titre: 'Titre',
        descriptif: htmlstring`Descriptif`,
        urlComplementInformation: 'url-methodologie'
    },
    accroche: 'Phrase accroche !!!'
};

const infographieGaucheMessageLong: InfographieImageChiffreCleModele = { ...infographieGaucheMessageCourt };
infographieGaucheMessageLong.chiffreCle = chiffreCleLong;

const infographieCentre: InfographieImageChiffreCleModele = { ...infographieGaucheMessageCourt };
infographieCentre.image = { ...infographieGaucheMessageCourt.image };
infographieCentre.image.url = 'https://placehold.co/600x600?text=image';
infographieCentre.image.position = 'centre';
</script>
