<template>
    <TemplateThematique :id-theme="modele.idTheme" :sectionsMenu="SECTIONS">
        <template #bandeauTitre>
            <TexteP>
                Au pays de la gastronomie et des grands banquets, la nourriture est une affaire sérieuse. Alors ? Que trouve-t-on dans nos assiettes
                aujourd’hui&nbsp;?
            </TexteP>
        </template>

        <template #[ID_SECTION_1]>
            <TexteP>
                Comparé au pain quotidien d’un français du XIXe siècle, le régime actuel est un festin difficile à concevoir. Il est plus riche, plus
                diversifié, contient de nombreux produits frais ou jadis réservés aux plus fortunés (pièces de boucherie, cacao…) et même certains
                aliments inconnus jusqu’alors (qui aurait pu prédire les Kinder Surprise et le fromage en tube ?). Si les céréales (pain, pâtes, riz)
                apportent toujours la plus grosse part de nos calories, les produits d’origine animale (œufs, viandes, poissons, produits laitiers)
                ont pris une grande place dans notre alimentation.
                <TexteAvecPopoverSource
                    numero="1"
                    :source="
                        htmlstring`Un français adulte de 70 kg consomme en moyenne 100 g de protéines par jour dont les deux tiers d’origine animale. Voir le ${creerLienExterneHtmlBrut('https://www.inrae.fr/alimentation-sante-globale/proteines-questions', 'dossier « Les protéines en question » sur le site internet de l’INRAE')}.`
                    "
                >Ils constituent aujourd’hui notre première source de protéines</TexteAvecPopoverSource
                >.
                <TexteAvecPopoverSource
                    numero="2"
                    :source="
                        htmlstring`Lepage Y. (2002) Évolution de la consommation d'aliments carnés aux XIXe et XXe siècles en Europe occidentale. Revue belge de Philologie et d'Histoire. 80-4 pp. 1459-1468.`
                    "
                >La consommation de viande a ainsi plus que doublé entre les années 1920 et 1970</TexteAvecPopoverSource
                >.
            </TexteP>

            <TexteP>
                Les produits ultra-transformés sont une autre grande caractéristique de notre alimentation moderne.
                <TexteAvecPopoverSource
                    numero="3"
                    :source="
                        htmlstring`Calixto Andrade G. et al. (2021) Consumption of Ultra-Processed Food and Its Association with Sociodemographic Characteristics and Diet Quality in a Representative Sample of French Adults. Nutrients, 13, 682. https://doi.org/10.3390/nu13020682.`
                    "
                >Ils représentent environ un tiers de ce que nous mangeons</TexteAvecPopoverSource
                >, les plus connus étant les friandises, les céréales de petit-déjeuner, les desserts lactés, les sauces et produits à tartiner, de
                nombreuses préparations à base de viande ou de poisson (knacks, nuggets, surimi, cordon bleu…) et des plats cuisinés (quiches, pizzas,
                raviolis…). Leur fabrication par l’industrie agroalimentaire consiste à décomposer des matières premières agricoles en produits
                intermédiaires (poudre de lait, amidon de maïs, minerai de viande) puis à les assembler en ajoutant divers additifs (conservateurs,
                arômes, exhausteurs de goût…).
            </TexteP>
        </template>

        <template #[ID_SECTION_2]>
            <TexteP>
                Hippocrate, le célèbre médecin de la Grèce antique à qui on attribue cette maxime, doit se retourner dans sa tombe. En effet,
                <TexteAvecPopoverSource
                    numero="4"
                    :source="
                        htmlstring`Cartron F. et Fichet J-L. (2020) Rapport d’information fait au nom de la délégation sénatoriale à la prospective sur « Vers une alimentation durable : Un enjeu sanitaire, social, territorial et environnemental majeur pour la France ». Rapport au Sénat n° 476 | Prud’homme L. et Crouzet M. (2018) Rapport fait au nom de la commission d’enquête sur l’alimentation industrielle : qualité nutritionnelle, rôle dans l’émergence de pathologies chroniques, impact social et environnemental de sa provenance. Rapport à l’Assemblée Nationale n° 1266.`
                    "
                >l’alimentation est devenue en France le principal facteur de risque de mauvaise santé et l’une des premières causes de
                    mortalité</TexteAvecPopoverSource
                >. En cause, une consommation excessive de produits ultra-transformés riches en sucre, en graisses et en sel.
                <TexteAvecPopoverSource
                    numero="5"
                    :source="
                        htmlstring`Fiolet T. et al. (2018) Consumption of ultra-processed foods and cancer risk: results from NutriNet-Santé prospective cohort. BMJ 360:k322 | Srour B. et al. (2019) Ultra-processed food intake and risk of cardiovascular disease: prospective cohort study (NutriNet-Santé). BMJ 365:l1451 | Schnabel L. et al. (2019) Association Between Ultraprocessed Food Consumption and Risk of Mortality Among Middle-aged Adults in France. JAMA Internal Medicine 179:490–498 | Arshad H. et al. (2023) Association between ultra-processed foods and recurrence of depressive symptoms : the Whitehall II cohort study. Nutr Neurosci.`
                    "
                >La liste des maladies qu’ils favorisent a de quoi couper l’appétit : diabète, hypertension, cancers, troubles digestifs, maladies
                    cardio-vasculaires, dépression</TexteAvecPopoverSource
                >.
            </TexteP>

            <TexteP>
                <TexteAvecPopoverSource
                    numero="6"
                    :source="
                        htmlstring`Santé Publique France (2017) Étude de santé sur l’environnement, la biosurveillance, l’activité physique et la nutrition (Esteban) 2014-2016. Volet Nutrition. Chapitre Corpulence.`
                    "
                >Le surpoids et l’obésité ont explosé en une vingtaine d’années et touchent aujourd’hui en France respectivement une personne sur
                    deux et une personne sur six</TexteAvecPopoverSource
                >. En plus de la dégradation de la qualité de vie des personnes atteintes, les coûts associés pour le système de santé sont
                conséquents.
                <TexteAvecPopoverSource
                    numero="7"
                    :source="htmlstring`Caby D. (2016) Obésité : quelles conséquences pour l’économie et comment les limiter ? Trésor-Éco 179:1–12.`"
                >Une étude les a estimés à près de dix milliards d’euros par an</TexteAvecPopoverSource
                >.
            </TexteP>
        </template>

        <template #[ID_SECTION_3]>
            <TexteP>
                Avant d’arriver au milieu de la table, le poulet fermier du dimanche a eu une vie et un gésier bien remplis :
                <TexteAvecPopoverSource numero="8" :source="htmlstring`Hypothèses : poulet abattu à 90 jours, pour un poids vif de 2,2 kg.`"
                >70 g d’aliments par jour en moyenne, soit 6,3 kg à l’issue de sa carrière</TexteAvecPopoverSource
                >. Après découpe,
                <TexteAvecPopoverSource
                    numero="9"
                    :source="
                        htmlstring`Hypothèses : rendement viande = 50 % du poids vif (Laisse et al. (2018) INRA Prod Anim 31) ; densité énergétique de la viande de poulet = 2 400 kcal / kg ; besoin énergétique d’un homme adulte = 2 600 kcal par jour.`
                    "
                >vous obtenez environ 1,1 kg de viande, ce qu’il faut pour vous nourrir pendant une journée</TexteAvecPopoverSource
                >.
                <TexteAvecPopoverSource
                    numero="10"
                    :source="
                        htmlstring`Hypothèses de calcul : ration composée de 4,3 kg de blé tendre pouvant donner 3,4 kg de farine t80 d’une densité énergétique de 3 400 kcal / kg et de 2 kg de pois d’une même densité énergétique.`
                    "
                >à la place vous aviez mangé le blé et les pois cassés donnés au poulet, vous auriez pu vous nourrir pendant une
                    semaine</TexteAvecPopoverSource
                >
                !
            </TexteP>

            <TexteP>
                Cet exemple nous rappelle que nos animaux d’élevage ont bon appétit.
                <TexteAvecPopoverSource
                    numero="11"
                    :source="
                        htmlstring`Consommation de 18,6 millions de tonnes de céréales sur une disponibilité intérieure de 35,8 millions de tonnes en moyenne sur la période 2017-2021. FAOSTAT Bilans alimentaires > France > Céréales.`
                    "
                >Ils consomment la moitié des céréales produites en France et non exportées</TexteAvecPopoverSource
                >. Sur 18 millions d’hectares de <GloseAvecPopoverDefinition cleGlose="terresArables" />,
                <TexteAvecPopoverSource
                    numero="12"
                    :source="
                        htmlstring`Données utilisées pour le calcul : quantité de céréales utilisées pour l’alimentation animale en France = 18,6 millions de tonnes (FAOSTAT, moyenne 2017-2021) ; rendement moyen céréales = 7 tonnes par ha ; surfaces en oléagineux = 2,3 millions d’ha (Agreste (2023) ${creerLienExterneHtmlBrut('https://agreste.agriculture.gouv.fr/agreste-web/disaron/GraFra2023Integral/detail/', 'Graph’Agri 2023')}) ; ratio d’allocation des surfaces en oléagineux à l’alimentation animale = 0,5 ; autres surfaces prises en compte (Graph’Agri 2023) : protéagineux (300 000 ha), prairies temporaires (2,3 millions d’ha), cultures fourragères (1,4 millions d’ha).`
                    "
                >près de 8 millions sont consacrés à leur alimentation dans notre pays</TexteAvecPopoverSource
                >. Cela sans compter les prairies permanentes à potentiel cultivable, les surfaces importées (<TexteAvecPopoverSource
                    numero="13"
                    :source="
                        htmlstring`Données utilisées pour le calcul : importations nettes de tourteaux de soja = 2,9 millions de tonnes (FAOSTAT, moyenne 2018-2022) ; importations nettes de fèves de soja = 430 000 tonnes (FAOSTAT, moyenne 2018-2022) ; rendement de trituration = 0,8 ; rendement soja brésilien = 3,3 tonnes de fèves par ha (FAOSTAT, moyenne 2018-2022).`
                    "
                >plus d’un million d’hectares de soja</TexteAvecPopoverSource
                >), ni les céréales que nous exportons et qui alimentent des élevages ailleurs dans le monde.
            </TexteP>

            <TexteP>
                Dit autrement, plus il y a de produits animaux dans l’assiette, plus il y a besoin de terres agricoles pour soutenir ce régime.
                <TexteAvecPopoverSource numero="14" :source="htmlstring`Le revers de notre assiette. Page 31. Solagro (2019).`"
                >Le régime français moyen actuel nécessite environ 4&nbsp;000&nbsp;m² de terres agricoles, contre 2&nbsp;500&nbsp;m² pour un
                    régime moitié moins gourmand en produits animaux et 1&nbsp;800&nbsp;m² pour un régime trois fois moins
                    gourmand</TexteAvecPopoverSource
                >
                (cf <TexteRenvoiThematique :idTheme="IDS_THEMES.terresAgricoles" />). Pour autant, un régime 100&nbsp;% végétal n’est pas le plus
                économe en terres agricoles, car les animaux permettent de valoriser des surfaces non cultivables, des déchets et des sous-produits
                agroalimentaires (sons, tourteaux, lactosérum…). L’optimum correspondrait selon certaines études à un régime comprenant
                <TexteAvecPopoverSource
                    numero="15"
                    :source="
                        htmlstring`Van Zanten HHE et al. (2018) Defining a land boundary for sustainable livestock consumption. Glob Change Biol ; 24: 4185–4194.`
                    "
                >entre 15 et 30 grammes de protéines animales par jour</TexteAvecPopoverSource
                >, à comparer aux
                <TexteAvecPopoverSource
                    numero="16"
                    :source="
                        htmlstring`${creerLienExterneHtmlBrut('https://www.inrae.fr/alimentation-sante-globale/proteines-questions', 'Dossier « Les protéines en question » sur le site internet de l’INRAE')}.`
                    "
                >65 grammes actuellement consommés quotidiennement en France</TexteAvecPopoverSource
                >.
            </TexteP>
        </template>

        <template #[ID_SECTION_4]>
            <TexteP>
                La domestication des animaux a constitué une étape majeure dans l’évolution des sociétés humaines. En plus de fournir une force de
                travail et un moyen de transport, de permettre le transfert de fertilité des espaces pâturés vers les terres cultivées, les animaux
                ont joué un rôle important dans la sécurité alimentaire en valorisant des terres peu fertiles et des déchets. Ils continuent de fait
                de jouer ce rôle dans de nombreux pays. Les produits animaux sont par ailleurs une très bonne source de protéines et de certains
                micronutriments (fer, zinc, vitamines). Mais le mariage de l’élevage et du productivisme agricole au cours du XXe siècle a tourné au
                désastre.
            </TexteP>

            <TexteP>
                À cause des surfaces considérables de terres cultivables qui lui sont dédiées (voir ci-dessus), l’élevage concentre une grande partie
                des impacts négatifs de l’agriculture liés à l’utilisation des pesticides et des engrais minéraux.
                <TexteAvecPopoverSource
                    numero="17"
                    :source="htmlstring`Voir les données et sources présentées dans la thématique ${getTheme('ressources')?.titre ?? ''}.`"
                >L’irrigation du maïs grain, presque uniquement destiné aux animaux, est de loin la première cause de prélèvements d’eau
                    l’été</TexteAvecPopoverSource
                >, alors que la ressource est au plus bas. Le soja que nous importons en masse pour l’alimentation des bêtes participe à la
                déforestation au Brésil et en Argentine.
                <TexteAvecPopoverSource
                    numero="18"
                    :source="
                        htmlstring`Données inventaire CITEPA 2023 en faisant l’hypothèse que 50 % des postes “Cultures” et “Carburants” sont liés à l’alimentation des animaux d’élevage, soit la part de terres arables dédiées à leur alimentation.`
                    "
                >Plus de 80&nbsp;% des émissions de gaz à effet de serre de l’agriculture en France sont directement ou indirectement liées à
                    l’élevage</TexteAvecPopoverSource
                >. La concentration des productions animales dans certaines zones géographiques entraîne des volumes de déjections ingérables et de
                graves pollutions des cours d’eau. (Plus d’informations sur les ressources utilisées dans la
                <TexteRenvoiThematique :idTheme="IDS_THEMES.terresAgricoles" />).
            </TexteP>

            <TexteP>
                Soyons clairs, l’élevage n’est pas problématique <span class="italic">par nature</span>. L’histoire des sociétés humaines nous éclaire
                sur les nombreux avantages apportés par la domestication des animaux et de multiples exemples en France témoignent des impacts
                positifs que peut avoir l’élevage, notamment pour le maintien d’écosystèmes remarquables. Mais force est de constater que l’élevage
                tel qu’il est majoritairement pratiqué aujourd’hui s’est détourné de ses fonctions historiques et nous conduit à une impasse. Nous
                devons ensemble, éleveurs, citoyens et décideurs, trouver un nouvel équilibre.
            </TexteP>
        </template>

        <template #[ID_SECTION_5]>
            <TexteP>
                Récapitulons, notre régime actuel pose problème pour deux raisons : il nous rend malades car nous mangeons trop de produits
                ultra-transformés et il n’est pas durable car nous mangeons trop de produits d’origine animale. Le chercheur Anthony Fardet propose un
                principe simple pour mieux manger :
                <TexteAvecPopoverSource
                    numero="19"
                    :source="
                        htmlstring`Fardet A. et Rock E. (2019) Alimentation : protégez votre santé (et la planète) grâce à la règle des « 3V ». The Conversation.`
                    "
                >la règle des « trois V »</TexteAvecPopoverSource
                >. Une alimentation plus « vraie » (moins de produits ultra-transformés), plus « végétale » et plus « variée ».
            </TexteP>

            <TexteP>
                À quoi cela ressemblerait-il concrètement ? Les modèles proposés dans certains scénarios de transition agricole et alimentaire
                <TexteAvecPopoverSource
                    numero="20"
                    :source="
                        htmlstring`Solagro (2016) Le scénario Afterres2050 version 2016 | Poux X. et Aubert P-M. (2018) Une Europe agroécologique en 2050 : une agriculture multifonctionnelle pour une alimentation saine. Enseignement d’une modélisation du système alimentaire européen, Iddri-AScA. Institut du Développement Durable et des Relations Internationales.`
                    "
                >comme TYFA ou Afterres2050</TexteAvecPopoverSource
                >
                nous apportent des éléments de réponse. Pour la viande par exemple, l’objectif est une diminution de moitié. Cela représenterait une
                consommation moyenne de
                <TexteAvecPopoverSource
                    numero="21"
                    :source="
                        htmlstring`Soit l’équivalent après cuisson d’un steak de 80 grammes ; voir le rapport « Comment concilier nutrition et climat ? » publié en 2024 par le réseau Action Climat et la Société Française de Nutrition.`
                    "
                >60 grammes par jour</TexteAvecPopoverSource
                >, on est donc encore très loin du végétarisme ! Les céréales complètes, les légumineuses, les fruits et légumes frais et les fruits à
                coque verraient quant à eux leur part augmenter. Bonne nouvelle,
                <TexteAvecPopoverSource
                    numero="22"
                    :source="
                        htmlstring`Voir l’avis du HCSP « Avis relatif aux objectifs de santé publique quantifiés pour la politique nutritionnelle de santé publique (PNNS) 2018-2022 ».`
                    "
                >ce régime durable est pleinement en phase avec les recommandations nutritionnelles du Haut Conseil de la Santé
                    Publique</TexteAvecPopoverSource
                >.
            </TexteP>
        </template>

        <template #[ID_SECTION_6]>
            <TexteP>
                Précisons de suite que la diminution de la consommation de produits animaux doit aller de pair avec une diminution en amont des
                productions animales. Sans quoi la pression sur les terres arables ou les impacts liés à l’élevage intensif resteront inchangés. Autre
                évidence, ce n’est ni aux éleveurs, ni aux salariés de l’agroalimentaire de payer le prix de cette réorientation collective.
            </TexteP>

            <TexteP>
                Nous pourrions laisser faire le temps. Le renouvellement des générations est particulièrement difficile en élevage et les contraintes
                à venir sur la production fourragère ou les cultures
                <TexteAvecPopoverSource
                    numero="23"
                    :source="
                        htmlstring`Dans leur étude de 2023 « Energy scarcity and rising cost: Towards a paradigm shift for livestock », Benoit M. et Mottet A. montrent que les élevages dont l’alimentation repose sur l’utilisation des terres arables sont particulièrement vulnérables face à une raréfaction des énergies fossiles. Dans un contexte d’effet ciseaux entre augmentation des coûts de production et diminution du pouvoir d’achat des consommateurs,  les auteurs jugent probable la contraction du secteur.`
                    "
                >vont vraisemblablement plonger de nombreux éleveurs dans des situations économiques intenables</TexteAvecPopoverSource
                >. Ou nous pouvons au contraire anticiper ces problèmes et proposer une trajectoire qui ne laisse personne sur la route.
            </TexteP>

            <TexteP>
                L’une des difficultés, c’est que les principaux outils de régulation et de planification relèvent de la politique européenne
                (<GloseAvecPopoverDefinition cleGlose="pac" />politique commerciale). Nous pourrions réactiver des instruments utilisés avec succès
                par le passé comme les quotas et les prix garantis. La diminution planifiée des volumes de production serait compensée par une
                augmentation des prix d’achat, avec une vision à long terme et une protection contre la pression commerciale exercée par les
                industriels en aval.
                <TexteAvecPopoverSource
                    numero="24"
                    :source="
                        htmlstring`Voir le rapport « Transition de l’élevage : gérer les investissements passés et repenser ceux à venir » de l’Institute for Climate Economics (2023).`
                    "
                >Le rachat par la puissance publique des actifs devenus obsolètes ou surdimensionnés (en particulier certains bâtiments et
                    matériels d’élevage spécialisés) est un moyen de compenser les investissements réalisés par le passé et de lever un des freins
                    importants à la transmission</TexteAvecPopoverSource
                >. Enfin, l’harmonisation des règles du commerce international est incontournable pour prévenir les distorsions de concurrence entre
                pays et ne pas ruiner les progrès réalisés par les agriculteurs français. La mise en place de
                <GloseAvecPopoverDefinition cleGlose="mesuresMiroirs" /> répond à cet objectif et peut être accompagnée
                <TexteAvecPopoverSource
                    numero="25"
                    :source="
                        htmlstring`Voir par exemple la note publiée par UTAA « Régulations des marchés et des prix agricoles » de Levard L. et Loyat J. (2021).`
                    "
                >d’autres mesures d’harmonisation</TexteAvecPopoverSource
                >.
            </TexteP>

            <TexteP>
                En attendant que les institutions européennes se saisissent des enjeux, nous pouvons déjà faire beaucoup en France. La restauration
                collective gérée par les collectivités et les administrations publiques doit se montrer exemplaire en suivant la règle des « trois V »
                et les recommandations du Haut Conseil pour la Santé Publique.
                <TexteAvecPopoverSource
                    numero="26"
                    :source="
                        htmlstring`Il s’agit d’une des recommandations fortes faites dans le cadre du dernier Programme National Nutrition Santé. ${creerLienExterneHtmlBrut('https://sante.gouv.fr/IMG/pdf/pnns4_2019-2023.pdf', 'Voir la publication en ligne')}.`
                    "
                >Agir fermement sur la publicité et la pression marketing en faveur des produits ultra-transformés, notamment celles visant les
                    enfants</TexteAvecPopoverSource
                >, aura des impacts immédiats et ne demande qu’un peu de volonté politique. La mise en place d’une sécurité sociale de l’alimentation
                constitue par ailleurs un moyen d’offrir aux éleveurs un marché sécurisé avec des prix garantis, et aux consommateurs, des produits
                animaux de qualité (cf <TexteRenvoiThematique :idTheme="IDS_THEMES.accessibilite" />).
            </TexteP>

            <Encadre
                v-if="useGetStateIdTerritoire().value"
                type="simulez-vos-actions"
                :url-en-savoir-plus="useRouteSimulateur(useGetStateIdTerritoire().value, 'ChangementAlimentation')"
            >
                <p>Et si on changeait de régime alimentaire (plus local, plus bio et avec moins de gaspillage) ?</p>
            </Encadre>

            <Encadre
                type="ils-l-ont-fait"
                localisation="Tours"
                url-en-savoir-plus="https://assiettesvegetales.org/interview-avec-tours-ou-le-vege-sest-fait-sa-place/"
            >En plus d’un menu entièrement végétarien par semaine, conformément à la loi Egalim, la ville de Tours propose une alternative
                végétarienne quotidienne dans ses cantines scolaires. Face au succès rencontré, notamment permis par une montée en qualité des menus,
                la ville souhaite mettre en place un menu végétarien supplémentaire une semaine sur deux.</Encadre
            >
            <ARetenir>
                <ListLiAvecIcone>
                    Le régime alimentaire moyen en France pose deux problèmes majeurs : il nous rend malades à cause d’une consommation excessive de
                    produits ultra-transformés riches en sucre et en graisses, il n’est pas durable à cause d’une trop grande consommation de produits
                    d’origine animale.
                </ListLiAvecIcone>
                <ListLiAvecIcone
                >Plus notre alimentation est riche en produits d’origine animale, plus elle nécessite une surface agricole
                    importante.</ListLiAvecIcone
                >
                <ListLiAvecIcone>
                    L’élevage moderne s’est éloigné de ses fonctions historiques, il mobilise une quantité disproportionnée de terres arables et
                    d’autres ressources par rapport à sa contribution à l’alimentation humaine.
                </ListLiAvecIcone>
                <ListLiAvecIcone
                >Un régime alimentaire plus vrai (produits bruts ou peu transformés), plus végétal et plus varié permettrait d’améliorer notre
                    santé et la durabilité des systèmes agricoles.</ListLiAvecIcone
                >
                <ListLiAvecIcone
                >Sa généralisation, associée à une réduction des productions animales, nécessite des mesures politiques coordonnées à différentes
                    échelles pour garantir une transition juste et en phase avec les contraintes économiques des producteurs.</ListLiAvecIcone
                >
            </ARetenir>
        </template>
    </TemplateThematique>
</template>

<script setup lang="ts">
import { htmlstring } from '@lga/base';
import { IDS_THEMES } from '@lga/indicateurs';

import { useGetStateIdTerritoire, useRouteSimulateur } from '@/composables';
import ListLiAvecIcone from '~/components/base/ListLiAvecIcone.vue';
import TexteP from '~/components/base/TexteP.vue';
import TexteRenvoiThematique from '~/components/base/TexteRenvoiThematique.vue';
import { creerLienExterneHtmlBrut } from '~/modeles/liens-utils.js';
import type { ItemLienHash } from '~/modeles/navigation/ItemMenuModele.js';
import type { ThematiqueConsommationModele } from '~/modeles/thematiques/thematique-consommation.js';
import { getTheme } from '~/modeles/Theme.js';

import ARetenir from './commun/ARetenir.vue';
import Encadre from './commun/Encadre.vue';
import GloseAvecPopoverDefinition from './commun/GloseAvecPopoverDefinition.vue';
import TexteAvecPopoverSource from './commun/TexteAvecPopoverSource.vue';
import TemplateThematique from './TemplateThematique.vue';

defineProps<{
    modele: ThematiqueConsommationModele;
}>();

const ID_SECTION_1 = 'a-table';
const ID_SECTION_2 = 'que-ton-alimentation-soit-ta-premiere-medecine';
const ID_SECTION_3 = 'nos-amis-les-betes-ont-un-bon-coup-de-fourchette';
const ID_SECTION_4 = 'quand-l-elevage-deraille';
const ID_SECTION_5 = 'l-assiette-du-futur';
const ID_SECTION_6 = 'vers-un-changement-de-regime';

const SECTIONS: ItemLienHash[] = [
    {
        type: 'LIEN_HASH',
        hash: ID_SECTION_1,
        libelle: 'À table !'
    },
    {
        type: 'LIEN_HASH',
        hash: ID_SECTION_2,
        libelle: '« Que ton alimentation soit ta première médecine »'
    },
    {
        type: 'LIEN_HASH',
        hash: ID_SECTION_3,
        libelle: 'Nos amis les bêtes ont un bon coup de fourchette'
    },
    {
        type: 'LIEN_HASH',
        hash: ID_SECTION_4,
        libelle: 'Quand l’élevage déraille'
    },
    {
        type: 'LIEN_HASH',
        hash: ID_SECTION_5,
        libelle: 'L’assiette du futur'
    },
    {
        type: 'LIEN_HASH',
        hash: ID_SECTION_6,
        libelle: 'Vers un changement de régime'
    }
];
</script>
