<template>
    <TemplateThematique :id-theme="modele.idTheme" :sectionsMenu="SECTIONS">
        <template #bandeauTitre>
            <TexteP>
                Du champ à l’assiette, le chemin est long ! La grande majorité de ce que nous mangeons a nécessité plusieurs étapes de transformation
                et de nombreux déplacements entre les usines agroalimentaires, les entrepôts logistiques et les commerces de la grande distribution.
            </TexteP>
        </template>

        <template #[ID_SECTION_1]>
            <TexteP>
                Si les exploitations agricoles se sont bien agrandies ces dernières décennies, avec des fermes passant de plusieurs dizaines à
                plusieurs centaines d’hectares, ce n’est pas grand-chose en comparaison du niveau de concentration atteint par les industries en amont
                et en aval de la production agricole. Une poignée de grands groupes se partagent aujourd’hui l’essentiel des marchés mondiaux de
                l’agrofourniture : semences, pesticides et fertilisants, machinisme, produits vétérinaires. Des fusions-acquisitions récentes de
                groupes géants (rachat de Syngenta par ChemChina en 2017, rachat de Monsanto par Bayer en 2018) sont emblématiques de ce processus.
            </TexteP>

            <Image
                src="/images/thematiques/concentration-firmes-agrofourniture-1574x1105.jpg"
                alt="Diagramme illustrant la concentration des entreprises de l'agrofourniture"
                :width="1574"
                :height="1105"
                :source="
                    htmlstring`Les Greniers d’Abondance CC BY-NC-SA, d’après IPES-Food (2017) Too big to feed: Exploring the impacts of mega-mergers, concentration, concentration of power in the agri-food sector.`
                "
            >
                Évolution de la concentration économique dans l’agrofourniture entre 1994 et 2014, à l’échelle mondiale. Aujourd’hui, pour chacun des
                secteurs présentés, les quatre plus grandes entreprises détiennent plus de 50&nbsp;% des parts de marché mondiales
            </Image>

            <TexteP>
                Il en va de même du côté de l’agroalimentaire et de la grande distribution.
                <TexteAvecPopoverSource
                    numero="1"
                    :source="
                        htmlstring`Agreste (2023) ${creerLienExterneHtmlBrut('https://agreste.agriculture.gouv.fr/agreste-web/disaron/GraFra2023Integral/detail/', 'Graph’Agri 2023. Entreprises agroalimentaires. Chiffres donnés hors microentreprises.')}`
                    "
                >En France, sur 3&nbsp;180 entreprises de la transformation agroalimentaire, 24 d’entre elles sont à l’origine de 44&nbsp;% du
                    chiffre d’affaires du secteur</TexteAvecPopoverSource
                >
                et
                <TexteAvecPopoverSource
                    numero="2"
                    :source="
                        htmlstring`Leclerc, Carrefour, Les Mousquetaires, Système U, Auchan, Casino, Lidl ; données compilées par le cabinet Kantar, voir l’article « Parts de marché de mai-juin 2020: E. Leclerc revient très fort, Carrefour et Casino dévissent toujours » publié en 2020 sur le ${creerLienExterneHtmlBrut('https://www.lsa-conso.fr/parts-de-marche-d-avril-mai-e-leclerc-revient-tres-fort-carrefour-et-casino-devissent-toujours,353554', 'site de LSA')}.`
                    "
                >sept enseignes de la grande distribution contrôlent 94&nbsp;% du marché</TexteAvecPopoverSource
                >.
            </TexteP>

            <TexteP>
                Cette concentration, parfois extrême, pose deux types de problèmes : une organisation spatiale rigide et très dépendante du transport
                routier ; une influence économique et politique qui empêche la transformation du système alimentaire.
            </TexteP>
        </template>

        <template #[ID_SECTION_2]>
            <TexteP>
                <TexteAvecPopoverSource
                    numero="3"
                    :source="
                        htmlstring`Article « Loire-Atlantique : la laiterie Candia de Campbon sera fermée en 2023 » de Even F. publié en février 2022 sur le site de France 3 Régions`
                    "
                >En mai 2023, la laiterie Candia à Campbon (Loire-Atlantique), gérée par la coopérative Sodiaal, arrête définitivement sa
                    production</TexteAvecPopoverSource
                >. 190 travailleurs se retrouvent sur le carreau.
                <TexteAvecPopoverSource
                    numero="4"
                    :source="
                        htmlstring`Ricard D. (2014), « Les mutations des systèmes productifs en France : le cas des filières laitières bovines » Revue Géographique de l’Est, 54(1-2).`
                    "
                >Au nombre de 943 en 1981, les usines de production de lait liquide n’étaient plus que 57 en 2011</TexteAvecPopoverSource
                >. Le sort de la laiterie de Campbon s’inscrit dans la droite lignée de cet écrémage en règle.
                <TexteAvecPopoverSource
                    numero="5"
                    :source="
                        htmlstring`FranceAgriMer (2016), La transformation laitière française : état des lieux et restructuration, Les études de FranceAgriMer.`
                    "
                >Aujourd’hui en France, une dizaine de sites industriels concentrent environ 70&nbsp;% de la production nationale pour chaque
                    grand groupe de produits laitiers</TexteAvecPopoverSource
                >.
                <TexteAvecPopoverSource
                    numero="6"
                    :source="
                        htmlstring`Jourdan F. & Hochereau F. (2019), « La mise en application d’un règlement de protection animale au regard de la structuration des abattoirs français » Anthropology of food, S13.`
                    "
                >Le pays comptait 1&nbsp;700 abattoirs en 1964, ils étaient 265 cinquante ans plus tard</TexteAvecPopoverSource
                >.
                <TexteAvecPopoverSource
                    numero="7"
                    :source="
                        htmlstring`Astier M. (2016), Quel pain voulons-nous ?, Paris, Le Seuil. | Association Nationale de la Meunerie Française (2019), Fiche statistique 2018.`
                    "
                >Le nombre de minoteries est passé de 40&nbsp;000 au début du XXe siècle à 400 dans les années 2010 et seule une trentaine d’entre
                    elles produisent les deux tiers des volumes de farine</TexteAvecPopoverSource
                >.
            </TexteP>

            <TexteP>
                Côté distribution, la disparition de nombreux commerces de bourgs et de centres-villes au profit des grandes et moyennes surfaces
                implantées en périphérie a été tout aussi massive et plus visible encore. Les enseignes de la grande distribution fonctionnent avec un
                réseau de centres logistiques couvrant plusieurs départements et assurant la liaison entre les usines agroalimentaires et les
                commerces.
                <TexteAvecPopoverSource
                    numero="8"
                    :source="
                        htmlstring`${creerLienExterneHtmlBrut('https://www.recrutement.leclerc/le-mouvement/', 'Site internet de l’entreprise')}`
                    "
                >Par exemple, le groupe Leclerc en possède 16, répartis par grandes régions</TexteAvecPopoverSource
                >.
            </TexteP>

            <TexteP>
                Cette concentration industrielle fait augmenter le rayon d’approvisionnement en matières premières et les distances pour écouler les
                marchandises (cf <TexteRenvoiThematique :idTheme="IDS_THEMES.autonomieAlimentaire" />). Les chaînes d’approvisionnement alimentaire
                sont ainsi devenues tributaires du bon fonctionnement du transport routier. Tant que le pétrole coule dans les réservoirs tout roule,
                mais il n’est pas complètement certain que ce soit le programme pour les décennies à venir. Rappelons que la France est complètement
                dépendante des importations pour son approvisionnement en pétrole et que la transition énergétique du fret routier est encore très
                loin d’avoir commencé.
            </TexteP>
        </template>

        <template #[ID_SECTION_3]>
            <TexteP>
                Être en position dominante sur un marché offre plusieurs avantages. On peut d’un côté imposer les termes des négociations avec les
                fournisseurs ou les acheteurs. Pris en étau entre les géants de l’agrofourniture en amont et les industries de l’agroalimentaire et de
                la grande distribution en aval, les agriculteurs ne pèsent pas bien lourd. Le partage de la valeur leur est ainsi notoirement
                défavorable.
                <TexteAvecPopoverSource
                    numero="9"
                    :source="
                        htmlstring`Philippe Boyer, « L’euro alimentaire : méthode et nouveaux résultats pour l’analyse de la répartition de la valeur dans la chaîne agroalimentaire en France », Économie rurale, 378.`
                    "
                >L’agriculture reçoit 10&nbsp;% de la valeur ajoutée induite en France par la consommation alimentaire alors qu’elle rassemble 15
                    % des emplois</TexteAvecPopoverSource
                >,
                <TexteAvecPopoverSource
                    numero="10"
                    :source="
                        htmlstring`Les agriculteurs travaillent en moyenne 53 heures par semaine contre 38 heures pour le reste des actifs, voir le rapport Actif’Agri. Transformations des emplois et des activités en agriculture. Forget V. et al. (2019).`
                    "
                >
                    et vraisemblablement encore plus concernant le travail réellement fourni</TexteAvecPopoverSource
                >.
            </TexteP>

            <TexteP>
                <TexteAvecPopoverSource
                    numero="11"
                    :source="
                        htmlstring`IPES-Food, 2023. Qui fait pencher la balance ? L’influence croissante des grandes entreprises dans la gouvernance des systèmes alimentaires et comment la contrer.`
                    "
                >On peut de l’autre côté exercer son pouvoir dans les champs politique, médiatique, technique et
                    scientifique</TexteAvecPopoverSource
                >. Par exemple en participant à l’établissement de lois et de normes avantageuses, en influençant les préférences alimentaires et les
                comportements de consommation, en promouvant le développement et la mise sur le marché de certaines technologies… C’est ainsi que des
                industriels s’assurent que le cadre économique et réglementaire leur reste favorable, ce qui conduit généralement à verrouiller les
                systèmes de production et à rendre difficile l’émergence d’alternatives. Peut-on vraiment le leur reprocher ? D’une part, le système
                économique et financier les y contraint en partie : concurrence internationale exacerbée, pression pour assurer la rémunération des
                investisseurs à court terme. D’autre part, ces entreprises ne font qu’agir conformément à ce que notre société attend d’elles :
                optimiser leurs bénéfices dans le respect du cadre légal, avec la croyance que la poursuite de ces intérêts privés contribuera à la
                prospérité collective.
            </TexteP>
        </template>

        <template #[ID_SECTION_4]>
            <TexteP>
                La question revient souvent quand un territoire ou un groupe d’acteurs cherche à reprendre la main sur son alimentation et à réduire
                les vulnérabilités des chaînes d’approvisionnement. Les grands groupes industriels et commerciaux peuvent-ils faire partie de la
                solution ? Ou bien leurs motivations mercantiles et leur organisation rigide sont-elles des obstacles indépassables ? Chacun est libre
                d’en juger, mais une chose est sûre, le modèle actuel d’hyper-concentration est fragile et pourrait être mis en difficulté dans un
                monde instable où la situation énergétique se dégrade.
            </TexteP>

            <TexteP>
                La relocalisation d’une partie de notre alimentation grâce à des filières et des plateformes logistiques de proximité permet de
                s’affranchir un peu plus de notre dépendance au pétrole. De nombreuses initiatives vont dans ce sens. Mais pour toucher les grandes
                surfaces, là où s’achète majoritairement la nourriture des français, une réorganisation plus profonde de notre système alimentaire
                sera nécessaire.
            </TexteP>

            <Encadre type="ils-l-ont-fait" localisation="Isère" url-en-savoir-plus="https://www.mangezbioisere.fr/"
            >Les producteurs et transformateurs certifiés « Agriculture Biologique » se sont rassemblés au sein d’une plateforme de distribution «
                Mangez Bio Isère », bénéficiant d’un espace au Marché d'Intérêt National de Grenoble-Alpes Métropole. Cette SCIC permet la
                mutualisation des livraisons pour les producteurs et approvisionne à la fois les lieux de restauration collective et les magasins
                alimentaires du département.</Encadre
            >

            <ARetenir>
                <ListLiAvecIcone>
                    Les secteurs amont et aval de la production agricole sont extrêmement concentrés, cela favorise le maintien du
                    <span class="italic">statu quo</span> car un petit nombre de grandes entreprises contrôlent la majorité du marché.
                </ListLiAvecIcone>
                <ListLiAvecIcone
                >Du fait d’une transformation concentrée sur un petit nombre de sites industriels, les marchandises agricoles et agroalimentaires
                    voyagent beaucoup. Les chaînes d’approvisionnement reposent sur une organisation spatiale rigide et vulnérable face à une
                    perturbation du système de transport.</ListLiAvecIcone
                >
                <ListLiAvecIcone>
                    La situation d’oligopole implique un rapport de force déséquilibré (négociation des prix, établissement de normes législatives et
                    culturelles…).
                </ListLiAvecIcone>
                <ListLiAvecIcone
                >L’émergence de filières de proximité est une bonne chose, mais ne doit pas cacher le besoin d’un changement structurel et
                    planifié.</ListLiAvecIcone
                >
            </ARetenir>
        </template>
    </TemplateThematique>
</template>

<script setup lang="ts">
import { htmlstring } from '@lga/base';
import { IDS_THEMES } from '@lga/indicateurs';

import ListLiAvecIcone from '~/components/base/ListLiAvecIcone.vue';
import TexteP from '~/components/base/TexteP.vue';
import TexteRenvoiThematique from '~/components/base/TexteRenvoiThematique.vue';
import { creerLienExterneHtmlBrut } from '~/modeles/liens-utils.js';
import type { ItemLienHash } from '~/modeles/navigation/ItemMenuModele.js';
import type { ThematiqueModele } from '~/modeles/thematiques/ThematiqueModele.js';

import ARetenir from './commun/ARetenir.vue';
import Encadre from './commun/Encadre.vue';
import Image from './commun/Image.vue';
import TexteAvecPopoverSource from './commun/TexteAvecPopoverSource.vue';
import TemplateThematique from './TemplateThematique.vue';

defineProps<{
    modele: ThematiqueModele;
}>();

const ID_SECTION_1 = 'les-gafam-de-l-alimentation';
const ID_SECTION_2 = 'les-usines-ferment-les-camions-roulent';
const ID_SECTION_3 = 'le-pouvoir-de-ne-rien-changer';
const ID_SECTION_4 = 'pour-developper-les-filieres-de-proximite-faut-il-se-passer-des-geants';

const SECTIONS: ItemLienHash[] = [
    {
        type: 'LIEN_HASH',
        hash: ID_SECTION_1,
        libelle: 'Les GAFAM de l’alimentation'
    },
    {
        type: 'LIEN_HASH',
        hash: ID_SECTION_2,
        libelle: 'Les usines ferment, les camions roulent'
    },
    {
        type: 'LIEN_HASH',
        hash: ID_SECTION_3,
        libelle: 'Le pouvoir de ne rien changer'
    },
    {
        type: 'LIEN_HASH',
        hash: ID_SECTION_4,
        libelle: 'Pour développer les filières de proximité, faut-il se passer des géants ?'
    }
];
</script>
