<template>
    <TemplateThematique :id-theme="modele.idTheme" :sectionsMenu="SECTIONS">
        <template #bandeauTitre>
            <TexteP>
                C’est à la faveur d’un réchauffement global suivi d’une relative stabilité climatique que l’agriculture s’est développée il y a
                environ 10 000 ans. Le dérèglement climatique actuel, avec un réchauffement cent fois plus rapide, va-t-il sonner la fin de la partie
                ? Sans aller jusque-là, nous avons quand même de bonnes raisons de nous intéresser de près au sujet.
            </TexteP>
        </template>

        <template #[ID_SECTION_1]>
            <TexteP>
                <TexteAvecPopoverSource
                    numero="1"
                    :source="
                        htmlstring`Imbach R. (2022) Quatre cartes et graphiques qui montrent la sécheresse exceptionnelle en France qui a commencé dès janvier.
                ${creerLienExterneHtmlBrut('https://www.lemonde.fr/les-decodeurs/article/2022/08/12/quatre-cartes-et-graphiques-qui-montrent-la-secheresse-exceptionnelle-qui-a-commence-des-janvier_6137873_4355770.html', 'Article disponible sur le site du monde')}.`
                    "
                >
                    En 2022, une sécheresse exceptionnelle secoue la France de mai à septembre </TexteAvecPopoverSource
                >. Déficits de précipitations records, vagues de chaleur, les sols agricoles n’ont jamais été aussi secs, dépassant les niveaux
                historiquement bas de 1976. Les cultures d’été souffrent, des éleveurs sont contraints d’abattre des bêtes faute de pouvoir les
                nourrir, des incendies géants se déclarent dans des départements jusque-là préservés, certaines communes doivent être approvisionnées
                en eau potable par camions-citernes.
            </TexteP>

            <TexteP v-if="useGetStateIdTerritoire().value">
                Et chez vous ?
                <Encadre type="focus-territoire" :url-en-savoir-plus="useRouteDiagnosticsIndicateur(modele.indicateurArretesSecheresses.indicateur)">
                    <IndicateurFocusTerritoire
                        :chiffre="modele.indicateurArretesSecheresses.chiffre"
                        :unite="modele.indicateurArretesSecheresses.unite"
                        phrase="de votre territoire a été sous arrêté sécheresse à l'été 2022"
                        :complement="modele.indicateurArretesSecheresses.chiffreComplement"
                    >
                    </IndicateurFocusTerritoire>
                </Encadre>
            </TexteP>

            <TexteP>
                <TexteAvecPopoverSource
                    numero="2"
                    :source="
                        htmlstring`Haut Conseil pour le Climat (2024) Accélérer la transition climatique avec un système alimentaire bas carbone, résilient et juste. Voir notamment page 55.`
                    "
                >Cet épisode nous donne un bel aperçu d’une année « moyenne » dans un monde qui se serait réchauffé de 2°C</TexteAvecPopoverSource
                >. Les années « mauvaises » atteindraient alors des niveaux de sévérité difficiles à imaginer... Ce scénario peu réjouissant pourrait
                devenir la réalité du pays dès 2050 si les tendances actuelles d’émissions de gaz à effet de serre se poursuivent.
            </TexteP>

            <TexteP v-if="useGetStateIdTerritoire().value">
                Et chez vous, il fera quel temps en 2050 ?
                <Encadre type="focus-territoire">
                    <InfographieAnalogueClimatique
                        v-if="modele.infographieAnalogueClimatique?.nomComposant === 'InfographieAnalogueClimatique'"
                        :infographie="modele.infographieAnalogueClimatique as InfographieAnalogueClimatiqueModele"
                    />
                    <InfographieImageMessage v-else :infographie="modele.infographieAnalogueClimatique as InfographieImageMessageModele" />
                </Encadre>
            </TexteP>
        </template>

        <template #[ID_SECTION_2]>
            <TexteP>
                L’élévation de la température moyenne va se traduire en France par
                <TexteAvecPopoverSource
                    numero="3"
                    :source="
                        htmlstring`Dubreuil V. (2021) Evolution des types de climat en France. Article publié sur la plate-forme DRIAS les futurs du climat.`
                    "
                >la progression d’un climat de type méditerrannéen vers le Nord</TexteAvecPopoverSource
                >, avec en particulier des étés plus chauds et plus secs. Les équilibres économiques d’aujourd’hui vont être remis en question dans de
                nombreux territoires, notamment pour les productions viticoles, l’arboriculture, ou les systèmes pastoraux.
                <TexteAvecPopoverSource
                    numero="4"
                    :source="
                        htmlstring`Haut Conseil pour le Climat (2024) Accélérer la transition climatique avec un système alimentaire bas carbone, résilient et juste.`
                    "
                >La productivité des prairies pourrait diminuer de 25&nbsp;% en moyenne, tout comme les rendements du maïs
                    grain</TexteAvecPopoverSource
                >. Pour les élus, l’arbitrage entre les usages de l’eau en période estivale va devenir un sujet brûlant.
            </TexteP>

            <Image
                src="/images/thematiques/projection-indice-humidite-sols-2048x697.png"
                alt=""
                :width="2048"
                :height="697"
                :source="htmlstring`Météo-France/CLIMSEC(2012)`"
            >Projections régionalisées de l’indice d’humidité relative des sols, en moyenne printanière, par rapport à 1970. Le scénario considéré
                correspond à une trajectoire d’émissions de gaz à effet de serre provoquant un réchauffement d’environ 3°C d’ici 2100 (équivalent au
                scénario RCP 6.0 du GIEC).<br />
                Lecture : En 2055, l’indice d’humidité des sols aura une valeur moyenne correspondant aux niveaux « sec » à « extrêmement sec »
                d’aujourd’hui dans la plupart des départements. Un niveau extrêmement sec correspond à la sécheresse de 2003.
            </Image>
        </template>

        <template #[ID_SECTION_3]>
            <TexteP>
                <TexteAvecPopoverSource
                    numero="5"
                    :source="
                        htmlstring`Haut Conseil pour le Climat (2024) Accélérer la transition climatique avec un système alimentaire bas carbone, résilient et juste.`
                    "
                >Les événements climatiques extrêmes vont se multiplier et gagner en intensité</TexteAvecPopoverSource
                >. Des sécheresses inédites vont toucher le pays et provoquer des pertes agricoles très lourdes. Les vagues de chaleur, les
                inondations ou les tempêtes auront des impacts sur les cultures et les élevages, pouvant localement ruiner la production. Les plus
                fortes d’entre elles pourront ébranler sévèrement le système alimentaire
                <TexteAvecPopoverSource
                    numero="6"
                    :source="
                        htmlstring`Voir par exemple les coups de chaud mortels survenus pendant les vendanges de septembre 2023 « Six personnes sont mortes pendant les vendanges en France, dont quatre dans la Marne » sur le ${creerLienExterneHtmlBrut('https://www.lavoixdunord.fr/1372336/article/2023-09-13/six-personnes-sont-mortes-pendant-les-vendanges-en-france', 'site de la Voix du Nord')}.`
                    "
                >en mettant en danger les travailleurs</TexteAvecPopoverSource
                >
                ou en détériorant certaines infrastructures critiques (routes, silos, usines, réseau électrique).
            </TexteP>
            <TexteP>
                Plus généralement, le dérèglement climatique et l’épuisement des énergies fossiles nous font entrer dans une période de grande
                incertitude, propice aux perturbations. Des crises sont susceptibles de mettre sous tension le système alimentaire, qu’elles
                surviennent sur le territoire national ou qu’elles nous touchent indirectement à travers l’interconnexion des économies à l’échelle
                mondiale : crise financière, crise sanitaire, conflit armé, mouvements sociaux, actes de malveillance ou terrorisme...
                <TexteAvecPopoverSource
                    numero="7"
                    :source="
                        htmlstring`Les Greniers d’Abondance (2022) Qui veille au grain ? Sécurité alimentaire : une affaire d’État. Éditions Yves Michel.`
                    "
                >Les événements climatiques extrêmes vont se multiplier et gagner en intensité</TexteAvecPopoverSource
                >.
                <TexteAvecPopoverSource numero="8" :source="htmlstring`Linou S. (2019) Résilience alimentaire et sécurité nationale.`"
                >En France, la prise en compte des risques de rupture des chaînes d’approvisionnement en nourriture est embryonnaire, et le niveau
                    de préparation de la population minime</TexteAvecPopoverSource
                >.
            </TexteP>
        </template>

        <template #[ID_SECTION_4]>
            <TexteP>
                Bonne nouvelle : la généralisation de l’agroécologie permet non seulement de réduire nos dépendances à des ressources critiques, de
                limiter les impacts négatifs de l’agriculture mais aussi
                <TexteAvecPopoverSource
                    numero="9"
                    :source="
                        htmlstring`Haut Conseil pour le Climat (2024) Accélérer la transition climatique avec un système alimentaire bas carbone, résilient et juste.`
                    "
                >de s’adapter au dérèglement climatique</TexteAvecPopoverSource
                >
                (cf <TexteRenvoiThematique :idTheme="IDS_THEMES.biodiversite" />). En diversifiant les systèmes de culture, on ne met pas tous ses
                œufs dans le même panier en cas d’événement climatique extrême. En améliorant la teneur des sols en matière organique, on leur permet
                de mieux retenir l’eau et de mieux résister aux sécheresses. En remettant des arbres dans les campagnes, on protège les cultures du
                vent et des coups de chaud et on offre de l’ombre aux animaux. Mais pour que l'agroécologie devienne la norme, il faut s’attaquer à
                des verrous politiques et économiques majeurs.
            </TexteP>

            <Encadre type="ils-l-ont-fait" url-en-savoir-plus="https://awa.agriadapt.eu/fr/"
            >La plate-forme AgriAdapt recense les risques climatiques auxquels sont exposées les exploitations agricoles en fonction des
                territoires. Elle présente également des mesures d’adaptation propres à différents systèmes de production (grandes cultures, élevage,
                fruits et vignes).</Encadre
            >

            <TexteP>
                Notre sécurité alimentaire future dépendra aussi de notre capacité à anticiper les crises et à réagir rapidement et avec efficacité en
                cas de choc.
                <TexteAvecPopoverSource
                    numero="10"
                    :source="
                        htmlstring`Voir par exemple ${creerLienExterneHtmlBrut('https://afpcnt.org/wp-content/uploads/sites/6/2024/02/Plaquette-Resilience-alimentaire-Version-du-2-fevrier-2024.pdf', 'cette infographie')} sur le site de l’Association Française pour la Prévention des Catastrophes Naturelles et Technologiques.`
                    "
                >La prévention des risques peut commencer au domicile en faisant des stocks adaptés d’eau et de nourriture</TexteAvecPopoverSource
                >. Elle prend également une dimension collective et les élus, garants de l’ordre public, ont tout intérêt à se saisir du sujet.
                <TexteAvecPopoverSource
                    numero="11"
                    :source="htmlstring`Bodiguel L. et al. (2023) Rapport de synthèse du projet ATLASS 2. Volet 3 - Outiller.`"
                >Ils peuvent pour cela s’inspirer des protocoles de prévention et de gestion d’autres risques comme le Programme d’Action et de
                    Prévention des Inondations et l’adapter aux situations de rupture des chaînes d’approvisionnement en
                    nourriture</TexteAvecPopoverSource
                >.
            </TexteP>

            <ARetenir>
                <ListLiAvecIcone>
                    Les effets du dérèglement climatique sur l’agriculture se font déjà sentir et vont s’intensifier dans les décennies à venir.
                </ListLiAvecIcone>
                <ListLiAvecIcone>
                    On s’attend à une dégradation progressive de la productivité des prairies et des rendements des cultures d’été et à un
                    accroissement des tensions pour l’usage de l’eau.
                </ListLiAvecIcone>
                <ListLiAvecIcone>
                    Les événements climatiques extrêmes (sécheresses, vagues de chaleur, pluies intenses, tempêtes) vont devenir plus fréquents et
                    plus intenses, avec des conséquences potentiellement très graves pour le monde agricole (pertes économiques, mise en danger des
                    travailleurs).
                </ListLiAvecIcone>
                <ListLiAvecIcone>
                    De nombreuses pratiques agroécologiques sont pertinentes du point de vue de l’adaptation au dérèglement climatique. Elles
                    apportent une plus grande sécurité économique dans un environnement instable.
                </ListLiAvecIcone>
                <ListLiAvecIcone>
                    Face à des crises brutales (dysfonctionnement des systèmes électriques ou de transports, choc pétrolier, conflit international)
                    notre sécurité alimentaire peut se détériorer rapidement. Nous pouvons anticiper ces risques et nous y préparer collectivement.
                </ListLiAvecIcone>
            </ARetenir>
        </template>
    </TemplateThematique>
</template>

<script setup lang="ts">
import { htmlstring } from '@lga/base';
import { IDS_THEMES } from '@lga/indicateurs';

import { useGetStateIdTerritoire, useRouteDiagnosticsIndicateur } from '@/composables';
import TexteP from '~/components/base/TexteP.vue';
import TexteRenvoiThematique from '~/components/base/TexteRenvoiThematique.vue';
import type { InfographieAnalogueClimatiqueModele, InfographieImageMessageModele } from '~/modeles/constats/InfographieModele.js';
import { creerLienExterneHtmlBrut } from '~/modeles/liens-utils.js';
import type { ItemLienHash } from '~/modeles/navigation/ItemMenuModele.js';
import type { ThematiqueClimatModele } from '~/modeles/thematiques/thematique-climat.js';

import ListLiAvecIcone from '../../base/ListLiAvecIcone.vue';
import InfographieAnalogueClimatique from '../infographies/InfographieAnalogueClimatique.vue';
import InfographieImageMessage from '../infographies/InfographieImageMessage.vue';
import ARetenir from './commun/ARetenir.vue';
import Encadre from './commun/Encadre.vue';
import Image from './commun/Image.vue';
import IndicateurFocusTerritoire from './commun/IndicateurFocusTerritoire.vue';
import TexteAvecPopoverSource from './commun/TexteAvecPopoverSource.vue';
import TemplateThematique from './TemplateThematique.vue';

defineProps<{
    modele: ThematiqueClimatModele;
}>();

const ID_SECTION_1 = 'ca-va-etre-chaud';
const ID_SECTION_2 = 'l-agriculture-en-premiere-ligne';
const ID_SECTION_3 = 'chocs-climatiques-et-autres-crises-des-risques-pour-la-securite-alimentaire';
const ID_SECTION_4 = 's-adapter-aux-evolutions-en-cours-et-anticiper-les-chocs';

const SECTIONS: ItemLienHash[] = [
    {
        type: 'LIEN_HASH',
        hash: ID_SECTION_1,
        libelle: 'Ça va être chaud'
    },
    {
        type: 'LIEN_HASH',
        hash: ID_SECTION_2,
        libelle: 'L’agriculture en première ligne'
    },
    {
        type: 'LIEN_HASH',
        hash: ID_SECTION_3,
        libelle: 'Chocs climatiques et autres crises : des risques pour la sécurité alimentaire ?'
    },
    {
        type: 'LIEN_HASH',
        hash: ID_SECTION_4,
        libelle: 'S’adapter aux évolutions en cours et anticiper les chocs'
    }
];
</script>
