<template>
    <TemplateThematique :id-theme="modele.idTheme" :sectionsMenu="SECTIONS">
        <template #bandeauTitre>
            <TexteP>
                La souveraineté alimentaire de la France, une illusion ? L’image de grande puissance agricole souvent associée à notre pays masque sa
                dépendance totale à plusieurs ressources et technologies importées. Or leur disponibilité est loin d’être garantie dans les années à
                venir.
            </TexteP>
        </template>

        <template #[ID_SECTION_1]>
            <TexteP>
                Les énergies fossiles sont présentes à tous les niveaux de la chaîne de production de nourriture : fabrication des intrants (en
                particulier des engrais minéraux), travaux agricoles, transports des marchandises, fonctionnement des usines agroalimentaires et des
                supermarchés. Hors consommation des ménages (déplacements, cuisson des aliments), on estime que l’alimentation des français nécessite
                <TexteAvecPopoverSource
                    numero="1"
                    :source="
                        htmlstring`Données en énergie primaire calculées dans l’étude « L’empreinte énergétique et carbone de l’alimentation en France » de Barbier et al. (2019).`
                    "
                >25 millions de tonnes équivalent pétrole par an</TexteAvecPopoverSource
                >. Avec le
                <TexteAvecPopoverSource
                    numero="2"
                    :source="
                        htmlstring`Part du pétrole dans le mix primaire = 35 % ; part du gaz = 18 % ; voir « Bilan énergétique de la France » sur le ${creerLienExterneHtmlBrut('https://www.statistiques.developpement-durable.gouv.fr/edition-numerique/chiffres-cles-energie-2021/6-bilan-energetique-de-la-france', 'site du ministère de la transition écologique')}.`
                    "
                >mix énergétique actuel</TexteAvecPopoverSource
                >
                cela représente
                <TexteAvecPopoverSource
                    numero="3"
                    :source="
                        htmlstring`Données utilisées pour le calcul : volume de pétrole fournissant une tep = 1165 litres (${creerLienExterneHtmlBrut('https://www.bp.com/content/dam/bp/business-sites/en/global/corporate/pdfs/energy-economics/statistical-review/bp-stats-review-2021-approximate-conversion-factors.pdf', 'données BP')}) ; volume de gaz fournissant une tep = 1163 m3 (données ${creerLienExterneHtmlBrut('https://www.bp.com/content/dam/bp/business-sites/en/global/corporate/pdfs/energy-economics/statistical-review/bp-stats-review-2021-approximate-conversion-factors.pdf', 'données BP')}) ; masse volumique du gaz = 0,8 kg / m3.`
                    "
                >environ 40 cl de pétrole et 170 g de gaz par personne par jour </TexteAvecPopoverSource
                >.
            </TexteP>

            <TexteP>
                Mauvaise nouvelle, la disponibilité des énergies fossiles va décroître au cours des prochaines décennies. Il s’agit en effet de
                ressources non renouvelables dont le pic de production est en passe d’être franchi à l’échelle mondiale.
                <TexteAvecPopoverSource
                    numero="4"
                    :source="
                        htmlstring`Rapport « Approvisionnement pétrolier futur de l’Union Européenne : état des réserves et perspectives de production des principaux pays fournisseurs » publié en 2021 par The Shift Project.`
                    "
                >Même dans un scénario optimiste, la production de pétrole des principaux fournisseurs de l’Union Européenne aura baissé de moitié
                    d’ici 2050</TexteAvecPopoverSource
                >. Dans ce contexte, la concurrence entre pays acheteurs va devenir de plus en plus rude et les tensions sur l’approvisionnement
                risquent de se multiplier, notamment pour des raisons géopolitiques. On commence à s’occuper du problème ou on attend la dernière
                goutte ?
            </TexteP>

            <Image
                src="/images/thematiques/production-petrole-2220x1211.png"
                alt="Production pétrole"
                :width="2220"
                :height="1211"
                :source="
                    htmlstring`Graphique issu du rapport « Approvisionnement pétrolier futur de l’Union Européenne : état des réserves et perspectives de production des principaux pays fournisseurs » publié en 2021 par The Shift Project.`
                "
            >
                Évolution historique et projections jusqu’en 2050 de la production de pétrole brut des seize principaux pays fournisseurs de l’Union
                Européenne.
            </Image>
        </template>

        <template #[ID_SECTION_2]>
            <TexteP>
                Tout système agricole se doit d’assurer le renouvellement de la fertilité des sols. Depuis la seconde moitié du XXe siècle, notre
                agriculture dépend pour cela des <GloseAvecPopoverDefinition cleGlose="engraisMinerauxSynthese" />. C’est en grande partie grâce à ces
                produits, et notamment aux engrais azotés, que les rendements d’une culture comme le blé sont passés de 1,5 à 7 tonnes par hectare en
                50 ans !
                <TexteAvecPopoverSource numero="5" :source="sourceEngrais"
                >La France consomme chaque année {{ formaterNombreEnEntierString(chiffreEngraisTonnes) }} de tonnes d’engrais
                    minéraux</TexteAvecPopoverSource
                >, soit 350&nbsp;g par jour par habitant, les engrais azotés en représentant la plus grande part.
            </TexteP>

            <Encadre type="figure" titre="Cuba dans les années 1990" sous-titre="Un exemple de rupture d’approvisionnement en engrais">
                <TexteP> Fin 1991, Cuba a subitement été privée d'environ 70% de ses engrais de synthèse et pesticides. </TexteP>
                <TexteP>
                    En 3 ans, la production agricole - fortement industrialisée à l'époque - a diminué de moitié et l'apport calorique moyen des
                    habitants, d'un tiers.
                </TexteP>
            </Encadre>

            <TexteP>
                Que ce soit pour les produits eux-mêmes ou pour les matières premières nécessaires à leur synthèse, l’approvisionnement de la France
                en engrais minéraux repose quasi-intégralement sur les importations. De plus, la fabrication de ces engrais consomme des ressources
                non renouvelables : du gaz fossile pour les engrais azotés, des gisements miniers pour les engrais phosphatés. L’épuisement programmé
                de ces ressources va nous obliger à utiliser de moins en moins d’engrais minéraux et notre dépendance aux importations nous rend
                vulnérables face aux perturbations géopolitiques.
            </TexteP>

            <Image
                src="/images/thematiques/gaz-engrais-prix-1606x958.png"
                alt="Prix gaz"
                :width="1606"
                :height="958"
                :source="
                    htmlstring`Les Greniers d’Abondance d’après les données EEX (PEG Monthly index, disponible sur le ${creerLienExterneHtmlBrut('https://www.cnr.fr/espaces/13/indicateurs/88', 'site du Comité National Routier')} et INSEE (${creerLienExterneHtmlBrut('https://www.insee.fr/fr/statistiques/serie/010539020#Tableau', `Indice mensuel des prix d'achat des moyens de production agricole (IPAMPA) - Engrais simples azotés`)}).`
                "
            >
                Suite à la flambée du cours du gaz fossile entre 2021 et 2022, le prix des engrais azotés a été multiplié par trois.
            </Image>
        </template>

        <template #[ID_SECTION_3]>
            <TexteP>
                L’utilisation de pesticides issus de l’industrie chimique a été un autre pilier de l’augmentation des rendements agricoles de la
                seconde moitié du XXe siècle. Ils permettent de lutter contre les <GloseAvecPopoverDefinition cleGlose="adventices" />, les animaux
                qui se nourrissent des cultures (principalement des insectes) et les pathogènes (principalement des champignons). En 2021,
                <TexteAvecPopoverSource
                    numero="6"
                    :source="
                        htmlstring`Agreste (2023) ${creerLienExterneHtmlBrut('https://agreste.agriculture.gouv.fr/agreste-web/disaron/GraFra2023Integral/detail/', 'Graph’Agri 2023. Produits de protection des cultures.')}`
                    "
                >la France en a consommé 69&nbsp;600 tonnes</TexteAvecPopoverSource
                >, soit près de 1 kg par habitant. Ces produits ou les substances actives nécessaires à leur fabrication sont très largement importés
                et
                <TexteAvecPopoverSource
                    numero="7"
                    :source="
                        htmlstring`IPES-Food (2017) Too big to feed: Exploring the impacts of mega-mergers, concentration, concentration of power in the agri-food sector.`
                    "
                >une poignée d’entreprises se partagent l’essentiel du marché</TexteAvecPopoverSource
                >.
                <TexteAvecPopoverSource
                    numero="8"
                    :source="
                        htmlstring`Article ${creerLienExterneHtmlBrut('https://www.lemonde.fr/economie/article/2021/11/30/pesticides-la-nouvelle-hegemonie-chinoise_6104090_3234.html', '« Pesticides : la nouvelle hégémonie chinoise »')} publié en 2021 dans Le Monde`
                    "
                >La Chine par exemple a récemment acquis une place dominante et contrôle près de la moitié du marché
                    mondial</TexteAvecPopoverSource
                >.
            </TexteP>

            <TexteP>
                La dépendance aux pesticides constitue une vulnérabilité dans un contexte où les chaînes d’approvisionnement mondialisées pourraient
                être déstabilisées par des crises géopolitiques ou économiques. Sans parler des conséquences de ces produits sur la santé des
                travailleurs agricoles et sur les écosystèmes (cf <TexteRenvoiThematique :idTheme="IDS_THEMES.biodiversite" />).
            </TexteP>

            <TexteP v-if="useGetStateIdTerritoire().value">
                Qu’en est-il sur votre territoire ?
                <Encadre type="focus-territoire" :url-en-savoir-plus="useRouteDiagnosticsIndicateur(modele.quantitePesticides.indicateur)">
                    <IndicateurFocusTerritoire
                        :chiffre="modele.quantitePesticides.chiffre"
                        :unite="modele.quantitePesticides.unite"
                        :complement="modele.quantitePesticides.chiffreComplement"
                        complement2="Attention, seules les substances considérées dangereuses pour les humains ou l'environnement sont prises en compte dans l'indicateur (elles représentent 2/3 du total)."
                    >
                    </IndicateurFocusTerritoire>
                </Encadre>
            </TexteP>
        </template>

        <template #[ID_SECTION_4]>
            <TexteP>
                La France est un pays où l’élevage industriel est très présent, mais la plupart de ces animaux ne pourraient être nourris sans
                l’importation d’aliments riches en protéines comme les tourteaux de soja. La France en importe en effet
                <TexteAvecPopoverSource numero="9" :source="sourceImportationSoja"
                >{{ chiffreImportationSojaMillionsTonnes }} millions de tonnes par an</TexteAvecPopoverSource
                >, soit 130 g par jour par habitant. Le Brésil est notre principal fournisseur. Pour produire nous-mêmes cet aliment, il faudrait
                cultiver du soja sur
                <TexteAvecPopoverSource
                    numero="10"
                    :source="htmlstring`Hypothèses de calcul : rendement moyen de 2,6 tonnes par ha ; rendement trituration de 0,8.`"
                >1,6 millions d’hectares</TexteAvecPopoverSource
                >, soit toute la surface agricole de la Bretagne.
            </TexteP>

            <TexteP>
                Cette dépendance vis-à-vis des pays exportateurs peut devenir un instrument de pression en cas de tensions géopolitiques et nous
                expose à la volatilité des marchés mondiaux. La culture du soja dans le bassin amazonien s’accompagne par ailleurs d’une importante
                déforestation, détruisant l’un des écosystèmes les plus riches de la planète et contribuant à l’émission de CO2 dans l’atmosphère.
            </TexteP>

            <Image src="/images/thematiques/deforestation-416x448.png" alt="Déforestation en Amérique du Sud" :width="416" :height="448">
                Le développement de la culture du soja en Amérique du Sud est l’une des causes principales de la déforestation.
            </Image>
        </template>

        <template #[ID_SECTION_5]>
            <TexteP>
                L’agriculture en France est majoritairement pluviale,
                <TexteAvecPopoverSource
                    numero="11"
                    :source="
                        htmlstring`Agreste (2023) ${creerLienExterneHtmlBrut('https://agreste.agriculture.gouv.fr/agreste-web/disaron/GraFra2023Integral/detail/', 'Graph’Agri 2023. Pratiques culturales')} : 1,8 millions d’hectares irrigués ; 18 millions d’hectares de terres hors prairies permanentes.`
                    "
                >seules 10&nbsp;% des surfaces cultivées sont irriguées</TexteAvecPopoverSource
                >. Pourtant,
                <TexteAvecPopoverSource
                    numero="12"
                    :source="
                        htmlstring`Article ${creerLienExterneHtmlBrut('https://www.notre-environnement.gouv.fr/actualites/breves/article/prelevee-ou-consommee-comment-compter-sur-l-eau?type-ressource=indispensable&lien-ressource=213&theme-ressource=439&type-liaison=indispensable&ancreretour=ressources', '« Prélevée ou consommée : comment compter (sur) l’eau ? »')} publié sur le site du Commissariat général au développement durable.`
                    "
                >la consommation agricole d’eau représente 58&nbsp;% de la consommation annuelle totale du pays</TexteAvecPopoverSource
                >.
                <TexteAvecPopoverSource
                    numero="13"
                    :source="
                        htmlstring`Rapport « Eau et milieux aquatiques. Les chiffres clés. Édition 2020. » édité par le service des données et études statistiques (SDES) en partenariat avec l’office français de la biodiversité (OFB).`
                    "
                >Entre juin et août, cette part dépasse les 90&nbsp;% dans la plupart des bassins hydrographiques du sud et du
                    sud-ouest</TexteAvecPopoverSource
                >. La culture du maïs est celle qui pèse le plus sur la ressource eau, malgré sa faible contribution à l’alimentation humaine
                (<TexteAvecPopoverSource
                    numero="14"
                    :source="
                        htmlstring`Agreste (2023) ${creerLienExterneHtmlBrut('https://agreste.agriculture.gouv.fr/agreste-web/disaron/GraFra2023Integral/detail/', 'Graph’Agri 2023. Pratiques culturales.')}`
                    "
                >39&nbsp;% des surfaces irriguées</TexteAvecPopoverSource
                >, avec des besoins en eau centrés sur la période estivale).
            </TexteP>

            <TexteP>
                L’irrigation peut mobiliser des eaux de surface ou souterraines, issues de réservoirs naturels (nappes souterraines, lacs, rivières,
                etc.) ou artificiels (retenues et barrages). Les territoires sont très inégaux vis-à-vis de la disponibilité de la ressource. Certains
                peuvent compter sur des réservoirs souterrains de grande capacité et à forte inertie, capables de résister à des sécheresses de longue
                durée (plaines du bassin parisien). D’autres au contraire subissent rapidement les effets d’un manque de précipitations (massifs
                armoricain et central).
            </TexteP>

            <TexteP>
                Le dérèglement climatique va accentuer le déficit estival de précipitations et provoquer une élévation des températures. L’évaporation
                de l’eau augmentera et le risque de sécheresse également. De même, la réduction du volume des glaciers en montagne va conduire à une
                diminution des débits des cours d’eau qu’ils alimentent. L’agriculture devra donc faire face à la fois à une augmentation des besoins
                en eau des plantes, notamment l’été, et une diminution de la disponibilité de la ressource. Dès lors, réduire notre dépendance à
                l’irrigation et réserver l’eau aux cultures qui contribuent le plus à notre sécurité alimentaire est une voie d’adaptation essentielle
                (cf <TexteRenvoiThematique :idTheme="IDS_THEMES.climat" />).
            </TexteP>

            <TexteP v-if="useGetStateIdTerritoire().value">
                Et chez vous ?
                <Encadre
                    type="focus-territoire"
                    :url-en-savoir-plus="useRouteDiagnosticsIndicateur(modele.tendanceEvolutionPrelevementsEau.indicateur)"
                >
                    <IndicateurFocusTerritoire
                        :chiffre="modele.tendanceEvolutionPrelevementsEau.chiffre"
                        :unite="modele.tendanceEvolutionPrelevementsEau.unite"
                        :complement="modele.tendanceEvolutionPrelevementsEau.chiffreComplement"
                    >
                    </IndicateurFocusTerritoire>
                </Encadre>
            </TexteP>
        </template>

        <template #[ID_SECTION_6]>
            <TexteP>
                Notre système alimentaire dépend d’un ensemble de technologies complexes : machines agricoles, biotechnologies, chaînes de production
                agroalimentaire automatisées, logiciels de gestion logistique, etc. La numérisation et la robotisation du secteur progressent,
                <TexteAvecPopoverSource
                    numero="15"
                    :source="
                        htmlstring`GRAIN (2021) Contrôle numérique : comment les Big Tech se tournent vers l’alimentation et l’agriculture (et ce que cela signifie).`
                    "
                >souvent portées par des multinationales en situation d’oligopole</TexteAvecPopoverSource
                >. La souveraineté de notre pays en la matière est très faible. Il n’y a par exemple plus d’entreprise française fabriquant des
                tracteurs.
            </TexteP>

            <TexteP>
                Si ces technologies ne sont pas par principe dénuées d’intérêt, la plupart s’inscrivent dans le paradigme productiviste actuel et
                risquent donc de renforcer les problèmes de déclin de la population agricole, d’endettement et d’asymétrie de pouvoir entre
                industriels d’une part et agriculteurs / consommateurs d’autre part. La perte d’autonomie technique rend les exploitations agricoles
                vulnérables face aux dysfonctionnements des équipements ou au durcissement des relations commerciales avec les fournisseurs. Plus
                généralement, cette complexité technologique devient une fragilité dans un monde où l’accès aux ressources en énergie et en métaux est
                de plus en plus difficile et où s’accroît le risque de perturbations touchant les chaînes de production mondialisées, les systèmes de
                transport ou de communication.
            </TexteP>
        </template>

        <template #[ID_SECTION_7]>
            <TexteP>
                Retrouver de l’autonomie revient à mieux choisir nos dépendances de sorte à ce que notre sécurité alimentaire ne repose pas sur des
                ressources qui se raréfient et sur des multinationales ou des États qui à l’avenir pourraient ne pas toujours se montrer coopératifs.
            </TexteP>

            <TexteP>
                La généralisation des pratiques agroécologiques constitue le principal levier pour réduire nos dépendances externes, tout en
                présentant d'autres bénéfices majeurs comme l'amélioration de la santé humaine et celle des écosystèmes. Les grands principes de
                l’agroécologie et les obstacles à surmonter pour son développement sont détaillés dans le thème suivant.
            </TexteP>

            <ARetenir>
                <ListLiAvecIcone>
                    Les niveaux de production atteints par l’agriculture française reposent sur des ressources et technologies importées dont la
                    disponibilité n’est pas garantie pour les années à venir.
                </ListLiAvecIcone>
                <ListLiAvecIcone
                >Au premier rang de nos dépendances critiques figurent les énergies fossiles et les engrais de synthèse, notamment azotés. Des
                    contraintes sur les prix ou sur les volumes disponibles sont susceptibles de mettre en grande difficulté notre système
                    alimentaire.</ListLiAvecIcone
                >
                <ListLiAvecIcone>
                    Notre souveraineté est également limitée dans le domaine des pesticides, de l’alimentation animale, du machinisme agricole et des
                    nouvelles technologies numériques appliquées à l’agriculture. Cela nous rend vulnérable en cas de perturbation des chaînes de
                    production mondialisées ou dans le cas d’un différend avec une des grandes entreprises ou un des États fournisseurs.
                </ListLiAvecIcone>
                <ListLiAvecIcone
                >La recherche d’une plus grande autonomie et d’une plus grande sobriété dans l’usage des ressources est au cœur de la démarche
                    agroécologique. Son développement améliorera notre souveraineté alimentaire.</ListLiAvecIcone
                >
            </ARetenir>
        </template>
    </TemplateThematique>
</template>

<script setup lang="ts">
import { formaterNombreEnEntierString, htmlstring } from '@lga/base';
import { IDS_THEMES } from '@lga/indicateurs';

import { useGetStateIdTerritoire, useRouteDiagnosticsIndicateur } from '@/composables';
import ListLiAvecIcone from '~/components/base/ListLiAvecIcone.vue';
import TexteP from '~/components/base/TexteP.vue';
import TexteRenvoiThematique from '~/components/base/TexteRenvoiThematique.vue';
import {
    chiffreEngraisTonnes,
    chiffreImportationSojaMillionsTonnes,
    sourceEngrais,
    sourceImportationSoja
} from '~/modeles/constats/constats-ressources.js';
import { creerLienExterneHtmlBrut } from '~/modeles/liens-utils.js';
import type { ItemLienHash } from '~/modeles/navigation/ItemMenuModele.js';
import type { ThematiqueRessourcesModele } from '~/modeles/thematiques/thematique-ressources.js';

import ARetenir from './commun/ARetenir.vue';
import Encadre from './commun/Encadre.vue';
import GloseAvecPopoverDefinition from './commun/GloseAvecPopoverDefinition.vue';
import Image from './commun/Image.vue';
import IndicateurFocusTerritoire from './commun/IndicateurFocusTerritoire.vue';
import TexteAvecPopoverSource from './commun/TexteAvecPopoverSource.vue';
import TemplateThematique from './TemplateThematique.vue';

defineProps<{
    modele: ThematiqueRessourcesModele;
}>();

const ID_SECTION_1 = 'pas-de-souverainete-sur-l-energie';
const ID_SECTION_2 = 'pas-de-souverainete-sur-les-engrais';
const ID_SECTION_3 = 'pas-de-souverainete-sur-les-pesticides';
const ID_SECTION_4 = 'pas-de-souverainete-sur-l-alimentation-des-animaux';
const ID_SECTION_5 = 'pas-de-certitudes-sur-les-capacites-d-irrigation-futures';
const ID_SECTION_6 = 'pas-de-souverainete-sur-les-technologies-complexes';
const ID_SECTION_7 = 'et-si-on-renforcait-notre-autonomie';

const SECTIONS: ItemLienHash[] = [
    {
        type: 'LIEN_HASH',
        hash: ID_SECTION_1,
        libelle: 'Pas de souveraineté sur l’énergie'
    },
    {
        type: 'LIEN_HASH',
        hash: ID_SECTION_2,
        libelle: 'Pas de souveraineté sur les engrais'
    },
    {
        type: 'LIEN_HASH',
        hash: ID_SECTION_3,
        libelle: 'Pas de souveraineté sur les pesticides'
    },
    {
        type: 'LIEN_HASH',
        hash: ID_SECTION_4,
        libelle: 'Pas de souveraineté sur l’alimentation des animaux'
    },
    {
        type: 'LIEN_HASH',
        hash: ID_SECTION_5,
        libelle: 'Pas de certitudes sur les capacités d’irrigation futures'
    },
    {
        type: 'LIEN_HASH',
        hash: ID_SECTION_6,
        libelle: 'Pas de souveraineté sur les technologies complexes'
    },
    {
        type: 'LIEN_HASH',
        hash: ID_SECTION_7,
        libelle: 'Et si on renforçait notre autonomie ?'
    }
];
</script>
