<template>
    <div :id="IDS_DOMAINES.adequationProductionConsommation">
        <TitreH3>L'adéquation théorique entre production et consommation</TitreH3>

        <TexteP>
            Cet indicateur représente la part de la consommation du territoire qui pourrait <i>en théorie</i> être couverte par sa propre production.
        </TexteP>

        <TitreH4>Nomenclature des groupes de cultures</TitreH4>
        <TexteP>
            Pour présenter la production et la consommation par grandes catégories de cultures, une nomenclature des
            <strong>cultures</strong> et <strong>groupes de cultures</strong> est utilisée.
        </TexteP>
        <TexteP
        >Les <strong>groupes de cultures</strong> sont les suivants :
            <ul>
                <li>Céréales : blé, maïs, orge...</li>
                <li>Oléoprotéagineux : légumineuses, tourteaux, colza, tournesol...</li>
                <li>Fourrages : cultures à destination exclusive des animaux (prairies, maïs pour fourrage...)</li>
                <li>Fruits et légumes : fruits, légumes et fruits à coque</li>
                <li>Autres cultures : betterave sucrière, oliviers, pommes de terre, tabac, vignes, plantes médicinales...</li>
                <li>Surfaces non cultivées : jachères...</li>
            </ul>
        </TexteP>

        <TexteP>
            <strong
            >Nota: les “Surfaces non cultivées“, dites aussi “Surfaces peu productives“, ne sont pas prises en compte dans les calculs.</strong
            >
        </TexteP>

        <TexteP
        >Chaque “<strong>groupe de cultures</strong>” rassemble un ensemble de “<strong>cultures</strong>”, qui permettent :
            <ul>
                <li>
                    de faire les correspondances avec la codification des cultures en provenance du
                    <LienMethodologieSourceDonnee :sourceDonnee="SOURCES_DONNEES.rpg" />, pour identifier les différents types de production ;
                </li>
                <li>
                    de faire les correspondances avec la codification des produits fournis par l’application PARCEL, pour identifier les différents
                    types de consommation.
                </li>
            </ul>
        </TexteP>

        <TitreH4>La production agricole du territoire : l’évaluation des surfaces agricoles utiles par types de cultures</TitreH4>
        <TexteP>
            Cet indicateur mesure la production agricole d'un territoire, en hectares de surface agricole utile. Il est calculé pour chaque
            &quot;groupe de cultures&quot; et pour toutes les cultures confondues (somme de tous les groupes de cultures).
        </TexteP>
        <TexteP>
            Les valeurs sont calculées à partir du <LienMethodologieSourceDonnee :sourceDonnee="SOURCES_DONNEES.rpg" />, en évaluant les surfaces
            agricoles utiles pour chaque culture présente sur le territoire de chaque commune.
        </TexteP>
        <TexteP>
            On agrège ensuite ces données sur les groupes de cultures via une correspondance entre les codes cultures définis dans le
            <LienMethodologieSourceDonnee :sourceDonnee="SOURCES_DONNEES.rpg" /> et les groupes de cultures, au niveau de chaque commune, puis sur les
            différentes échelles territoriales.
        </TexteP>
        <TexteP>
            <strong>Limitations actuelles</strong> : la succession culturale dans la même année n'est pas prise en compte (utilisation de la seule
            culture principale, et pas des cultures secondaires qui sont disponibles dans le
            <LienMethodologieSourceDonnee :sourceDonnee="SOURCES_DONNEES.rpg" />). En conséquence, les données de production obtenues risque d'être
            sous-estimées, mais la plupart du temps cela ne devrait pas impacter les ordres de grandeur des résultats. D’une part parce que ces
            cultures secondaires sont encore relativement peu répandues et d’autre part parce que leur contribution à l’alimentation est souvent bien
            plus faible que celle de la culture principale (e.g. moutarde, cameline, chanvre).
        </TexteP>

        <TitreH4>La consommation du territoire</TitreH4>
        <TexteP>
            Elle est obtenue à partir de l’application <LienMethodologieSourceDonnee :sourceDonnee="SOURCES_DONNEES.consommation_sau" />, qui fournit
            des évaluations de cette consommation pour la population d’un territoire, par types de produits, pour l'assiette actuelle et sur la base
            de la part des surfaces actuelles dédiées aux productions bio. Les produits représentent les produits alimentaires, après transformation.
            L'assiette actuelle correspond à celle d'un Français moyen actuellement.
        </TexteP>
        <TexteP
        >Pour chaque produit, les valeurs sont ensuite traduites en hectares de surfaces agricoles utiles par types de cultures :
            <ul>
                <li>
                    en utilisant une correspondance simple entre les produits PARCEL et les cultures pour les produits qui ne sont pas des produits de
                    l’élevage ;
                </li>
                <li>
                    en distribuant la consommation liée aux produits de l’élevage sur des cultures destinées à l’alimentation animale selon des ratios
                    connus pour chaque région (part de céréales, fourrages, tourteaux, etc. dans l’alimentation animale).
                </li>
            </ul>
        </TexteP>

        <TitreH4>Méthode de calcul</TitreH4>
        <TexteP>L’indicateur est calculé via les étapes suivantes : </TexteP>
        <TexteFormule>
            <ul>
                <li>
                    pour chaque groupe de culture, le ratio [en %] entre la production [en ha] et la consommation [en ha] est calculé et capé à 100%
                    (pour ne pas tenir compte des surproductions qui pourraient masquer les déficits d'autres groupes de cultures in fine) ;
                </li>
                <li>
                    le ratio de chaque groupe de culture est pondéré par la part du groupe de cultures dans la consommation totale du territoire. A
                    titre d’exemple, pour la France, ces pondérations sont les suivantes : Céréales (19%), Fruits, Légume &amp; Fruits à coque (2,2%),
                    Oléoprotéagineux (11,3%), Fourrages (65,5%), Autres cultures (2%)
                </li>
                <li>la moyenne effectuée avec ces pondérations permet d’obtenir l'indicateur qui a une valeur entre 0 et 100%.</li>
            </ul>
        </TexteFormule>
    </div>
</template>

<script setup lang="ts">
import { IDS_DOMAINES, SOURCES_DONNEES } from '@lga/indicateurs';

import TexteFormule from '~/components/base/TexteFormule.vue';
import TexteP from '~/components/base/TexteP.vue';
import TitreH3 from '~/components/base/TitreH3.vue';
import TitreH4 from '~/components/base/TitreH4.vue';

import LienMethodologieSourceDonnee from '../liens/LienMethodologieSourceDonnee.vue';
</script>
