<template>
    <div :id="IDS_DOMAINES.secheresses">
        <TitreH4>Indicateurs de disponibilité de l’eau : les arrêtés sécheresse</TitreH4>

        <TexteP
        >Les arrêtés sécheresse sont pris au cours du temps sur l’ensemble du territoire français lorsque la disponibilité de la ressource en eau
            devient limitée. Ils permettent d’approcher l’état quantitatif de la ressource à travers le temps et l’espace.</TexteP
        >
        <TexteP
        >L'indicateur principal utilisé pour représenter la disponibilité de l'eau est donc la part du territoire concernée par des mesures de
            restriction d’usage de l’eau. Cette approche est inspiré des pages 20-21 du rapport
            <TexteLien
                url="https://www.ofb.gouv.fr/sites/default/files/Fichiers/Plaquettes%20et%20rapports%20instit/datalab_80_chiffres_cles_eau_edition_2020_decembre2020_1.pdf"
            >Eau et milieux aquatiques, Les chiffres clés Édition 2020</TexteLien
            >
            édité par le Service des Données et Études Statistiques (SDES) en partenariat avec l’Office français de la biodiversité (OFB).
        </TexteP>
        <TexteP
        >Il est calculé à partir des <LienMethodologieSourceDonnee :sourceDonnee="SOURCES_DONNEES.donnees_secheresses" /> disponibles pour les
            années {{ SOURCES_DONNEES.donnees_secheresses.annees }}.
        </TexteP>

        <TitreH5>Calcul de la part de chaque territoire concernée par un arrêté sécheresse</TitreH5>
        <TexteP
        >Cet indicateur part_territoire_en_arrete_par_annee_mois donne pour chaque mois et chaque territoire la part du territoire (en superficie)
            qui a été concernée par un arrêté sécheresse de niveau “alerte” minimum impactant l’usage d’eaux superficielles.</TexteP
        >
        <TexteP
        >Il est calculé via les étapes suivantes :
            <TexteFormule>
                <ol>
                    <li>
                        Prétraitement des bases des arrêtés sécheresse et des géométries des zones d’alerte. Au vu de l'absence d'identifiant commun
                        entre les 2 bases, un ID est construit sur base du code de la zone, son département, le type de zone (partie de l’id appelé
                        catégorie de zone) et la superficie de la zone en hectares ;
                    </li>
                    <li>
                        Calcul de l’intersection entre les géométries des communes et les géométries des zones d’alerte pour connaître la part de
                        chaque commune contenue dans chaque zone d’alerte;
                    </li>
                    <li>
                        Pour chaque jour et chaque commune, somme sur toutes les zones d’alerte concernées par un arrêté de niveau supérieur à
                        “alerte” et de type “superficielle”, de la part de commune dans la zone d’alerte. Remarque : Un même jour, il peut arriver que
                        plusieurs arrêtés, dont les zones d’alerte se recoupent, soient actifs. Un même morceau de territoire peut alors être
                        comptabilisé plusieurs fois ce qui se traduit par une “part de la commune en zone d’alerte” supérieure à 1. Dans ce cas la
                        valeur est ramenée à 1 ;
                    </li>
                    <li>Agrégation par mois en faisant la moyenne sur les différents jours composant le mois ;</li>
                    <li>
                        Agrégation aux niveaux supra-communaux par moyenne des valeurs des communes appartenant aux territoires, pondérée par la
                        superficie des communes.
                    </li>
                </ol>
            </TexteFormule>
        </TexteP>

        <TitreH5>Calcul du taux d’impact des arrêtés sécheresse estivaux pour chaque année</TitreH5>
        <TexteP
        >Cet indicateur taux_impact_arretes_secheresse_pourcent permet d’évaluer l’impact estival annuel des arrếtés sécheresse, il est calculé en
            faisant la moyenne sur les mois de juillet et août sur chaque année.</TexteP
        >

        <TitreH5>Calcul d’une valeur moyenne sur les cinq dernières années</TitreH5>
        <TexteP
        >Le calcul de la moyenne sur les 5 années les plus récentes du taux d’impact estival permet de ramener les séries annuelles à une seule
            valeur et d’obtenir un indicateur taux_impact_arretes_secheresse_pourcent. Par souci de cohérence, la moyenne est calculée sur les mêmes
            années que l’indicateur irrigation_mm.
        </TexteP>

        <TitreH5>Calcul de la tendance du taux d’impact estival des arrếtes sécheresse sur les années considérées</TitreH5>
        <TexteP
        >Une régression linéaire sur les mesures de l'indicateur taux_impact_arretes_secheresse_par_annees_pourcent permet d’évaluer la tendance
            suivie par la série, que l’on peut ensuite exprimer en évolution moyenne sur base du coefficient de la droite de régression.</TexteP
        >

        <TitreH5>Calcul de la note sur l’impact des arrêtés sécheresse</TitreH5>
        <TexteP
        >La note est obtenue à partir des valeur de l’indicateur taux_impact_arrete_secheresse_pourcent de la manière suivante :
            <TexteFormule>
                <div>si taux_impact_arrete_secheresse_pourcent = 0% alors note = 10</div>
                <div>si taux_impact_arrete_secheresse_pourcent = 100% alors note = 0</div>
                <div>si taux_impact_arrete_secheresse_pourcent entre ces 2 seuils, la note est obtenue par interpolation linéaire</div>
            </TexteFormule>
        </TexteP>

        <TitreH5>Calcul de la note globale pour la dépendance à l'eau</TitreH5>
        <TexteP>
            La note finale note_eau, exprimant la dépendance à la ressource eau pour l’irrigation est obtenue en faisant la moyenne de la note
            irrigation et de la note impact des arrêtés sécheresse :
            <TexteFormule> note_eau = (note_irrigation + note_arretes_secheresse) / 2 </TexteFormule>
        </TexteP>

        <TitreH5>Calcul de la note sur l’impact des arrêtés sécheresse</TitreH5>
        <TexteP
        >La note est obtenue à partir des valeur de l’indicateur taux_impact_arrete_secheresse_pourcent de la manière suivante :
            <TexteFormule>
                <div>si taux_impact_arrete_secheresse_pourcent = 0% alors note = 10</div>
                <div>si taux_impact_arrete_secheresse_pourcent = 100% alors note = 0</div>
                <div>si taux_impact_arrete_secheresse_pourcent entre ces 2 seuils, la note est obtenue par interpolation linéaire</div>
            </TexteFormule>
        </TexteP>
    </div>
</template>

<script setup lang="ts">
import { IDS_DOMAINES, SOURCES_DONNEES } from '@lga/indicateurs';

import TexteFormule from '~/components/base/TexteFormule.vue';
import TexteLien from '~/components/base/TexteLien.vue';
import TexteP from '~/components/base/TexteP.vue';
import TitreH4 from '~/components/base/TitreH4.vue';
import TitreH5 from '~/components/base/TitreH5.vue';

import LienMethodologieSourceDonnee from '../liens/LienMethodologieSourceDonnee.vue';
</script>
