<template>
    <div>
        <TitreH3 :id="IDS_DOMAINES.consommationProduitsAnimaux">
            Part de l'alimentation d'origine animale dans l'empreinte en surface de la consommation
        </TitreH3>
        <TexteP>
            Cet indicateur mesure la part de l'alimentation d'origine animale dans l'empreinte en surface de la consommation totale des habitants
            (selon le régime alimentaire actuel moyen d'un·e Français·e).
        </TexteP>

        <TitreH4>Données d'entrée</TitreH4>

        <TexteP>Cet indicateur utilise les données de consommation de PARCEL, comme expliqué dans le chapitre Production.</TexteP>

        <TitreH4>Méthode de calcul</TitreH4>

        <TexteP>L'indicateur est calculé comme suit :</TexteP>
        <TexteFormule> part_alimentation_origine_animale [%] = consommation_alimentation_orgine_animale / consommation_totale * 100 </TexteFormule>
        <TexteP>
            Avec :
            <ul>
                <li>
                    consommation_alimentation_orgine_animale : surface nécessaire pour produire les aliments d'origine animale consommés par les
                    habitants [ha]
                </li>
                <li>consommation_totale : surface nécessaire pour produire l'ensemble des aliments consommés par les habitants [ha]</li>
            </ul>
        </TexteP>

        <TitreH3 :id="IDS_DOMAINES.pauvrete">Taux de pauvreté (seuil de 60%)</TitreH3>

        <TexteP> {{ SOURCES_DONNEES.taux_pauvrete.definition }}</TexteP>

        <TitreH4>Données d'entrée et méthode de calcul</TitreH4>

        <TexteP
        >Cet indicateur utilise directement les données de <LienMethodologieSourceDonnee :sourceDonnee="SOURCES_DONNEES.taux_pauvrete" />.</TexteP
        >

        <TitreH3 :id="IDS_DOMAINES.consommation">Évaluation globale du maillon Consommation</TitreH3>

        <TexteP>
            Aucune note n'est actuellement disponible mais un message, donné à l'échelle nationale, évalue le régime alimentaire actuel moyen des
            Français·e·s ainsi que la précarité alimentaire.
        </TexteP>
    </div>
</template>

<script setup lang="ts">
import { IDS_DOMAINES, SOURCES_DONNEES } from '@lga/indicateurs';

import TexteFormule from '~/components/base/TexteFormule.vue';
import TexteP from '~/components/base/TexteP.vue';
import TitreH3 from '~/components/base/TitreH3.vue';
import TitreH4 from '~/components/base/TitreH4.vue';

import LienMethodologieSourceDonnee from '../liens/LienMethodologieSourceDonnee.vue';
</script>
