<template>
    <div :id="IDS_DOMAINES.logementsVacants">
        <TitreH3>Part de logements vacants</TitreH3>

        <TitreH4>Données d’entrées</TitreH4>
        <TexteP>
            Cet indicateur mobilise les données du <LienMethodologieSourceDonnee :sourceDonnee="SOURCES_DONNEES.logements_vacants" /> et du
            <LienMethodologieSourceDonnee :sourceDonnee="SOURCES_DONNEES.logements_totaux" />.
        </TexteP>
        <TexteP
        >Un logement est vacant s’il est inoccupé et :
            <ul>
                <li>proposé à la vente, à la location,</li>
                <li>déjà attribué à un acheteur ou un locataire et en attente d'occupation,</li>
                <li>en attente de règlement de succession,</li>
                <li>conservé par un employeur pour un usage futur au profit d'un de ses employés,</li>
                <li>sans affectation précise par le propriétaire (logement vétuste, etc.).</li>
            </ul>
        </TexteP>

        <TitreH4>Méthode de calcul</TitreH4>
        <TexteP>L’indicateur est calculé selon la formule suivante :</TexteP>
        <TexteFormule> part_logements_vacants [%] = nombre_logements_vacants / nombre_logements * 100 </TexteFormule>
        <TexteP
        >avec :
            <ul>
                <li>nombre_logements : nombre total de logements en 2018 (resp. 2013)</li>
                <li>nombre_logements_vacants : nombre de logements vacants en 2018 (resp. 2013)</li>
            </ul>
        </TexteP>
    </div>
</template>

<script setup lang="ts">
import { IDS_DOMAINES, SOURCES_DONNEES } from '@lga/indicateurs';

import TexteFormule from '~/components/base/TexteFormule.vue';
import TexteP from '~/components/base/TexteP.vue';
import TitreH3 from '~/components/base/TitreH3.vue';
import TitreH4 from '~/components/base/TitreH4.vue';

import LienMethodologieSourceDonnee from '../liens/LienMethodologieSourceDonnee.vue';
</script>
