<template>
    <div :id="IDS_DOMAINES.actifsAgricoles">
        <TitreH3>Part des actifs agricoles permanents dans la population totale</TitreH3>

        <TitreH4>Données d’entrée</TitreH4>
        <TexteP>
            Cet indicateur utilise les bases de données des
            <LienMethodologieSourceDonnee :sourceDonnee="SOURCES_DONNEES.actifs_agricoles_permanents" /> et de l’<LienMethodologieSourceDonnee
                :sourceDonnee="SOURCES_DONNEES.population_totale_historique"
            />.
        </TexteP>

        <TitreH4>Méthode de calcul</TitreH4>
        <TexteP>L’indicateur est calculé selon la formule suivante :</TexteP>
        <TexteFormule> part_actifs_agricoles_permanents [en %] = actifs_agricoles_permanents / population_totale * 100 </TexteFormule>
        <TexteP
        >avec :
            <ul>
                <li>actifs_agricoles_permanents : nombre d’actifs agricoles permanents en 2010</li>
                <li>population_totale : population totale en 2010</li>
            </ul>
        </TexteP>

        <TitreH4>Limites</TitreH4>
        <TexteP>
            <!--            eslint-disable vue/no-v-html -->
            <div v-html="SOURCES_DONNEES.actifs_agricoles_permanents.limites"></div>
        </TexteP>

        <TitreH3>Évolution de la part des actifs agricoles permanents</TitreH3>

        <TitreH4>Données d’entrée</TitreH4>
        <TexteP>
            Cet indicateur utilise les bases de données des
            <LienMethodologieSourceDonnee :sourceDonnee="SOURCES_DONNEES.actifs_agricoles_permanents" /> et de l’<LienMethodologieSourceDonnee
                :sourceDonnee="SOURCES_DONNEES.population_totale_historique"
            />.
        </TexteP>

        <TitreH4>Méthode de calcul</TitreH4>
        <TexteP>L’indicateur est calculé selon la formule suivante :</TexteP>
        <TexteFormule>
            evolution_part_actifs_agricoles_permanents [en points de %] = (actifs_agricoles_permanents_final / population_totale_final -
            actifs_agricoles_permanents_initial / population_totale_initial) * 100
        </TexteFormule>
        <TexteP
        >avec :
            <ul>
                <li>actifs_agricoles_permanents_final : nombre d’actifs agricoles permanents en 2010</li>
                <li>actifs_agricoles_permanents_initial : nombre d’actifs agricoles permanents en 1988</li>
                <li>population_totale_final : population totale en 2010</li>
                <li>population_totale_initial : population totale en 1990</li>
            </ul>
        </TexteP>

        <TitreH4>Limites</TitreH4>
        <TexteP>
            <!--            eslint-disable vue/no-v-html -->
            <div v-html="SOURCES_DONNEES.actifs_agricoles_permanents.limites"></div>
        </TexteP>

        <TitreH4>Message détaillé</TitreH4>
        <TexteP>Le message correspond au message de synthèse auquel le nombre d’actifs agricoles en 1988 et 2010 sont ajoutés.</TexteP>
    </div>
</template>

<script setup lang="ts">
import { IDS_DOMAINES, SOURCES_DONNEES } from '@lga/indicateurs';

import TexteFormule from '~/components/base/TexteFormule.vue';
import TexteP from '~/components/base/TexteP.vue';
import TitreH3 from '~/components/base/TitreH3.vue';
import TitreH4 from '~/components/base/TitreH4.vue';

import LienMethodologieSourceDonnee from '../liens/LienMethodologieSourceDonnee.vue';
</script>
