<template>
    <div :id="ID_PERIMETRE_TERRITORIAL">
        <TitreH3>Périmètre territorial des calculs</TitreH3>
        <TexteP
        >Les indicateurs sont donnés pour les échelles géographiques suivantes :
            <ul>
                <li>commune ;</li>
                <li>
                    regroupement de communes :
                    <ul>
                        <li>EPCI (Établissement public de coopération intercommunale) ;</li>
                        <li>bassin de vie INSEE 2012 ;</li>
                        <li>parc national ;</li>
                        <li>parc naturel régional ;</li>
                        <li>projet alimentaire territorial ;</li>
                        <li>schéma de cohérence territorial ;</li>
                        <li>autre regroupement sur demande utilisateur ;</li>
                    </ul>
                </li>
                <li>département ;</li>
                <li>région ;</li>
                <li>France métropolitaine entière.</li>
            </ul>
        </TexteP>
        <TexteP>
            Le choix de ne pas offrir de résultats pour les territoires hors France métropolitaine provient du fait que certaines données comme
            l'<LienMethodologieSourceDonnee :sourceDonnee="SOURCES_DONNEES.hvn" /> ou les données sur les
            <LienMethodologieSourceDonnee :sourceDonnee="SOURCES_DONNEES.consommation_sau" /> ne sont pas disponibles pour ces territoires là.
        </TexteP>
        <TexteP>
            Certaines données ne sont pas disponibles sur toutes les échelles géographiques ou pour tous les indicateurs. Par exemple, les surfaces
            agricoles utiles en bio ne sont pas rendues publiques sur certaines communes pour des raisons de confidentialité. De même, les problèmes
            liés à la qualité des données, ou à la cohérence des différentes sources, peuvent conduire à l’absence de données. Dans ces différentes
            situations Territoires Fertiles indique autant que possible l’absence de données (par exemple dans les notes et messages de synthèse), et
            le cas échéant ne présente pas d’information, en particulier dans les histogrammes (quand les données ne sont pas disponibles, alors
            l’échelle territoriale correspondante n’est pas représentée).
        </TexteP>

        <TitreH3>Cas des mouvements de communes</TitreH3>
        <TexteP>
            Territoires Fertiles utilise le référentiel des communes de l'INSEE de l'année 2022. En complément, il prend en compte les mouvements de
            communes survenus entre l'année 2003 et 2022 pour savoir si une commune existante en 2022 a été affectée par un mouvement de type fusion
            ou scission.
        </TexteP>
        <TexteP>
            Cette information est utilisée pour invalider certaines données relatives à la commune en fonction des mouvements : pour une commune qui a
            subi un mouvement l'année n, les sources de données fournies pour des années inférieures à n ne sont pas prises en compte.
        </TexteP>
        <TexteP>
            Par exemple en 2019, les communes de Chateau-d'Olonne et Olonne-sur-Mer ont fusionné avec la commune des Sables d'Olonne, ce qui a les
            conséquences suivantes dans l'application :
            <ul>
                <li>Il n'est pas possible d'afficher un diagnostic pour Chateau d'Olonne ou Olonne-sur-Mer (communes qui n'existent plus)</li>
                <li>
                    Dans le diagnostic de la commune des Sables d'Olonne, l'indicateur HVN n'est pas disponible au niveau de la commune, car il a été
                    calculé en 2017 c'est à dire avant la fusion en 2019. On considère que son périmètre de calcul n'est plus valable dans le contexte
                    d'utilisation de Territoires Fertiles
                </li>
                <li>
                    Par contre l'indicateur part de SAU Bio est disponible, car la donnée a été calculée en 2019, sur le périmètre actuel de la
                    commune des Sables d'Olonne (post fusion).
                </li>
            </ul>
        </TexteP>
        <TexteP>Ce principe est identique pour les cas de scission de communes : les données antérieures à une scission sont invalidées.</TexteP>

        <TexteP>
            Ce fonctionnement a pour conséquence que les données calculées à l'échelle d'un territoire par agrégation des données des communes
            composant ce territoire sont réalisés avec les données des seules communes n'ayant pas subi de mouvement.
        </TexteP>

        <TexteP>
            <strong>À noter</strong> : ce fonctionnement est en cours de changement, dans le but de mieux tenir compte des mouvements de communes.
            L'idée est de reprojeter chaque jeu de données de son année de mesure sur l'année du référentiel utilisé.
        </TexteP>

        <TitreH3>Relations entre échelles territoriales</TitreH3>
        <TexteP>
            Territoires Fertiles utilise les relations entre territoires pour proposer un diagnostic sur des échelles territoires englobantes à partir
            d'un territoire donné.
        </TexteP>
        <TexteP>
            Ainsi à partir du diagnostic d'une commune, il est possible d'accéder au diagnostic de son EPCI, de son département, de sa région, et du
            pays.
        </TexteP>
        <TexteP>
            Ces mêmes relations sont utilisées dans certains cas pour consolider les données, en particulier pour consolider les données disponibles
            au niveau communal sur les autres niveaux. Du fait de l'absence de données pour certaines communes (communes ayant subi un mouvement –
            voir plus haut –, données indisponibles ou sous secret statistique), les résultats à une échelle territoriale supérieure peuvent être
            légèrement érronés – sauf lorsque les données sont disponibles directement à l'échelle territoriale voulue.
        </TexteP>
        <TexteP>
            Le cas de l'EPCI est particulier, car un EPCI peut appartenir à plusieurs départements ou régions. Les règles sont les suivantes :
            <ul>
                <li>Si l'EPCI est inclus dans un seul département, c'est ce département et sa région qui sont associés à l'EPCI</li>
                <li>
                    Si l'EPCI est à cheval sur plusieurs départements (ce qui concerne environ 7% des EPCIs), Territoires Fertiles identifie un
                    "département principal d'appartenance" en choisissant le département dans lequel l'EPCI possède le plus de communes. Ce
                    département principal d'appartenance permet également de déterminer la région principale d'appartenance (cas ou l'EPCI est en plus
                    à cheval sur plusieurs régions).
                </li>
                <li>
                    Cette règle est une pure convention au sein de l'application Territoires Fertiles. Elle intervient principalement au niveau de
                    l'interface pour proposer un département et une région au-dessus de l'EPCI quelque soit sa situation
                </li>
            </ul>
        </TexteP>
    </div>
</template>

<script setup lang="ts">
import { SOURCES_DONNEES } from '@lga/indicateurs';

import TexteP from '~/components/base/TexteP.vue';
import TitreH3 from '~/components/base/TitreH3.vue';

import LienMethodologieSourceDonnee from '../liens/LienMethodologieSourceDonnee.vue';
import { ID_PERIMETRE_TERRITORIAL } from '../methodologie-utils.js';
</script>
