<template>
    <div :id="IDS_DOMAINES.intrants">
        <TitreH3>Évaluation globale du maillon Intrants</TitreH3>
        <TexteP> La note finale du maillon Intrants est obtenue en faisant la moyenne des notes énergie, eau et pesticides : </TexteP>
        <TexteFormule> note_intrants = (note_energie + note_eau + note_pesticides) / 3 </TexteFormule>
    </div>
</template>

<script setup lang="ts">
import { IDS_DOMAINES } from '@lga/indicateurs';

import TexteFormule from '~/components/base/TexteFormule.vue';
import TexteP from '~/components/base/TexteP.vue';
import TitreH3 from '~/components/base/TitreH3.vue';
</script>
