<template>
    <div :id="IDS_DOMAINES.terresAgricoles">
        <TitreH3>Évaluation globale du maillon Terres agricoles</TitreH3>

        <TitreH4>Note</TitreH4>
        <TexteP
        >La note est calculée sur la base de deux notes :
            <ul>
                <li>
                    une note N1 sur 10 calculée sur base de l’indicateur de <strong>surface agricole utile productive par habitant</strong>, bornée
                    entre 0 et 10 et obtenue par interpolation entre :
                    <TexteFormule>
                        <ul>
                            <li>la note 0 obtenue lorsque l’indicateur vaut 0</li>
                            <li>la note 5 obtenue lorsque l’indicateur vaut 1700 m²/habitant</li>
                            <li>la note 10 obtenue lorsque l’indicateur vaut 4000 m²/habitant</li>
                        </ul>
                    </TexteFormule>
                    <TexteP>Voir la section <i>message de synthèse</i> pour des explications sur les seuils utilisés.</TexteP>
                </li>
                <li>
                    <TexteP>
                        une note N2 sur 10 calculée sur base de l’indicateur
                        <strong>rythme d’artificialisation de la surface agricole utile productive</strong>, bornée entre 0 et 10 et obtenue par
                        interpolation entre :
                        <TexteFormule>
                            <ul>
                                <li>la note 10 obtenue lorsque l’indicateur vaut 0%</li>
                                <li>la note 0 obtenue lorsque l’indicateur vaut la valeur correspondante à la moyenne française</li>
                            </ul>
                        </TexteFormule>
                    </TexteP>
                </li>
                <li>
                    <TexteP
                    >ces deux notes sont combinées de la façon suivante :
                        <TexteFormule>N = (N1 + N2) / 2</TexteFormule>
                    </TexteP>
                </li>
            </ul>
            <TexteP
            >De cette manière la note globale prend en compte :
                <ul>
                    <li>pour moitié, l’état des lieux du territoire via la surface agricole disponible par habitant</li>
                    <li>
                        et pour autre moitié, la dynamique d’évolution via la capacité à contenir l’artificialisation, dans un objectif ZAN (Zéro
                        Artificialisation Nette)
                    </li>
                </ul>
            </TexteP>
        </TexteP>

        <TitreH4>Message de synthèse</TitreH4>
        <TexteP>
            Le message donné est généré selon l’indicateur I <strong>surface agricole utile productive par habitant</strong>
            et la valeur V
            <strong>surface artificialisée</strong> (voir calcul indicateur rythme d’artificialisation) selon les règles suivantes :
            <TexteFormule>
                <ul>
                    <li>message = bloc 1 + bloc 2</li>
                    <li>
                        pour le bloc 1 :
                        <ul>
                            <li>si I &lt; 1700 : “la surface agricole par habitant est trop faible”</li>
                            <li>
                                si 1700 &lt;= I &lt; 2500 : la surface agricole par habitant peut convenir pour un régime alimentaire très végétal”
                            </li>
                            <li>
                                si 2500 &lt;= I &lt; 4000 : la surface agricole par habitant peut convenir pour un régime alimentaire moins carné”
                            </li>
                            <li>si I &gt;= 4000 : “la surface agricole par habitant est suffisante pour le régime alimentaire actuel”</li>
                        </ul>
                    </li>
                    <li>
                        pour le bloc 2 :
                        <ul>
                            <li>si V = 0 : “l’objectif ZAN a été atteint entre 2013 et 2018”</li>
                            <li>sinon : “l’objectif ZAN n’a pas été atteint entre 2013 et 2018”</li>
                        </ul>
                    </li>
                </ul>
            </TexteFormule>
        </TexteP>
        <TexteP>
            La règle du bloc 1 se base sur les seuils de la figure 33 p141 du guide
            <c-lien href="https://resiliencealimentaire.org/page-telechargement-guide/">Vers la résilience alimentaire</c-lien>
            basée sur la figure 2 page 31 de Solagro (2019), Le revers de notre assiette. Changer d’alimentation pour préserver notre santé et notre
            environnement.
        </TexteP>
    </div>
</template>

<script setup lang="ts">
import { IDS_DOMAINES } from '@lga/indicateurs';

import TexteFormule from '~/components/base/TexteFormule.vue';
import TexteP from '~/components/base/TexteP.vue';
import TitreH3 from '~/components/base/TitreH3.vue';
import TitreH4 from '~/components/base/TitreH4.vue';
</script>
