<template>
    <main class="bg-primaire relative flex flex-col items-center justify-center gap-8 py-8 sm:py-20 px-4 sm:px:10 lg:px-32">
        <h2 class="font-serif text-3xl sm:text-5xl text-white text-center">Des nouvelles du projet dans votre boîte mail</h2>
        <p class="font-sans text-base sm:text-xl text-white text-center max-w-[640px]">
            Inscrivez-vous pour rester informé·e de nos actualités, de projets de transition alimentaire et agricole, d’outils utiles&nbsp;:
        </p>
        <ChampInscriptionNewsletter />
        <IconeAile filled class="absolute left-0 w-52 -bottom-12 hidden lg:block" :fontControlled="false"> </IconeAile>
        <IconeDeuxAiles filled class="absolute top-10 right-0 w-36 hidden lg:block" :fontControlled="false"> </IconeDeuxAiles>
        <div class="flex flex-col gap-4 pt-4">
            <p class="font-sans text-base sm:text-xl text-white text-center max-w-[640px]">Et suivez-nous sur les médias sociaux&nbsp;:</p>
            <BarreReseauxSociaux mode="suivi" couleur="blanc" />
        </div>
    </main>
</template>

<script setup lang="ts">
import IconeAile from '@/assets/motifs/aile.svg';
import IconeDeuxAiles from '@/assets/motifs/deux-ailes.svg';
import BarreReseauxSociaux from '@/components/base/BarreReseauxSociaux.vue';
import ChampInscriptionNewsletter from '@/components/base/ChampInscriptionNewsletter.vue';
</script>
