<template>
    <section class="flex flex-col justify-center gap-2 max-w-[700px] mx-4 sm:mx-auto py-8 sm:py-20 pl-12">
        <article>
            <div class="relative">
                <h2 class="text-3xl sm:text-5xl font-serif text-primaire mt-8 mb-2">Territoires Fertiles</h2>
                <div class="absolute text-6xl sm:text-9xl -top-10 -left-16 sm:-top-16 sm:-left-40">
                    <IconeHalo class="rotate-12 text-accent" />
                </div>
            </div>
            <div class="text-primaire text-base sm:text-xl font-sans">
                <p>
                    Territoires Fertiles est une <strong>plateforme</strong> d'aide à la mise œuvre de <strong>projets de territoires</strong> dans
                    les <strong>domaines agricole et alimentaire</strong>.
                </p>
                <p>
                    Elle accompagne les agents dans les collectivités territoriales, les élu·es et les citoyen·nes dans la compréhension des
                    <TexteLien :url="useRouteThematiques('risques-securite-alimentaire')"
                    >enjeux de sécurité alimentaire et de résilience alimentaire</TexteLien
                    >
                    ; et dans la construction de projets de transition ambitieux.
                </p>
                <p></p>
            </div>
        </article>
        <article>
            <TitreH3AvecIcone titre="Raconter les enjeux des territoires">
                <template #icone>
                    <IconeAsterisque class="text-accent" />
                </template>
            </TitreH3AvecIcone>
            <p class="text-primaire text-base sm:text-xl font-sans">
                Changement climatique, biodiversité, épuisement des ressources, difficultés du métier d'agriculteur / agricultrice, impacts de
                l'alimentation sur la santé… : les sujets liés à la transition écologique, agricole et alimentaire sont nombreux et complexes.
                Territoires Fertiles vous aide à comprendre ces enjeux à différentes échelles (village, ville, métropole, département, parc naturel…).
            </p>
        </article>

        <article>
            <TitreH3AvecIcone titre="Encourager les projets locaux">
                <template #icone>
                    <IconeAsterisque class="text-accent" />
                </template>
            </TitreH3AvecIcone>
            <p class="text-primaire text-base sm:text-xl font-sans">
                Nous racontons et valorisons des histoires de transition qui émergent au sein des collectivités locales, pour inspirer les acteurs des
                territoires. Nous les aidons à identifier les actions les plus pertinentes à déployer chez eux.
            </p>
        </article>
        <article>
            <TitreH3AvecIcone titre="Outiller les porteurs de projet">
                <template #icone>
                    <IconeAsterisque class="text-accent" />
                </template>
            </TitreH3AvecIcone>
            <p class="text-primaire text-base sm:text-xl font-sans">
                Diagnostics, argumentaires, infographies, indicateurs détaillés, cartes… Territoires Fertiles met à disposition des ressources de
                qualité et des données territorialisées pour vous faire gagner du temps.
            </p>
        </article>
        <article>
            <p class="text-primaire text-base sm:text-xl font-sans mt-8">
                Territoires Fertiles est un outil web, libre et gratuit, développé par l’association Les Greniers d’Abondance, en partenariat avec Le
                Basic, Terre de Liens, La Fédération Nationale d’Agriculture Biologique et La Banque des Territoires.
            </p>
        </article>
    </section>
</template>

<script setup lang="ts">
import IconeAsterisque from '@/assets/icones/asterisque.svg';
import IconeHalo from '@/assets/icones/halo.svg';
import TitreH3AvecIcone from '@/components/base/TitreH3AvecIcone.vue';
import { useRouteThematiques } from '#imports';

import TexteLien from '../base/TexteLien.vue';
</script>
