<template>
    <div>
        <h1 class="text-2xl text-black m-10">Test Chart Occupation Sols</h1>
        <ChartOccupationSols
            class="m-auto"
            :superficieArtificialiseeHa="12300000"
            :superficieAgricoleHa="31200000"
            :superficieNaturelleOuForestiereHa="22300000"
        ></ChartOccupationSols>
    </div>
</template>

<script setup lang="ts">
import ChartOccupationSols from '~/components/diagnostics/commun/ChartOccupationSols.vue';
</script>
