<template>
    <div>
        <h1 class="text-2xl text-black m-10">Test Chart Treemap Cultures sans hachures et avec label</h1>
        <div class="flex flex-col items-center justify-center">
            <div class="flex items-center justify-center gap-2 mb-2">
                <label>Etirer</label>
                <UToggle v-model="etirer" />
            </div>
            <ChartTreemapCultures
                class="m-auto"
                :donnees="donnees"
                :hauteur="etirer ? 300 : 250"
                :largeur="200"
                :activer-fill-pattern="false"
                :activer-labels="true"
            ></ChartTreemapCultures>
        </div>
        <h1 class="text-2xl text-black m-10">Test Chart Treemap Cultures avec hachures et sans label</h1>
        <ChartTreemapCultures
            class="m-auto"
            :donnees="donnees"
            :hauteur="200"
            :largeur="300"
            :activer-fill-pattern="true"
            :activer-labels="false"
        ></ChartTreemapCultures>
    </div>
</template>

<script setup lang="ts">
import { ref } from 'vue';

import type { DonneesTreemapCultures } from '~/components/charts/ChartTreemapCultures.vue';
import ChartTreemapCultures from '~/components/charts/ChartTreemapCultures.vue';

const etirer = ref(false);

const donnees: DonneesTreemapCultures[] = [
    {
        code: 'GC1',
        labelCourt: 'GC 1',
        labelLong: 'Groupe de cultures 1',
        couleur: 'rgb(137,137,229)',
        sauHa: 30,
        detailCultures: [
            {
                codeCulture: 'C1',
                nomCulture: 'Culture 1-1',
                sauHa: 20
            },
            {
                codeCulture: 'C2',
                nomCulture: 'Culture 1-2',
                sauHa: 10
            }
        ]
    },
    {
        code: 'GC2',
        labelCourt: 'GC 2',
        labelLong: 'Groupe de cultures 2',
        couleur: 'rgb(165,86,86)',
        sauHa: 30,
        detailCultures: [
            {
                codeCulture: 'C1',
                nomCulture: 'Culture 2-1',
                sauHa: 30
            }
        ]
    },
    {
        code: 'GC3',
        labelCourt: 'GC 3',
        labelLong: 'Groupe de cultures 3',
        couleur: 'rgb(111,175,111)',
        sauHa: 10,
        detailCultures: [
            {
                codeCulture: 'C1',
                nomCulture: 'Culture 3-1',
                sauHa: 5
            },
            {
                codeCulture: 'C2',
                nomCulture: 'Culture 3-2',
                sauHa: 5
            }
        ]
    }
];
</script>
