<template>
    <div class="bg-white m-auto" :style="{ width: `${CONFIG_PDF_DOUBLE_PAGE_A4_PAYSAGE.largeurViewportPx}px` }">
        <section
            class="grid grid-cols-1 grid-rows-1 lg:grid-cols-2 break-after-page"
            :style="{ height: `${CONFIG_PDF_DOUBLE_PAGE_A4_PAYSAGE.hauteurViewportPx}px` }"
        >
            <Page4Livret class="border-2 border-gris-50"></Page4Livret>
            <Page1Livret class="border-2 border-gris-50" :donneesApi="donneesApi" :diagnosticLivret4Pages="diagnosticLivret4Pages"></Page1Livret>
        </section>
        <Pages2et3Livret
            class="border-2 border-gris-50"
            :style="{ height: `${CONFIG_PDF_DOUBLE_PAGE_A4_PAYSAGE.hauteurViewportPx}px` }"
            :diagnosticLivret4Pages="diagnosticLivret4Pages"
        />
    </div>
</template>

<script setup lang="ts">
import { computed } from 'vue';

import { CONFIG_PDF_DOUBLE_PAGE_A4_PAYSAGE, useFetchDonneesApi, usePositionnerInfosHead, useRouteMonTerritoire, useSetStateTef } from '@/composables';
import appConfig from '~/app.config.js';
import Page1Livret from '~/components/diagnostics/livrets-4-pages/Page1Livret.vue';
import Page4Livret from '~/components/diagnostics/livrets-4-pages/Page4Livret.vue';
import Pages2et3Livret from '~/components/diagnostics/livrets-4-pages/Pages2et3Livret.vue';
import { useRouteParamsLivrets4Pages } from '~/composables';
import { creerLivret4PagesModele } from '~/modeles/DiagnosticModele.js';

const params = useRouteParamsLivrets4Pages();
const idTerritoire = params.idTerritoire;

const donneesApi = await useFetchDonneesApi(params.idTerritoire || appConfig.tef.idNomFrance);

if (params.idTerritoire) {
    useSetStateTef(donneesApi.territoireApi);
}

const diagnosticLivret4Pages = computed(() => creerLivret4PagesModele(donneesApi));

usePositionnerInfosHead(
    idTerritoire
        ? {
              titre: () => `Livret 4 pages %separator ${diagnosticLivret4Pages.value.territoire.nom}`,
              routeUrlCanonique: useRouteMonTerritoire(idTerritoire)
          }
        : {
              titre: () => `Livret 4 pages`
          }
);
</script>
