<template>
    <div class="w-full h-full flex flex-col items-center justify-center gap-6 min-w-">
        <InfographieImageChiffreCle :infographie="infographieActive"> </InfographieImageChiffreCle>
        <BoutonSelecteur v-model="indexOptionActive" :libelles-options="libellesOptions" class="sm:pl-20" />
    </div>
</template>

<script setup lang="ts">
import { computed, ref } from 'vue';

import BoutonSelecteur from '@/components/base/BoutonSelecteur.vue';
import type { InfographieDoubleImagesChiffresCles } from '@/modeles/constats/InfographieModele';

import InfographieImageChiffreCle from './InfographieImageChiffreCle.vue';

interface Props {
    infographie: InfographieDoubleImagesChiffresCles;
}

const props = defineProps<Props>();

const libellesOptions: string[] = [props.infographie.libelleBoutonInfographie1, props.infographie.libelleBoutonInfographie2];
const indexOptionActive = ref<number>(0);
const infographieActive = computed(() => (indexOptionActive.value === 0 ? props.infographie.infographie1 : props.infographie.infographie2));
</script>
