<template>
    <div class="w-full max-w-[calc(100%-64px)] h-full pt-8 sm:p-0 flex flex-col items-center m-auto gap-0 relative">
        <!-- On n'utilise pas l'option placeholder de nuxt car quand present le lazy loading ne marche plus -->
        <!-- De plus ne fonctionne pas avec NuxtPicture (voir https://github.com/nuxt/image/issues/1160 )-->
        <NuxtPicture
            :src="infographie.image.url"
            loading="lazy"
            :alt="infographie.image.descriptionAlt"
            :width="infographie.image.resolutionX"
            :height="infographie.image.resolutionY"
            sizes="400px"
            densities="x1 x2"
            :class="[
                'w-full max-w-[300px] sm:max-w-[360px]',
                'h-[60%] sm:h-auto',
                'self-center',
                estImageAGauche ? 'sm:self-start' : '',
                estStyleCarre ? '' : 'rounded-xl',
                'text-transparent'
            ]"
            :imgAttrs="{ class: `object-cover w-full h-full ${estStyleCarre ? '' : 'rounded-xl'}` }"
        />
        <div :class="['absolute sm:relative w-full sm:w-fit grid place-items-center bottom-8', infographie.chiffreCle ? 'sm:-mt-40' : '']">
            <ChiffreCle
                v-if="infographie.chiffreCle"
                :class="[
                    'w-full sm:w-11/12 max-w-[calc(min(90vw,360px))]',
                    'sm:min-w-[440px]',
                    'self-center rounded-xl overflow-hidden',
                    estImageAGauche ? 'sm:ml-20' : '',
                    estImageAGauche ? 'sm:max-w-[440px]' : ''
                ]"
                :chiffre-cle="infographie.chiffreCle"
                :informationsMethodologie="infographie.informationsMethodologie"
                :theme="infographie.theme"
            />
            <Accroche class="self-center mb-4" :accroche="infographie.accroche" />
            <BoutonInfoMethodologie
                v-if="infographie.chiffreCle === undefined && infographie.informationsMethodologie.titre"
                class="self-center"
                :titre="infographie.informationsMethodologie.titre"
                :descriptif="infographie.informationsMethodologie.descriptif"
                :descriptifDetaille="infographie.informationsMethodologie.descriptifDetaille"
                :estPerimetreNational="infographie.informationsMethodologie.estPerimetreNational"
                :libelleBouton="infographie.informationsMethodologie.libelleBouton"
                :libelleLienComplementInformation="infographie.informationsMethodologie.libelleLienComplementInformation"
                :urlComplementInformation="infographie.informationsMethodologie.urlComplementInformation"
            />
        </div>
    </div>
</template>

<script setup lang="ts">
import { computed } from 'vue';

import type { InfographieImageChiffreCleModele } from '@/modeles/constats/InfographieModele';
import { NuxtPicture } from '#components';

import BoutonInfoMethodologie from '../commun/BoutonInfoMethodologie.vue';
import Accroche from './Accroche.vue';
import ChiffreCle from './ChiffreCle.vue';

interface Props {
    infographie: InfographieImageChiffreCleModele;
}

const props = defineProps<Props>();
const estStyleCarre = computed(() => props.infographie.image.styleBords === 'carre');
const estImageAGauche = computed(() => props.infographie.image.position === 'gauche');
</script>
