<template>
    <div class="w-[380px] h-fit p-3 relative">
        <div class="flex flex-col gap-3 items-center text-center z-10 relative">
            <div class="flex flex-wrap items-baseline gap-2 text-jaune-950">
                <div class="chiffre text-7xl leading-none font-extrabold">{{ arrondirANDecimales(chiffre, 0) }}</div>
                <div class="unite text-4xl">%</div>
            </div>
            <div class="text-xl font-bold leading-snug">des habitants pourraient être nourris par les terres agricoles du territoire</div>
            <div class="text-lg leading-snug">
                Mais encore faut-il que les productions soient assez diversifiées pour répondre aux besoins de la population.
            </div>
        </div>
        <NuxtImg
            src="/images/constats/infographies/champ-632x162.png"
            preload
            :width="632"
            :height="162"
            density="1x 2x"
            class="absolute right-0 top-12 z-0"
        />
    </div>
</template>

<script setup lang="ts">
import { arrondirANDecimales } from '@lga/base';

import { NuxtImg } from '#components';

interface Props {
    chiffre: number;
}

defineProps<Props>();
</script>

<style scoped>
.chiffre {
    -webkit-text-stroke: 0.15em;
    -webkit-text-stroke-color: theme('colors.white');
    paint-order: stroke fill;
    filter: drop-shadow(0px 2px 5px theme('colors.neutral.100'));
}

.unite {
    -webkit-text-stroke: 0.13em;
    -webkit-text-stroke-color: theme('colors.white');
    paint-order: stroke fill;
    filter: drop-shadow(0px 2px 5px theme('colors.neutral.100'));
}
</style>
