<template>
    <div class="grid justify-items-center sm:content-center gap-2 h-fit w-full">
        <CartePrecariteAlimentaire :territoire="infographie.territoire"></CartePrecariteAlimentaire>
        <Accroche class="hidden sm:block" :accroche="infographie.accroche" />
        <BoutonInfoMethodologie
            :titre="infographie.informationsMethodologie.titre"
            :descriptif="infographie.informationsMethodologie.descriptif"
            :estPerimetreNational="infographie.informationsMethodologie.estPerimetreNational"
            :libelleBouton="infographie.informationsMethodologie.libelleBouton"
            :libelleLienComplementInformation="infographie.informationsMethodologie.libelleLienComplementInformation"
            :urlComplementInformation="infographie.informationsMethodologie.urlComplementInformation"
        />
    </div>
</template>

<script setup lang="ts">
import type { InfographieCartePrecariteAlimentaireModele } from '~/modeles/constats/InfographieModele.js';

import BoutonInfoMethodologie from '../commun/BoutonInfoMethodologie.vue';
import CartePrecariteAlimentaire from '../commun/CartePrecariteAlimentaire.vue';
import Accroche from './Accroche.vue';

interface Props {
    infographie: InfographieCartePrecariteAlimentaireModele;
}

defineProps<Props>();
</script>
