<template>
    <div class="grid justify-items-center sm:content-center gap-2 h-fit w-full">
        <CarteHVN :territoire="infographie.territoire"></CarteHVN>
        <BoutonInfoMethodologie
            :titre="infographie.informationsMethodologie.titre"
            :descriptif="infographie.informationsMethodologie.descriptif"
            :estPerimetreNational="infographie.informationsMethodologie.estPerimetreNational"
            :libelleBouton="infographie.informationsMethodologie.libelleBouton"
            :libelleLienComplementInformation="infographie.informationsMethodologie.libelleLienComplementInformation"
            :urlComplementInformation="infographie.informationsMethodologie.urlComplementInformation"
        />
    </div>
</template>

<script setup lang="ts">
import type { InfographieCarteHVNModele } from '~/modeles/constats/InfographieModele.js';

import BoutonInfoMethodologie from '../commun/BoutonInfoMethodologie.vue';
import CarteHVN from '../commun/CarteHVN.vue';

interface Props {
    infographie: InfographieCarteHVNModele;
}

defineProps<Props>();
</script>
