<template>
    <TemplatePageMethodologie :sections="SECTIONS" titrePage="Introduction">
        <template #introduction>
            <TexteP>
                La méthodologie décrit les grandes principes retenus dans la construction des diagnostics. Elle présente également l’ensemble des
                sources de données utilisées, ainsi que les hypothèses et règles de calcul détaillées pour chaque indicateur.
            </TexteP>
            <TexteP>
                <strong>Important</strong> : de manière génerale, il est important de garder en tête que les résultats sont issus d’une évaluation
                automatique réalisée à partir de données de qualité variable. Les résultats ne se substituent donc pas à une étude terrain ou à un
                diagnostic approfondi.
            </TexteP>
        </template>
        <template #[ID_PERIMETRE_TERRITORIAL]>
            <PerimetreTerritorial />
        </template>
        <template #[ID_SURFACES_AGRICOLES]>
            <SurfacesAgricoles />
        </template>
        <template #[ID_CHEPTELS]>
            <Cheptels />
        </template>
        <template #[ID_OTEX]>
            <SpecialisationTerritoires />
        </template>
        <template #[ID_FLUX_AZOTE]>
            <FluxAzote />
        </template>
    </TemplatePageMethodologie>
</template>

<script setup lang="ts">
import { usePositionnerInfosHead } from '@/composables';
import TexteP from '~/components/base/TexteP.vue';
import Cheptels from '~/components/methodologie/contenus/Cheptels.vue';
import FluxAzote from '~/components/methodologie/contenus/FluxAzote.vue';
import PerimetreTerritorial from '~/components/methodologie/contenus/PerimetreTerritorial.vue';
import SpecialisationTerritoires from '~/components/methodologie/contenus/SpecialisationTerritoires.vue';
import SurfacesAgricoles from '~/components/methodologie/contenus/SurfacesAgricoles.vue';
import {
    ID_CHEPTELS,
    ID_FLUX_AZOTE,
    ID_OTEX,
    ID_PERIMETRE_TERRITORIAL,
    ID_SURFACES_AGRICOLES
} from '~/components/methodologie/methodologie-utils.js';
import TemplatePageMethodologie from '~/components/methodologie/TemplatePageMethodologie.vue';
import type { ItemLienHash } from '~/modeles/navigation/ItemMenuModele';

usePositionnerInfosHead({
    titre: 'Méthodologie, présentation générale'
});

const SECTIONS: ItemLienHash[] = [
    {
        type: 'LIEN_HASH',
        hash: ID_PERIMETRE_TERRITORIAL,
        libelle: 'Périmètre territorial des calculs'
    },
    {
        type: 'LIEN_HASH',
        hash: ID_SURFACES_AGRICOLES,
        libelle: 'Surfaces agricoles'
    },
    {
        type: 'LIEN_HASH',
        hash: ID_CHEPTELS,
        libelle: 'Cheptels'
    },
    {
        type: 'LIEN_HASH',
        hash: ID_OTEX,
        libelle: 'Spécialisation des territoires'
    },
    {
        type: 'LIEN_HASH',
        hash: ID_FLUX_AZOTE,
        libelle: "Flux d'azote"
    }
];
</script>
