<template>
    <main>
        <TemplatePageMethodologie :sections="SECTIONS" titrePage="Sources de données">
            <template v-for="item in INFORMATIONS_SOURCES_DONNNES" #[item.id] :key="item.id">
                <div class="w-full pt-2 [&_ul]:list-disc [&_ul]:pl-6 [&_ul]:pb-2">
                    <div class="text-lg font-bold text-left text-white p-2 bg-primaire-400">{{ item.nom }}</div>
                    <table class="w-full">
                        <tbody
                            class="[&>tr]:flex [&>tr]:flex-col sm:[&>tr]:flex-row [&>tr]:gap-x-4 [&>tr_a]:underline [&>tr>td:first-child]:min-w-[30%] [&>tr>td]:px-1 [&>tr>td:first-child]:font-bold sm:[&>tr>td:first-child]:font-normal [&>tr:nth-child(odd)]:bg-neutral-100 [&>tr:nth-child(even)]:bg-neutral-200"
                        >
                            <tr>
                                <td>Définition</td>
                                <!--            eslint-disable vue/no-v-html -->
                                <td v-html="item.definition"></td>
                            </tr>
                            <tr v-if="item.annees">
                                <td>Année(s)</td>
                                <td>{{ item.annees }}</td>
                            </tr>
                            <tr>
                                <td>Périmètre géographique</td>
                                <td>{{ item.perimetreGeographique }}</td>
                            </tr>
                            <tr>
                                <td>Fournisseur</td>
                                <td>
                                    <a :href="item.url ?? ''">{{ item.fournisseur.nom }}</a>
                                    <br />
                                    <!--            eslint-disable vue/no-v-html -->
                                    <div v-html="item.description"></div>
                                </td>
                            </tr>
                            <tr v-if="item.limites">
                                <td>Limites</td>
                                <!--            eslint-disable vue/no-v-html -->
                                <td v-html="item.limites"></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </template>
        </TemplatePageMethodologie>
    </main>
</template>

<script setup lang="ts">
import { SOURCES_DONNEES } from '@lga/indicateurs';

import { usePositionnerInfosHead } from '@/composables';
import TemplatePageMethodologie from '~/components/methodologie/TemplatePageMethodologie.vue';
import type { ItemLienHash } from '~/modeles/navigation/ItemMenuModele';

usePositionnerInfosHead({
    titre: 'Méthodologie, sources de données',
    description: 'Les sources de données utilisées pour le calcul des indicateurs et cartes de Territoires Fertiles.'
});

const INFORMATIONS_SOURCES_DONNNES = Object.values(SOURCES_DONNEES).sort(function (s1, s2) {
    return s1.nom.localeCompare(s2.nom);
});

const SECTIONS: ItemLienHash[] = INFORMATIONS_SOURCES_DONNNES.map((i) => {
    return {
        type: 'LIEN_HASH',
        hash: i.id,
        libelle: i.nom
    };
});
</script>
