<template>
    <article class="min-h-[500px] h-[calc(100vh-var(--hauteur-entete-totale))] print:h-screen flex justify-center">
        <div class="max-w-[700px] flex place-items-center">
            <slot></slot>
        </div>
    </article>
</template>
