<template>
    <main class="main">
        <h1>Test des constats du thème {{ constatsModeles[0].idTheme }}</h1>
        <div v-for="(constatModele, index) in constatsModeles" :key="constatModele.id">
            <h2>Constat {{ constatModele.id }}</h2>
            <Constat class="constat" :modele="constatModele" :numero="index + 1" position-infographie="gauche" />
        </div>
    </main>
</template>

<script setup lang="ts">
import type { ConstatModele } from '@/modeles/constats/ConstatModele';
import type { InfographieModele } from '@/modeles/constats/InfographieModele';
import Constat from '~/components/diagnostics/constats/Constat.vue';

defineProps<{
    constatsModeles: ConstatModele<InfographieModele>[];
}>();
</script>

<style scoped>
.constat {
    background-color: aliceblue;
}
</style>
