<template>
    <div :class="['flex items-center justify-center gap-8', positionInfographie === 'gauche' ? 'pl-4 pr-16' : 'pr-4 pl-16 flex-row-reverse']">
        <component
            :is="useImporterComposantInfographie(modele.infographie.nomComposant)"
            v-if="modele.infographie"
            :infographie="modele.infographie"
        />
        <div class="grid place-content-center w-[700px]">
            <h3 class="text-2xl font-bold mb-6">{{ modele.message.titre }}</h3>
            <!--            eslint-disable vue/no-v-html -->
            <div class="text-lg mb-4" v-html="modele.message.texteCourt !== null ? modele.message.texteCourt : modele.message.texte"></div>
        </div>
    </div>
</template>

<script setup lang="ts">
import type { ConstatModele } from '@/modeles/constats/ConstatModele';
import type { InfographieModele } from '@/modeles/constats/InfographieModele';
import { useImporterComposantInfographie } from '#imports';

interface ConstatProps {
    positionInfographie: 'gauche' | 'droite';
    modele: ConstatModele<InfographieModele>;
}

defineProps<ConstatProps>();
</script>
