<template>
    <div class="xl:w-[600px] p-4 sm:p-6 print:pr-12 text-primaire">
        <h3 class="text-xl sm:text-3xl xl:text-4xl font-serif mb-6">{{ modele.titre }}</h3>
        <!--            eslint-disable vue/no-v-html -->
        <p class="text-base mb-4" v-html="modele.texte"></p>
        <p class="text-base">{{ modele.question }}</p>
        <BoutonAvecPanneauGlissantTemoignages
            v-if="initiatives.length !== 0"
            class="mt-2 sm:mt-8 flex justify-end sm:justify-start print:hidden"
            :initiatives="initiatives"
        />
    </div>
</template>

<script setup lang="ts">
import type { IdTheme } from '@lga/indicateurs';

import type { ConstatMessageModele } from '@/modeles/constats/ConstatModele';

import BoutonAvecPanneauGlissantTemoignages from '../commun/BoutonAvecPanneauGlissantTemoignages.vue';

interface Props {
    idTheme: IdTheme;
    modele: ConstatMessageModele;
}

const props = defineProps<Props>();

const initiatives = props.modele.initiatives.map((initiative) => ({
    titre: initiative.titre,
    localisation: initiative.localisation,
    source: initiative.informationSource,
    description: initiative.description,
    url: initiative.urlLienExterne,
    libelleUrl: initiative.intituleLienExterne,
    image: initiative.image
}));
</script>
