<template>
    <section :id="modele.idTheme" class="grid grid-cols-1 grid-rows-1 lg:grid-cols-2 lg:grid-rows-2">
        <ConstatCellule class="flex">
            <div class="w-full xl:w-[600px] p-4 sm:p-6 flex items-center justify-center">
                <!-- Pour ces images de titres, le filtre qui a été appliqué fait que la compression wepb ou avif est moins bonne que png => on utilise NuxtImg et pas NuxtPicture                -->
                <!-- On n'utilise pas l'option placeholder de nuxt car quand present le lazy loading ne marche plus -->
                <NuxtImg
                    :src="modele.titre.image.url"
                    loading="lazy"
                    :width="modele.titre.image.resolutionX"
                    :height="modele.titre.image.resolutionY"
                    sizes="400px"
                    density="1x 2x"
                    :alt="modele.titre.image.descriptionAlt"
                    class="w-5/6 h-auto sm:w-[400px] rounded-2xl text-transparent"
                />
            </div>
        </ConstatCellule>
        <ConstatCellule class="h-[90vh]">
            <div class="w-full xl:w-[600px] p-4 sm:p-6 print:p-12 text-primaire text-center">
                <div class="text-3xl font-serif border border-primaire rounded-full w-12 h-12 -mt-12 mb-8 mx-auto grid place-content-center">
                    {{ numero }}
                </div>
                <h2 class="text-4xl sm:text-6xl font-serif m-auto">{{ modele.titre.libelle }}</h2>
            </div>
        </ConstatCellule>
        <ConstatCellule
            class="bg-sable-50 print:bg-transparent"
            data-track-content
            :data-content-name="`Diag Flash - Constat ${modele.id}`"
            data-content-piece="Message"
        >
            <ConstatMessage :modele="modele.message" :id-theme="modele.idTheme"></ConstatMessage>
        </ConstatCellule>
        <ConstatCellule
            class="lg:row-start-2 bg-sable-50 print:bg-transparent"
            data-track-content
            :data-content-name="`Diag Flash - Constat ${modele.id}`"
            :data-content-piece="`Infographie ${modele.infographie?.nomComposant}`"
        >
            <div class="h-fit max-h-[800px] p-4 sm:p-6 flex flex-col items-center justify-center relative">
                <component :is="useImporterComposantInfographie(infographie.nomComposant)" v-if="infographie" :infographie="infographie" />
                <div
                    v-if="existeVarianteInfographie"
                    class="absolute w-44 h-10 top-0 left-0 border-l border-l-neutral-100"
                    @click="modifierIndexInfographie()"
                ></div>
            </div>
        </ConstatCellule>
    </section>
</template>

<script setup lang="ts">
import { computed, ref } from 'vue';

import { useImporterComposantInfographie } from '@/composables';
import type { ConstatModele } from '@/modeles/constats/ConstatModele';
import type { InfographieModele } from '@/modeles/constats/InfographieModele';
import { NuxtImg } from '#components';

import ConstatCellule from './ConstatCellule.vue';
import ConstatMessage from './ConstatMessage.vue';

interface ConstatProps {
    numero: number;
    modele: ConstatModele<InfographieModele>;
}

const props = defineProps<ConstatProps>();

const construireListeInfographie = () => {
    const liste = [props.modele.infographie];
    if (props.modele.infographie?.variantes) liste.push(...props.modele.infographie.variantes);
    return liste;
};
const indexInfographie = ref(0);
const infographie = computed(() => construireListeInfographie()[indexInfographie.value]);
const existeVarianteInfographie = computed(() => props.modele.infographie?.variantes?.length ?? 0 > 0);
const modifierIndexInfographie = () => {
    indexInfographie.value === construireListeInfographie().length - 1 ? (indexInfographie.value = 0) : indexInfographie.value++;
};
</script>
