<template>
    <TexteLien :url="useRouteMethodologieSourcesDonnees(sourceDonnee)">{{ sourceDonnee.nom }}</TexteLien> ({{ sourceDonnee.fournisseur.nom
    }}{{ anneesChoisis ? ', ' + anneesChoisis : '' }})
</template>

<script setup lang="ts">
import type { DefinitionSourceDonnee } from '@lga/indicateurs';
import { computed } from 'vue';

import { useRouteMethodologieSourcesDonnees } from '#imports';

import TexteLien from '../../base/TexteLien.vue';

interface Props {
    sourceDonnee: DefinitionSourceDonnee;
    annees?: string | number | undefined;
}

const props = defineProps<Props>();

const anneesChoisis = computed(() => (props.annees ? props.annees : props.sourceDonnee.annees));
</script>
