<template>
    <TexteLien :url="useRouteMethodologiePresentationGenerale(ID_CHEPTELS)"> {{ libelle ?? 'Cheptels' }} </TexteLien>
</template>

<script setup lang="ts">
import { useRouteMethodologiePresentationGenerale } from '#imports';

import TexteLien from '../../base/TexteLien.vue';
import { ID_CHEPTELS } from '../methodologie-utils.js';

interface Props {
    libelle?: string;
}

defineProps<Props>();
</script>
