<template>
    <div>
        <TemplatePage sansPiedDePage>
            <div v-if="useGetStateTerritoire()" class="h-[calc(100vh-var(--hauteur-entete-totale))]">
                <iframe title="crater" height="100%" width="100%" allowfullscreen :src="urlCrater"> </iframe>
            </div>
            <div v-else>
                <TitrePage titrePartie1Surlignee="Diagnostic" titre-partie2-non-surlignee=" détaillé" :texte-sous-titre="TEXTE_SOUS_TITRE" />
                <div class="xl:w-[350px] m-auto px-2">
                    <ChampRechercheTerritoire taille="s" :fnCreerRoute="(idTerritoire: string) => useRouteDiagnostics(idTerritoire)" />
                </div>
            </div>
        </TemplatePage>
    </div>
</template>

<script setup lang="ts">
import { useRoute } from 'vue-router';

import TemplatePage from '@/components/templates/TemplatePage.vue';
import {
    useFetchDonneesApi,
    useGetStateTerritoire,
    usePositionnerInfosHead,
    useRouteDiagnostics,
    useRouteMonTerritoire,
    useRouteParamsIndicateurs,
    useSetStateTef
} from '@/composables';
import appConfig from '~/app.config.js';
import TitrePage from '~/components/base/TitrePage.vue';
import ChampRechercheTerritoire from '~/components/navigation/ChampRechercheTerritoire.vue';
import { useGetCraterUrl } from '~/composables/apis/useGetCraterUrl.js';

const params = useRouteParamsIndicateurs();
const idTerritoire = params.idTerritoire || appConfig.tef.idNomFrance;
const complementUrlCrater = useRoute().query.complementUrlCrater as string;

const donneesApi = await useFetchDonneesApi(idTerritoire);
if (params.idTerritoire) {
    useSetStateTef(donneesApi.territoireApi);
}
const nomTerritoire = donneesApi.diagnosticApi.nomTerritoire;

const urlCrater = `${useGetCraterUrl()}/diagnostic/${idTerritoire}${complementUrlCrater ? `/${complementUrlCrater}` : ''}`;

const TEXTE_SOUS_TITRE = `Pour accéder au diagnostic détaillé et indicateurs associés de votre territoire :`;

usePositionnerInfosHead(
    idTerritoire
        ? {
              titre: () => `Diagnostics %separator ${nomTerritoire}`,
              routeUrlCanonique: useRouteMonTerritoire(idTerritoire),
              description: "Diagnostiquer son territoire à l'aide d'indicateurs"
          }
        : {
              titre: () => `Diagnostics `,
              description: "Diagnostiquer son territoire à l'aide d'indicateurs"
          }
);
</script>
