<template>
    <main class="bg-primaire flex flex-col items-center justify-center gap-8 py-12 sm:py-24 relative px-2 sm:px:12 lg:px-36">
        <h2 class="font-serif text-3xl sm:text-5xl text-white text-center">Maintenant que vous savez, il faut agir&nbsp;!</h2>
        <div class="w-full flex flex-wrap justify-center gap-4">
            <BlocAction class="basis-[500px]" titre="Partager" texte="à vos proches, à vos élu.e.s... via vos réseaux">
                <BarreReseauxSociaux
                    mode="partage"
                    :route-a-partager="props.routePartageRS ? props.routePartageRS : useRouteAccueil()"
                    couleur="accent"
                    type="filaire"
                    taille="m"
                    data-track-content
                    data-content-name="BarreReseauxSociaux"
                    data-content-piece="Partager sur les réseaux sociaux"
                />
            </BlocAction>
            <BlocAction
                v-if="props.routeTelechargementPdf"
                class="basis-[500px]"
                titre="Sauvegarder & Imprimer"
                texte="le diagnostic pour le lire ou le transmettre"
            >
                <UButton
                    class="px-8"
                    :to="useRouteDocumentsAImprimer(territoire?.id)"
                    color="accent"
                    size="xl"
                    :ui="{ rounded: 'rounded-full' }"
                    @click="
                        () =>
                            useTracerActionMatomo(
                                'Clic',
                                `Lien vers page Supports`,
                                `Lien vers page Supports de ${routeCourante.name} depuis comp=BandeauAgir`
                            )
                    "
                >Télécharger</UButton
                >
            </BlocAction>
        </div>
        <IconeAile filled class="absolute -left-12 w-52 -bottom-4 hidden lg:block" :fontControlled="false"> </IconeAile>
        <IconeDeuxAiles filled class="absolute -top-4 right-0 w-36 hidden lg:block" :fontControlled="false"> </IconeDeuxAiles>
    </main>
</template>

<script setup lang="ts">
import type { RouteLocationRaw } from 'vue-router/auto';

import IconeAile from '@/assets/motifs/aile.svg';
import IconeDeuxAiles from '@/assets/motifs/deux-ailes.svg';
import BarreReseauxSociaux from '@/components/base/BarreReseauxSociaux.vue';
import { useGetStateTerritoire, useRouteAccueil, useRouteDocumentsAImprimer, useRoutePageCourante, useTracerActionMatomo } from '@/composables';
import BlocAction from '~/components/base/BlocAction.vue';

interface Props {
    routePartageRS?: RouteLocationRaw;
    routeTelechargementPdf?: RouteLocationRaw;
}
const props = withDefaults(defineProps<Props>(), {
    routePartageRS: undefined,
    routeTelechargementPdf: undefined
});

const routeCourante = useRoutePageCourante();
const territoire = useGetStateTerritoire();
</script>
