<template>
    <div class="flex flex-col gap-4 place-items-center">
        <div class="flex flex-col items-start gap-2 px-4 sm:px-0">
            <div class="w-[min(90vw,500px)]">
                <ChampRechercheTerritoire></ChampRechercheTerritoire>
            </div>
            <p class="text-sm text-neutral-400 italic sm:pl-8 h-6">Ex : commune, code postal, intercommunalité, région...</p>
        </div>
    </div>
</template>

<script setup lang="ts">
import '@lga/commun/build/composants/champ-recherche-territoire/ChampRechercheTerritoire.js';

import ChampRechercheTerritoire from '@/components/navigation/ChampRechercheTerritoire.vue';
</script>
