<template>
    <div class="grid m-auto w-fit print:hidden">
        <ULink @click="ouvrirModale">
            <div class="text-xs sm:text-sm flex flex-rows flew-nowrap items-center gap-1 text-primaire hover:text-accent">
                <IconeDrapeauFrancais v-if="estPerimetreNational" filled class="text-lg mr-1" />
                <span v-if="estPerimetreNational">{{ libelleMentionNational }}</span>
                <span class="print:hidden">{{ libelleComplement }}</span>
                <UIcon class="print:hidden text-base" name="i-heroicons-question-mark-circle" />
            </div>
        </ULink>
        <ModaleInformation
            v-model="estOuvert"
            :titre="titre"
            :descriptif="descriptif"
            :descriptifDetaille="descriptifDetaille"
            :libelleLienComplementInformation="libelleLienComplementInformation ? libelleLienComplementInformation : 'En savoir plus'"
            :urlComplementInformation="urlComplementInformation"
        />
    </div>
</template>

<script setup lang="ts">
import type { HtmlString } from '@lga/base';
import { computed } from 'vue';
import { useRoute } from 'vue-router/auto';

import IconeDrapeauFrancais from '@/assets/icones/drapeau-francais.svg';
import { useTracerActionMatomo } from '~/composables/matomo/useSuiviMatomo.js';
import {
    calculerLibelleBoutonInfoMethodologie,
    calculerLibelleMentionNationalBoutonInfoMethodologie,
    type LibelleBoutonInfoMethodologie
} from '~/modeles/constats/BoutonInfoMethodologieModele.js';

import ModaleInformation from '../../base/ModaleInformation.vue';

export interface InformationsMethodologieBouton {
    titre: string;
    descriptif: HtmlString | string;
    descriptifDetaille?: HtmlString | string;
    estPerimetreNational?: boolean;
    libelleBouton?: LibelleBoutonInfoMethodologie;
    libelleLienComplementInformation?: string;
    urlComplementInformation?: string | undefined;
}

const props = withDefaults(defineProps<InformationsMethodologieBouton>(), {
    descriptifDetaille: undefined,
    estPerimetreNational: false,
    libelleBouton: 'Chiffre',
    libelleLienComplementInformation: '',
    urlComplementInformation: undefined
});

const estOuvert = defineModel<boolean>({ default: false });

const ouvrirModale = () => {
    estOuvert.value = true;
    useTracerActionMatomo('Clic', `Ouvrir modale informations méthodologie depuis page=${useRoute().name}`);
};

const libelleMentionNational = computed(() => calculerLibelleMentionNationalBoutonInfoMethodologie(props.libelleBouton));

const libelleComplement = computed(() => calculerLibelleBoutonInfoMethodologie(props.libelleBouton, props.estPerimetreNational));
</script>
