<template>
    <div>
        <UButton
            class="px-4"
            label="Ils l'ont fait !"
            size="lg"
            color="accent"
            variant="soft"
            :ui="{
                rounded: 'rounded-full'
            }"
            @click="isOpen = true"
        />
        <USlideover v-model="isOpen" :ui="{ width: 'w-screen max-w-4xl' }">
            <div class="flex p-4 justify-between items-center">
                <div class="flex relative pt-4">
                    <IconePouce filled class="absolute -top-0 text-4xl" />
                    <p class="ml-10 text-2xl sm:text-3xl font-serif text-primaire">Témoignages de transitions réussies</p>
                </div>
                <UButton
                    class="h-fit"
                    color="accent"
                    variant="outline"
                    icon="i-heroicons-x-mark-20-solid"
                    size="md"
                    :ui="{ rounded: 'rounded-full' }"
                    aria-label="Fermer"
                    @click="isOpen = false"
                />
            </div>
            <div class="overflow-y-auto h-fit flex flex-col gap-2 sm:gap-4 p-2 sm:p-4">
                <BlocResumeInitiative
                    v-for="item in props.initiatives"
                    :key="item.titre"
                    :titre="item.titre"
                    :localisation="item.localisation"
                    :description="item.description"
                    :source="item.source"
                    :url="item.url"
                    :libelle-url="item.libelleUrl"
                    :image="item.image"
                />
            </div>
        </USlideover>
    </div>
</template>

<script setup lang="ts">
import IconePouce from 'assets/icones/pouce-haut.svg';
import { ref } from 'vue';

import BlocResumeInitiative, { type BlocResumeInitiativeProps } from './BlocResumeInitiative.vue';

const isOpen = ref(false);

interface Props {
    initiatives: BlocResumeInitiativeProps[];
}

const props = defineProps<Props>();
</script>
