<template>
    <CarteTitreEtLegende
        titre="Impact des pratiques agricoles sur la biodiversité (score Haute Valeur Naturelle)"
        :styleCarte="styleCarteHVNCerclesProportionnelsColores"
    >
        <CarteCerclesProportionnels
            :territoire="territoire"
            urlIndicateur="surfaceAgricoleUtile.sauProductiveHa"
            urlIndicateurCouleurs="pratiquesAgricoles.indicateurHvn.indiceTotal"
            :styleCarte="styleCarteHVNCerclesProportionnelsColores"
            :attributionHtml="attributionHtml"
        >
        </CarteCerclesProportionnels>
    </CarteTitreEtLegende>
</template>

<script setup lang="ts">
import { htmlstring } from '@lga/base';
import { styleCarteHVNCerclesProportionnelsColores } from '@lga/indicateurs';
import type { TerritoireApi } from '@lga/specification-api';

import CarteCerclesProportionnels from '~/components/cartes/CarteCerclesProportionnelsColores.vue';

import CarteTitreEtLegende from '../../cartes/CarteTitreEtLegende.vue';

interface Props {
    territoire: TerritoireApi;
}

defineProps<Props>();

const attributionHtml = htmlstring`En savoir plus sur <a href="https://solagro.org/nos-domaines-d-intervention/agroecologie/haute-valeur-naturelle" target="_blank" rel="noopener noreferrer">solagro.org</a>`;
</script>
