<template>
    <svg xmlns="http://www.w3.org/2000/svg" :viewBox="viewbox">
        <!-- On zoome un tout petit peu sur le fond de carte (transform) pour enlever la bordure du svg -->
        <image :href="configFondCarte.url" transform="scale(1.01)" transform-origin="center" />
        <image
            v-if="pointsProjetes && longueurFleche"
            href="/analogues-climatiques-fonds-cartes/fleche.svg"
            :x="pointsProjetes?.communeAnalogueClimatique2000_2050.x - LARGEUR_FLECHE_PX / 2"
            :y="pointsProjetes?.communeAnalogueClimatique2000_2050.y"
            :height="longueurFleche - 2"
            :transform="`rotate(${angleFleche}, ${pointsProjetes.communeAnalogueClimatique2000_2050.x}, ${pointsProjetes.communeAnalogueClimatique2000_2050.y})`"
        />
        <circle
            v-if="pointsProjetes"
            :cx="pointsProjetes.communeReference.x"
            :cy="pointsProjetes.communeReference.y"
            r="4"
            fill="#33185D"
            stroke="#33185D60"
            stroke-width="3"
        />
        <text
            v-if="pointsProjetes"
            :x="pointsProjetes.communeReference.x + DECALAGE_TEXTE_X_PX"
            :y="pointsProjetes.communeReference.y + DECALAGE_TEXTE_Y_PX"
            font-size="12"
            font-weight="bold"
            fill="#33185D"
            stroke="#FFFFFF"
            stroke-width="0.3"
        >
            2050
        </text>
        <circle
            v-if="pointsProjetes"
            :cx="pointsProjetes.communeAnalogueClimatique2000_2050.x"
            :cy="pointsProjetes.communeAnalogueClimatique2000_2050.y"
            r="4"
            fill="#F9A279"
            stroke="#F9A27960"
            stroke-width="3"
        />
        <text
            v-if="pointsProjetes"
            :x="pointsProjetes.communeAnalogueClimatique2000_2050.x + DECALAGE_TEXTE_X_PX"
            :y="pointsProjetes.communeAnalogueClimatique2000_2050.y + DECALAGE_TEXTE_Y_PX"
            font-size="12"
            font-weight="bold"
            fill="#F9A279"
            stroke="#FFFFFF"
            stroke-width="0.3"
        >
            2020
        </text>
    </svg>
</template>

<script setup lang="ts">
import { computed } from 'vue';

import type {
    CoinsBBoxMercator,
    ConfigFondCarteAnalogueClimatiqueModele,
    PointsAnaloguesClimatiquesMercator
} from '~/modeles/constats/constats-climat';

interface Props {
    pointsAnaloguesClimatiques: PointsAnaloguesClimatiquesMercator;
    coinsBBox: CoinsBBoxMercator;
    configFondCarte: ConfigFondCarteAnalogueClimatiqueModele;
}

const props = defineProps<Props>();

const viewbox = computed(() => {
    return `0 0 ${props.configFondCarte.largeur} ${props.configFondCarte.hauteur}`;
});

const FACTEUR_ECHELLE_FOND_CARTE = 10000;
const DECALAGE_TEXTE_X_PX = 10;
const DECALAGE_TEXTE_Y_PX = 4;
const LARGEUR_BASE_FLECHE = 23;
const LONGUEUR_BASE_FLECHE = 265;

function calculerPointsCarte(
    pointsAnalguesClimatiques: PointsAnaloguesClimatiquesMercator,
    coinsBBox: CoinsBBoxMercator
): PointsAnaloguesClimatiquesMercator {
    const pointsProjetes: PointsAnaloguesClimatiquesMercator = {
        communeReference: {
            x: (pointsAnalguesClimatiques.communeReference.x - coinsBBox.sudOuest.x) / FACTEUR_ECHELLE_FOND_CARTE,
            y: (coinsBBox.nordEst.y - pointsAnalguesClimatiques.communeReference.y) / FACTEUR_ECHELLE_FOND_CARTE
        },
        communeAnalogueClimatique2000_2050: {
            x: (pointsAnalguesClimatiques.communeAnalogueClimatique2000_2050.x - coinsBBox.sudOuest.x) / FACTEUR_ECHELLE_FOND_CARTE,
            y: (coinsBBox.nordEst.y - pointsAnalguesClimatiques.communeAnalogueClimatique2000_2050.y) / FACTEUR_ECHELLE_FOND_CARTE
        }
    };
    return pointsProjetes;
}

function calculerLongueurFleche(pointsProjetes: PointsAnaloguesClimatiquesMercator) {
    return Math.sqrt(
        (pointsProjetes.communeAnalogueClimatique2000_2050.x - pointsProjetes.communeReference.x) ** 2 +
            (pointsProjetes.communeAnalogueClimatique2000_2050.y - pointsProjetes.communeReference.y) ** 2
    );
}

function calculerAngleFleche(pointsProjetes: PointsAnaloguesClimatiquesMercator) {
    return (
        -Math.atan2(
            pointsProjetes.communeReference.x - pointsProjetes.communeAnalogueClimatique2000_2050.x,
            pointsProjetes.communeReference.y - pointsProjetes.communeAnalogueClimatique2000_2050.y
        ) *
        (180 / Math.PI)
    );
}

const pointsProjetes = computed(() => calculerPointsCarte(props.pointsAnaloguesClimatiques, props.coinsBBox));
const longueurFleche = computed(() => calculerLongueurFleche(pointsProjetes.value));
const angleFleche = computed(() => calculerAngleFleche(pointsProjetes.value));
const LARGEUR_FLECHE_PX = computed(() => (LARGEUR_BASE_FLECHE * longueurFleche.value) / LONGUEUR_BASE_FLECHE);
</script>
