<template>
    <div id="conteneur-chart-declin-agriculteurs" class="w-[280px] sm:w-[480px]">
        <ClientOnly>
            <apexchart width="100%" height="250" type="bar" :options="options" :series="series"></apexchart>
            <template #fallback>
                <p class="w-full h-[250px] text-center">Histogramme déclin des agriculteurs</p>
            </template>
        </ClientOnly>
    </div>
</template>

<script setup lang="ts">
import { formaterNombreSelonValeurString } from '@lga/base';
import type { ApexOptions } from 'apexcharts';
import { computed } from 'vue';

import { ClientOnly } from '#components';
import { _accent, _jaune, _primaire } from '#tailwind-config/theme/colors';
import { _sans } from '#tailwind-config/theme/fontFamily';

interface props {
    nombreAgriculteurs: number[];
    annees: number[];
}

const props = defineProps<props>();

const series = computed<ApexAxisChartSeries>(() => {
    return [
        {
            data: props.nombreAgriculteurs
        }
    ];
});

const options = computed<ApexOptions>(() => {
    return {
        chart: {
            id: 'chart-declin-agriculteurs',
            toolbar: {
                show: false
            }
        },
        plotOptions: {
            bar: {
                distributed: true,
                borderRadius: 10,
                borderRadiusApplication: 'end',
                dataLabels: {
                    position: 'top'
                }
            }
        },
        dataLabels: {
            enabled: true,
            offsetY: -44,
            style: {
                fontFamily: _sans,
                fontSize: '24px',
                fontWeight: 'bold',
                colors: [_primaire.DEFAULT]
            },
            formatter: function (val, opts) {
                let valeur = formaterNombreSelonValeurString(val as number);
                if (opts.dataPointIndex === opts.w.globals.series[opts.seriesIndex].length - 1) {
                    valeur = valeur + ' ?';
                }
                return valeur;
            }
        },
        colors: [_jaune.sombre, _accent['600'], _accent['800']],
        xaxis: {
            categories: props.annees,
            position: 'bottom',
            axisBorder: {
                show: true,
                strokeWidth: 2,
                color: _primaire.clair
            },
            axisTicks: {
                show: false
            },
            tooltip: {
                enabled: false
            },
            labels: {
                show: true,
                style: {
                    colors: [_primaire.DEFAULT],
                    fontSize: '16px',
                    fontFamily: _sans
                }
            }
        },
        yaxis: {
            show: false,
            min: 0,
            max: Math.max(...props.nombreAgriculteurs) * 1.1
        },
        grid: {
            show: false
        },
        legend: {
            show: false
        },
        tooltip: {
            enabled: false
        }
    };
});
</script>

<style>
#conteneur-chart-declin-agriculteurs .apexcharts-xaxis > line {
    -webkit-filter: drop-shadow(0 4px 4px rgba(0, 0, 0, 0.5));
    filter: drop-shadow(0 4px 4px rgba(0, 0, 0, 0.5));
}
</style>
