<template>
    <div>
        <h1 class="text-2xl text-black m-10">Test du Burger</h1>
        <main class="my-10 p-5 w-full bg-neutral-50 grid">
            <Burger :arborescence-site="ARBORESCENCE_TEST" class="m-2 self-start justify-self-end" />
        </main>
    </div>
</template>

<script setup lang="ts">
import Burger from '@/components/navigation/Burger.vue';

import { ARBORESCENCE_TEST } from './menu-utils';
</script>
