<template>
    <div>
        <h1 class="text-2xl text-black m-10">Test du SectionsMenu</h1>
        <main class="m-10 p-5 w-96 bg-neutral-50">
            <SectionsMenu :liensHash="items" />
        </main>
    </div>
</template>

<script setup lang="ts">
import SectionsMenu from '~/components/navigation/SectionsMenu.vue';
import type { ItemLienHash } from '~/modeles/navigation/ItemMenuModele';

const items: ItemLienHash[] = [
    {
        type: 'LIEN_HASH',
        libelle: 'Ce chapitre parle du SA',
        hash: 'hash-titre1'
    },
    {
        type: 'LIEN_HASH',
        libelle: 'Celui-là des collectivités',
        hash: 'hash-titre2',
        estActif: true
    },
    {
        type: 'LIEN_HASH',
        libelle: 'Et celui-là est très long car il parle des solutions',
        hash: 'hash-titre3'
    }
];
</script>
