<template>
    <UTabs v-model="indexOptionActive" :items="items" class="w-fit h-fit" :ui="configUI" />
</template>

<script setup lang="ts">
import { computed } from 'vue';

interface Props {
    libellesOptions: string[];
    couleur?: 'accent' | 'neutre';
    desactiverTransition?: boolean;
}

const props = withDefaults(defineProps<Props>(), {
    couleur: 'accent',
    desactiverTransition: false
});

const indexOptionActive = defineModel<number>({ default: 0 });

const items = computed(() => props.libellesOptions.map((libelle) => ({ label: libelle })));

const configUI = computed(() => construireConfigUi(props.couleur));

const construireConfigUi = (couleur: 'accent' | 'neutre') => {
    return {
        container: 'hidden', // on n'utilise que la partie selecteur de tab de ce composant, on masque le contenu de la tab
        list: {
            background: couleur === 'accent' ? 'bg-white' : 'bg-neutral-50',
            rounded: 'rounded-full shadow-ombre-interne-s border-neutral-50',
            padding: '',
            height: '',
            marker: {
                wrapper: `top-[-1px] left-[1px] ${props.desactiverTransition ? 'transition-none' : ''}`,
                base: 'rounded-full w-[calc(100%+4px)] h-[calc(100%+4px)] -translate-x-2px -translate-y-2px shadow-ombre-interne-m shadow-ombre-externe ',
                background: couleur === 'accent' ? 'bg-accent' : 'bg-white',
                rounded: 'rounded-full',
                shadow: ''
            },
            tab: {
                base: `${props.desactiverTransition ? 'transition-none' : 'transition-shadow'}`,
                rounded: 'rounded-full',
                font: '',
                active: `font-medium ${couleur === 'accent' ? 'text-white' : 'text-neutral-400'}`,
                inactive: `font-medium ${couleur === 'accent' ? 'text-gris-300 hover:text-accent-500' : 'text-neutral-300 hover:text-neutral-400'}`,
                padding: 'px-8'
            }
        }
    };
};
</script>
