<template>
    <NuxtLink :class="['bouton', type, nomClasseCouleur, nomClasseTaille, nomClasseIconeUniquement, nomClasseStyleIcone]" :to="to" :target="target">
        <p v-if="libelle" class="libelle text-sm sm:text-base" :data-libelle="libelle">{{ libelle }}</p>
        <slot />
    </NuxtLink>
</template>

<script setup lang="ts">
import { computed } from 'vue';
import type { RouteLocationRaw } from 'vue-router/auto';

import { NuxtLink } from '#components';

interface BoutonProps {
    libelle: string;
    to: string | RouteLocationRaw;
    target?: string;
    type?: 'plein' | 'filaire';
    couleur?: 'primaire' | 'accent' | 'blanc';
    taille?: 's' | 'm' | 'l';
    styleIcone?: 'plein' | 'filaire';
}

const props = withDefaults(defineProps<BoutonProps>(), {
    type: 'plein',
    couleur: 'primaire',
    taille: 'm',
    styleIcone: 'plein',
    target: '_self'
});

const nomClasseCouleur = computed(() => `couleur-${props.type}-${props.couleur}`);
const nomClasseTaille = computed(() => `taille-${props.taille}`);
const nomClasseIconeUniquement = computed(() => (!props.libelle || props.libelle === '' ? 'icone-uniquement' : ''));
const nomClasseStyleIcone = computed(() => `style-icone-${props.styleIcone}`);
</script>

<style scoped>
.couleur-plein-primaire {
    --couleur-fond-base: var(--couleur-primaire);
    --couleur-texte-base: var(--couleur-blanc);
    --couleur-fond-active: transparent;
    --couleur-texte-active: var(--couleur-primaire);
}

.couleur-plein-accent {
    --couleur-fond-base: var(--couleur-accent);
    --couleur-texte-base: var(--couleur-blanc);
    --couleur-fond-active: transparent;
    --couleur-texte-active: var(--couleur-accent);
}

.couleur-plein-blanc {
    --couleur-fond-base: var(--couleur-blanc);
    --couleur-texte-base: var(--couleur-primaire);
    --couleur-fond-active: transparent;
    --couleur-texte-active: var(--couleur-blanc);
}

.couleur-filaire-primaire {
    --couleur-fond-base: transparent;
    --couleur-texte-base: var(--couleur-primaire);
    --couleur-fond-active: var(--couleur-primaire);
    --couleur-texte-active: var(--couleur-blanc);
}

.couleur-filaire-accent {
    --couleur-fond-base: transparent;
    --couleur-texte-base: var(--couleur-accent);
    --couleur-fond-active: var(--couleur-accent);
    --couleur-texte-active: var(--couleur-blanc);
}
.couleur-filaire-blanc {
    --couleur-fond-base: transparent;
    --couleur-texte-base: var(--couleur-blanc);
    --couleur-fond-active: var(--couleur-blanc);
    --couleur-texte-active: var(--couleur-primaire);
}

.taille-s {
    --taille-icone: 1em;
    --hauteur: 42px;
    --padding: 32px;
}
.taille-m {
    --taille-icone: 1.2em;
    --hauteur: 46px;
    --padding: 48px;
}
.taille-l {
    --taille-icone: 2em;
    --hauteur: 72px;
    --padding: 64px;
}

.bouton {
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: var(--dsem2);
    background-color: var(--couleur-fond-base);
    text-decoration: none;
    width: fit-content;
    height: var(--hauteur);
    border: 1px solid var(--couleur-texte-active);
    border-radius: calc(var(--hauteur) / 2);
    padding: 0 var(--padding);
}

.icone-uniquement {
    width: var(--hauteur);
    padding: 0;
}

.libelle {
    white-space: nowrap;
    margin: 0;
    padding: 0;
    color: var(--couleur-texte-base);
    width: max-content;
}

.bouton:hover,
.bouton:active {
    background-color: var(--couleur-fond-active);
}
.bouton:hover .libelle,
.bouton:active .libelle {
    color: var(--couleur-texte-active);
}

.plein:hover,
.plein:active {
    border: 1px solid var(--couleur-texte-active);
}

.filaire {
    border: 1px solid var(--couleur-texte-base);
}

:slotted(svg) {
    width: var(--taille-icone);
    height: var(--taille-icone);
    margin: 0;
}

.style-icone-plein :slotted(svg) {
    fill: var(--couleur-fond-base);
    color: var(--couleur-texte-base);
    stroke: transparent;
}

.filaire.style-icone-plein :slotted(svg) {
    fill: var(--couleur-texte-base);
    color: var(--couleur-texte-base);
    stroke: transparent;
}

.style-icone-plein:active :slotted(svg),
.style-icone-plein:hover :slotted(svg) {
    fill: var(--couleur-texte-active);
    color: var(--couleur-texte-active);
    stroke: transparent;
}

.style-icone-filaire :slotted(svg) {
    fill: transparent;
    color: transparent;
    stroke: var(--couleur-texte-base);
}
.style-icone-filaire:active :slotted(svg),
.style-icone-filaire:hover :slotted(svg) {
    color: transparent;
    stroke: var(--couleur-texte-active);
}
</style>
