<template>
    <li class="flex py-1">
        <div><IconeAsterisque class="text-xl pt-1" /></div>
        <div class="text-base text-primaire-700 pl-2"><slot></slot></div>
    </li>
</template>

<script setup lang="ts">
import IconeAsterisque from '@/assets/icones/asterisque.svg';
</script>
