<template>
    <!-- external : pour pouvoir ouvrir les pdf sans routage -->
    <NuxtLink :href="props.url" :target="calculerTarget(usePath(props.url))" :external="estUrlExterne(usePath(props.url))">
        <span class="hover:text-accent">
            <span class="underline hover:no-underline"><slot></slot></span>
            <span v-if="estLienSortant(usePath(props.url))">&nbsp;<UIcon name="i-heroicons-arrow-top-right-on-square" /></span>
        </span>
    </NuxtLink>
</template>

<script setup lang="ts">
import type { RouteLocationRaw } from 'vue-router';

import { NuxtLink } from '#components';
import { usePath } from '#imports';

interface Props {
    url: string | RouteLocationRaw;
}

const props = defineProps<Props>();
const estUrlExterne = (path: string) => {
    return path.startsWith('http') || path.includes('pdf/');
};
const estLienSortant = (path: string) => {
    return path.startsWith('http');
};

const calculerTarget = (path: string) => {
    return estLienSortant(path) ? '_blank' : '_self';
};
</script>
