<template>
    <div class="relative mt-6">
        <TitreH2>{{ props.titre }}</TitreH2>
        <div class="absolute -top-4 -left-10 text-4xl">
            <div class="hidden lg:block">
                <slot name="icone"></slot>
            </div>
        </div>
    </div>
</template>

<script setup lang="ts">
import TitreH2 from './TitreH2.vue';

interface Props {
    titre: string;
}

const props = defineProps<Props>();
</script>
