<template>
    <div class="relative">
        <TitreH3>{{ props.titre }}</TitreH3>
        <div class="absolute -top-0 -left-10 sm:-left-12 text-3xl sm:text-4xl">
            <slot name="icone"></slot>
        </div>
    </div>
</template>

<script setup lang="ts">
import TitreH3 from './TitreH3.vue';

interface Props {
    titre: string;
}

const props = defineProps<Props>();
</script>
