<template>
    <div class="flex flex-col gap-6 items-center px-4 py-6 lg:py-12 text-center">
        <h1 class="text-4xl lg:text-6xl font-serif text-primaire-800">
            <TexteStabilo couleur="jaune">{{ props.titrePartie1Surlignee }}</TexteStabilo>
            <span>{{ props.titrePartie2NonSurlignee }}</span>
        </h1>
        <p class="text-lg text-primaire-800 max-w-2xl">
            <span v-if="props.texteSousTitre">{{ props.texteSousTitre }}</span>
            <slot></slot>
        </p>
    </div>
</template>

<script setup lang="ts">
import TexteStabilo from './TexteStabilo.vue';

interface Props {
    titrePartie1Surlignee: string;
    titrePartie2NonSurlignee?: string;
    texteSousTitre?: string;
}

const props = defineProps<Props>();
</script>
