<template>
    <main>
        <TemplatePage>
            <TitrePage titrePartie1Surlignee="Contact" :texte-sous-titre="TEXTE_SOUS_TITRE" />
            <div class="max-w-[600px] m-auto text-center pb-8 text-lg">
                Et si vous souhaitez vous inscrire à notre newsletter, c'est par
                <TexteLien :url="usePath(useRouteFormulaireInscriptionNewsletter())">ici</TexteLien>.
            </div>
            <div class="flex flex-col w-full h-full place-content-center place-items-center pb-16">
                <UIcon v-if="!iframeCharge" name="i-heroicons-arrow-path" class="text-5xl animate-spin" />
                <iframe
                    id="iframe-formulaire-contact"
                    :class="['w-full sm:w-[600px] px-2', !iframeCharge ? 'hidden' : '']"
                    title="formulaire-contact"
                    height="600px"
                    width="100%"
                    allowfullscreen
                    src="https://resiliencealimentaire.org/formulaire-contact-territoires-fertiles/"
                >
                </iframe>
            </div>
        </TemplatePage>
    </main>
</template>

<script setup lang="ts">
import { onMounted, ref } from 'vue';

import TitrePage from '@/components/base/TitrePage.vue';
import { usePath, usePositionnerInfosHead, useRouteFormulaireInscriptionNewsletter } from '@/composables';
import TexteLien from '~/components/base/TexteLien.vue';
import TemplatePage from '~/components/templates/TemplatePage.vue';

usePositionnerInfosHead({
    titre: 'Formulaire de contact',
    description: 'Contactez le projet Territoires Fertiles'
});

const TEXTE_SOUS_TITRE =
    "Vous avez une question ? Une remarque ? N'hésitez pas à nous écrire, en nous laissant votre adresse email si cela nécessite une réponse. Nous ne l'utiliserons qu'à cette fin.";

const iframeCharge = ref(false);
onMounted(() => {
    const iframe = document.getElementById('iframe-formulaire-contact');
    if (iframe) {
        iframe.addEventListener('load', () => {
            iframeCharge.value = true;
        });
    }
});
</script>
