<template>
    <main>
        <TemplatePage>
            <TitrePage titrePartie1Surlignee="Ajouter un territoire" :texte-sous-titre="TEXTE_SOUS_TITRE" />
            <div class="flex flex-col w-full h-full place-content-center place-items-center pb-16">
                <UIcon v-if="!iframeCharge" name="i-heroicons-arrow-path animate-spin" class="text-5xl" />
                <iframe
                    id="iframe"
                    :class="['w-full sm:w-[800px] px-2', !iframeCharge ? 'hidden' : '']"
                    title="formulaire-ajout-territoire"
                    height="1100px"
                    width="100%"
                    allowfullscreen
                    src="https://resiliencealimentaire.org/formulaire-ajout-territoire-crater"
                >
                </iframe>
            </div>
        </TemplatePage>
    </main>
</template>

<script setup lang="ts">
import { onMounted, ref } from 'vue';

import TitrePage from '@/components/base/TitrePage.vue';
import { usePositionnerInfosHead } from '@/composables';
import TemplatePage from '~/components/templates/TemplatePage.vue';

usePositionnerInfosHead({
    titre: "Formulaire de demande d'ajout de territoire",
    description: "Demandez l'ajout de votre territoire"
});

const TEXTE_SOUS_TITRE = "Vous souhaitez ajouter un territoire tel qu'un PAT ? Faites-nous-en la demande via ce formulaire :";

const iframeCharge = ref(false);
onMounted(() => {
    const iframe = document.getElementById('iframe');
    if (iframe) {
        iframe.addEventListener('load', function () {
            iframeCharge.value = true;
        });
    }
});
</script>
