<template>
    <main>
        <TemplatePage>
            <TitrePage titrePartie1Surlignee="Donnez votre avis" :texte-sous-titre="TEXTE_SOUS_TITRE" />
            <div class="flex flex-col w-full h-full place-content-center place-items-center pb-16">
                <UIcon v-if="!iframeCharge" name="i-heroicons-arrow-path" class="text-5xl animate-spin" />
                <iframe
                    id="iframe-formulaire-donnez-votre-avis"
                    :class="['w-full sm:w-[800px] px-2', !iframeCharge ? 'hidden' : '']"
                    title="formulaire-donnez-votre-avis"
                    height="1900px"
                    width="100%"
                    allowfullscreen
                    :src="LIEN_FORMULAIRE_RETOUR"
                >
                </iframe>
            </div>
        </TemplatePage>
    </main>
</template>

<script setup lang="ts">
import { onMounted, ref } from 'vue';

import TitrePage from '@/components/base/TitrePage.vue';
import { usePositionnerInfosHead } from '@/composables';
import TemplatePage from '~/components/templates/TemplatePage.vue';

usePositionnerInfosHead({
    titre: 'Donnez votre avis',
    description: "Faites-nous un retour sur l'application !"
});

const TEXTE_SOUS_TITRE = "Vous souhaitez nous faire part de vos impressions ? Merci d'avance pour ces retours qui nous sont précieux !";

const LIEN_FORMULAIRE_RETOUR = 'https://framaforms.org/votre-avis-sur-territoires-fertiles-1717515091';

const iframeCharge = ref(false);
onMounted(() => {
    const iframe = document.getElementById('iframe-formulaire-donnez-votre-avis');
    if (iframe) {
        iframe.addEventListener('load', function () {
            iframeCharge.value = true;
        });
    }
});
</script>
