<template>
    <body class="m-2">
        <h1 class="text-2xl sm:text-3xl font-serif p-2">Configuration</h1>
        <main class="m-4">
            <h2 class="text-2xl sm:text-3xl font-serif p-2 mt-8">RuntimeConfig (public)</h2>
            <pre>{{ JSON.stringify($config.public, null, 2) }}</pre>
            <h2 class="text-2xl sm:text-3xl font-serif p-2 mt-8">SiteConfig</h2>
            <pre>{{ JSON.stringify(useSiteConfig(), null, 2) }}</pre>
        </main>
    </body>
</template>

<script setup lang="ts">
import { useSiteConfig } from '#imports';
</script>
