<template>
    <TemplatePage>
        <TemplateArticle titre="Les Projets Alimentaires Territoriaux (PAT)" :sectionsMenu="SECTIONS">
            <template #bandeauTitre>
                <TexteP>
                    Un Projet Alimentaire Territorial (PAT) est une démarche collective visant à développer la résilience alimentaire des territoires
                    et à promouvoir la transition écologique dans les domaines agricole et alimentaire. Découvrez comment ce dispositif permet
                    d’encourager les initiatives des acteurs du territoire pour transformer le système alimentaire, et aller vers une agriculture et
                    une alimentation plus locale et plus durable.
                </TexteP>
            </template>
            <template #[SECTIONS?.at(0)!.hash]>
                <TexteP>
                    En associant collectivités, agriculteurs, associations, entreprises et citoyens, le PAT est un outil au service d’une politique
                    alimentaire territoriale. Éligible à des financements spécifiques, il permet de structurer l’action publique locale avec une
                    approche systémique des enjeux agricoles et alimentaires. Les acteurs ayant pour objectif de relocaliser l’agriculture, de
                    renforcer l’autonomie alimentaire des territoires ou la sécurité alimentaire de la population sont de plus en plus nombreux à
                    s’emparer de ce dispositif.
                </TexteP>
            </template>

            <template #[SECTIONS?.at(1)!.hash]>
                <TexteP>
                    Le label «Projet Alimentaire Territorial» (PAT) désigne une démarche stratégique et collaborative, pilotée au niveau local ou
                    départemental, pour développer un système alimentaire durable. Reconnu au niveau national dans le cadre du Programme National pour
                    l’Alimentation (PNA), il s’appuie sur les spécificités d’un territoire et la mobilisation des acteurs du secteur alimentaire
                    (production, transformation, distribution) pour répondre à plusieurs enjeux.
                </TexteP>
                <TexteP>
                    Parmi les objectifs fréquemment poursuivis, on trouve la promotion des circuits courts, en facilitant la connexion entre les
                    producteurs locaux et les consommateurs ; le soutien à l’installation de nouveaux agriculteurs, en agissant sur le foncier et
                    l’accompagnement des porteurs de projets ; la réduction du gaspillage alimentaire, en sensibilisant les habitants et en optimisant
                    les pratiques ; l’amélioration de l’accessibilité à une alimentation saine et de qualité, en luttant contre les inégalités
                    alimentaires.
                </TexteP>
            </template>

            <template #[SECTIONS?.at(2)!.hash]>
                <TexteP
                >Un PAT constitue un outil reconnu pour structurer la politique agricole et alimentaire locale. Voici les principales raisons de
                    développer un tel projet :</TexteP
                >
                <ul class="text-lg list-disc list-inside">
                    <li>
                        <span class="font-bold">Promouvoir une agriculture durable</span> : des pratiques agricoles moins intensives contribuent à la
                        préservation des ressources naturelles et à la lutte contre le changement climatique.
                    </li>
                    <li>
                        <span class="font-bold">Réduire la dépendance alimentaire</span> : la relocalisation de l’approvisionnement et la promotion
                        des produits locaux réduisent la dépendance aux importations alimentaires. Cela renforce la résilience des territoires face
                        aux crises économiques ou climatiques.
                    </li>
                    <li>
                        <span class="font-bold">Soutenir les agriculteurs locaux</span> : la création de nouveaux débouchés pour les producteurs,
                        notamment à travers des marchés de proximité ou des partenariats avec la restauration collective, participe au soutien de
                        l’économie locale et au maintien de l’emploi agricole.
                    </li>
                    <li>
                        <span class="font-bold">Renforcer l’accessibilité à l’alimentation durable</span> : la lutte contre les inégalités
                        alimentaires permet d’améliorer la santé des habitants et la cohésion du territoire.
                    </li>
                </ul>

                <Encadre
                    type="focus-territoire"
                    titre="Et chez vous : quels sont les enjeux agricoles et alimentaires ? Pourquoi déployer un PAT ou renforcer le dispositif existant ?"
                >
                    <BlocRechercheTerritoire></BlocRechercheTerritoire>
                </Encadre>
            </template>

            <template #[SECTIONS?.at(3)!.hash]>
                <TexteP
                >On distingue les PAT en émergence, ou de niveau 1, et les PAT en phase opérationnelle, dits de niveau 2. Le développement d’un
                    projet alimentaire local suit généralement un parcours en plusieurs étapes :
                </TexteP>
                <PuceNumeroEtTexte :numero="1" texte="Réaliser un diagnostic territorial" class="mt-4 mb-2 font-bold text-lg" />
                <p class="pl-10 text-lg">
                    Cette étape consiste à analyser les ressources agricoles disponibles, les besoins alimentaires des habitants et les dynamiques
                    économiques existantes. Cela permet d’identifier les forces et les faiblesses du système alimentaire local.
                </p>
                <PuceNumeroEtTexte :numero="2" texte="Mobiliser les acteurs locaux" class="mt-4 mb-2 font-bold text-lg" />
                <p class="pl-10 text-lg">
                    Un PAT repose sur la collaboration. Agriculteurs, associations, collectivités, entreprises agroalimentaires, commerçants,
                    artisans, citoyens définissent une vision commune et partagent les responsabilités. Cette phase inclut des rencontres, des
                    ateliers et des consultations publiques.
                </p>
                <PuceNumeroEtTexte :numero="3" texte="Élaborer une stratégie alimentaire" class="mt-4 mb-2 font-bold text-lg" />
                <p class="pl-10 text-lg">
                    Après le diagnostic, il est essentiel de fixer des objectifs clairs, chiffrés, et de définir les actions prioritaires. Par
                    exemple, développer les circuits courts, intégrer des produits locaux dans les cantines scolaires ou organiser des campagnes de
                    sensibilisation.
                </p>
                <PuceNumeroEtTexte :numero="4" texte="Mise en œuvre et suivi" class="mt-4 mb-2 font-bold text-lg" />
                <p class="pl-10 text-lg">
                    La dernière étape consiste à réaliser les actions définies, tout en mesurant leur impact à travers des indicateurs spécifiques. Un
                    suivi régulier permet d’ajuster les projets en fonction des résultats obtenus et des besoins émergents.
                </p>

                <Encadre
                    type="focus-territoire"
                    titre="Consultez le diagnostic détaillé"
                    sous-titre="Analysez votre territoire au travers de graphiques et de cartes pour tout comprendre sur les enjeux agricoles et alimentaires."
                >
                    <div class="flex items-center justify-center">
                        <div class="xl:w-[350px] m-auto">
                            <ChampRechercheTerritoire :fnCreerRoute="(idTerritoire: string) => useRouteDiagnostics(idTerritoire)" />
                        </div>
                    </div>
                </Encadre>
            </template>

            <template #[SECTIONS?.at(4)!.hash]>
                <TexteP
                >Les actions suivantes trouvent fréquemment leur place dans un PAT :
                    <ul>
                        <li>
                            <span class="font-bold">Promotion des filières de proximité</span> : il s’agit de faciliter l’accès des habitants aux
                            produits locaux en créant des partenariats entre producteurs, restaurateurs et distributeurs. Cela peut inclure un
                            engagement à travers la restauration collective ou la création de marchés paysans et de plateformes numériques ou
                            physiques de mutualisation pour les commandes et les livraisons.
                        </li>
                        <li>
                            <span class="font-bold">Soutien à l’installation agricole</span> : l’objectif est de freiner le déclin du nombre
                            d’agriculteurs par des interventions sur le foncier et un accompagnement des futurs cédants et repreneurs.
                        </li>
                        <li>
                            <span class="font-bold">Éducation à l’alimentation durable</span> : des programmes pédagogiques dans les écoles, des
                            formations pour les restaurateurs ou des événements pour le grand public peuvent promouvoir une alimentation de qualité et
                            lutter contre le gaspillage alimentaire.
                        </li>
                    </ul>
                </TexteP>
            </template>

            <template #[SECTIONS?.at(5)!.hash]>
                <TexteP
                >Un PAT peut générer des bénéfices multiples pour les territoires :
                    <ul>
                        <li>
                            <span class="font-bold">Autonomie alimentaire</span> : en réduisant la dépendance aux importations, il améliore la
                            sécurité alimentaire des territoires face aux crises.
                        </li>
                        <li>
                            <span class="font-bold">Résilience locale</span> : en favorisant les filières de proximité et l’évolution des pratiques
                            agricoles, il crée un système alimentaire plus adaptable et durable.
                        </li>
                        <li>
                            <span class="font-bold">Dynamisme économique</span> : les producteurs locaux bénéficient d’un soutien accru, et de
                            nouveaux emplois se développent autour de la transformation, de la distribution et de la logistique.
                        </li>
                    </ul>
                </TexteP>
            </template>

            <template #[SECTIONS?.at(6)!.hash]>
                <TexteP
                >Un PAT repose sur une approche collective mobilisant un réseau d’acteurs du territoire :
                    <ul>
                        <li>
                            <span class="font-bold">Les collectivités locales</span>, comme les communes, les communautés de communes, communautés
                            d’agglomérations, métropoles et départements, qui pilotent souvent le projet.
                        </li>
                        <li>
                            <span class="font-bold">Les agriculteurs et entreprises du territoire</span>, qui fournissent les produits nécessaires au
                            système alimentaire local.
                        </li>
                        <li>
                            <span class="font-bold">Les associations et ONG</span>, qui agissent en tant que relais ou partenaires pour sensibiliser
                            et mobiliser la population.
                        </li>
                        <li>
                            <span class="font-bold">Les habitants</span>, qui participent en tant que consommateurs et citoyens, en s’impliquant dans
                            les initiatives locales.
                        </li>
                    </ul>
                </TexteP>
            </template>

            <template #[SECTIONS?.at(7)!.hash]>
                <div class="max-w-[800px] m-auto flex flex-col gap-6 py-12 items-center">
                    <BlocResumeInitiative
                        v-for="item in initiatives"
                        :key="item.titre"
                        :titre="item.titre"
                        :localisation="item.localisation"
                        :description="item.description"
                        :url="item.urlLienExterne"
                        :libelle-url="item.intituleLienExterne"
                        :image="item.image"
                    />
                    <UButton
                        class="w-fit px-12 mt-8"
                        color="accent"
                        variant="solid"
                        size="xl"
                        :ui="{
                            rounded: 'rounded-full'
                        }"
                        :to="useRouteInitiatives()"
                        @click="() => useTracerNavigationMatomo($route.name, 'projet-alimentaire-territorial', 'diagnostic-detaille')"
                    >Voir plus d'initiatives inspirantes
                    </UButton>
                </div>
            </template>

            <template #[SECTIONS?.at(8)!.hash]>
                <TexteP
                >Le développement des PAT crée des opportunités d’emploi variées, notamment dans les domaines suivants :
                    <ul>
                        <li>
                            <span class="font-bold">La gestion de projets alimentaires</span> : chef de projet ou chargé de mission pour la
                            coordination, la mise en œuvre et le suivi.
                        </li>
                        <li>
                            <span class="font-bold">L’agriculture locale</span> : développement de nouvelles production et installation d'agriculteurs
                            et agricultrices.
                        </li>
                        <li>
                            <span class="font-bold">La transformation et la distribution</span> : développement de nouvelles filières en circuits
                            courts, création d'ateliers de transformation.
                        </li>
                        <li><span class="font-bold">L’éducation à l’alimentation durable</span> : animation d’ateliers et formation.</li>
                    </ul>
                </TexteP>
            </template>

            <template #[SECTIONS?.at(9)!.hash]>
                <TexteP></TexteP>
                <TitreH4>Qui peut porter un projet alimentaire territorial ?</TitreH4>
                <TexteP
                >Un PAT peut être porté par une collectivité locale (commune, intercommunalité, département, région), un parc naturel régional, ou
                    un regroupement d’acteurs locaux. Il est essentiel que la structure porteuse soit en mesure de mobiliser les parties prenantes
                    locales et de coordonner les différentes actions.</TexteP
                >

                <TitreH4>Quels sont les financements possibles pour un PAT ?</TitreH4>
                <TexteP
                >Les financements proviennent principalement d’appels à projets du Ministère de l’Agriculture et de la Souveraineté Alimentaire, à
                    travers le Programme National de l’Alimentation (PNA), ainsi que de fonds régionaux, départementaux ou européens. Des subventions
                    et des aides peuvent également être octroyées par des fondations privées ou des initiatives locales.</TexteP
                >

                <TitreH4>Comment initier un projet alimentaire territorial dans ma communauté ?</TitreH4>
                <TexteP
                >Outre la volonté politique, il faut s’assurer d’une part de bénéficier des moyens humains pour porter le projet dans la durée et
                    d’autre part, de l’intérêt des acteurs du système alimentaire local pour prendre part au dispositif. Des actions concrètes simples
                    à mettre en œuvre, au niveau de la restauration collective par exemple, permettent d’amorcer la démarche.</TexteP
                >

                <TitreH4>Quels acteurs sont impliqués dans un projet alimentaire territorial ?</TitreH4>
                <TexteP
                >Les acteurs impliqués comprennent les collectivités locales, les producteurs agricoles et entreprises agroalimentaires, les
                    associations, les artisans et commerçants, les restaurateurs, les établissements scolaires, les ONG et les citoyens. La bonne
                    coordination de ce réseau est un facteur important de réussite.</TexteP
                >

                <TitreH4>Quelles sont les formations existantes pour développer un PAT ?</TitreH4>
                <TexteP
                >Il existe plusieurs formations dans le domaine de l’agriculture, de la gestion de projets territoriaux et de l’alimentation
                    durable. En voici quelques exemples : Diplôme Universitaire Chef de Projet en Alimentation Durable (Université Côte d’Azur),
                    Mastère Spécialisé Innovations et Politiques pour une Alimentation Durable (Institut Agro Montpellier), Master Alimentation
                    Durable et Résilience Territoriale (Université Bordeaux Montaigne).</TexteP
                >

                <TitreH4>Comment mesurer le succès d'un projet alimentaire territorial ?</TitreH4>
                <TexteP
                >Le succès d’un PAT peut être mesuré par des indicateurs tels que le volume d’activité des circuits courts et de proximité, la
                    réduction du gaspillage alimentaire, l’amélioration de l’accès à une alimentation locale et durable, et l’évolution du nombre
                    d’agriculteurs. Un suivi continu et des évaluations périodiques sont essentiels.</TexteP
                >

                <TitreH4>Comment impliquer les citoyens et les parties prenantes dans un projet alimentaire territorial ?</TitreH4>
                <TexteP
                >Les citoyens peuvent être impliqués par des actions de sensibilisation, des consultations publiques, des ateliers participatifs
                    et des événements locaux. Les parties prenantes (producteurs, associations, collectivités) sont mobilisées dès les premières
                    étapes pour construire un projet partagé et adapté aux spécificités locales.</TexteP
                >

                <TitreH4>Quels défis peuvent survenir lors de la mise en place d'un projet alimentaire territorial ?</TitreH4>
                <TexteP
                >Les principaux défis incluent la coordination des acteurs et leur mobilisation dans la durée, le financement à long terme et
                    l’adaptation aux particularités locales. La gestion des conflits d’intérêts entre différents acteurs peut aussi représenter un
                    enjeu important.</TexteP
                >

                <TitreH4
                >Comment un projet alimentaire territorial peut-il contribuer à la lutte contre le gaspillage et les déchets alimentaires
                    ?</TitreH4
                >
                <TexteP
                >Les actions de sensibilisation auprès des citoyens, de la restauration collective et des producteurs pour réduire les pertes et
                    le gaspillage sont fréquemment intégrées dans un PAT. Des initiatives comme les dons alimentaires, le compostage et l’éducation à
                    la gestion des surplus permettent de limiter les déchets alimentaires.</TexteP
                >

                <TitreH4>Comment un projet alimentaire territorial peut-il contribuer à la sécurité alimentaire ?</TitreH4>
                <TexteP
                >En favorisant les circuits courts et l’approvisionnement local, un PAT renforce l’autonomie alimentaire du territoire. Cela
                    permet de mieux répondre aux besoins alimentaires de la population, notamment en cas de perturbation. L’élaboration du PAT peut
                    également être l’occasion d’intégrer la question de la sécurité alimentaire dans les plans de prévention des risques et de gestion
                    de crises (plan communal de sauvegarde, DICRIM, dispositif ORSEC).</TexteP
                >

                <TitreH4>Quels sont les bénéfices environnementaux d'un projet alimentaire territorial ?</TitreH4>
                <TexteP
                >Les PAT peuvent soutenir le développement de pratiques agricoles préservant les ressources naturelles (eau, sol, biodiversité).
                    Ils permettent également d’agir au niveau de la consommation en encourageant des régimes moins riches en produits animaux dont
                    l’empreinte carbone est plus faible.</TexteP
                >
                <Encadre
                    type="focus-territoire"
                    titre="Et chez vous : quels sont les enjeux agricoles et alimentaires ? Pourquoi déployer un PAT ou renforcer le dispositif existant ?"
                >
                    <BlocRechercheTerritoire></BlocRechercheTerritoire>
                </Encadre>
            </template>
        </TemplateArticle>
    </TemplatePage>
</template>

<script setup lang="ts">
import { DEFINITIONS_INITIATIVES } from '@lga/initiatives';

import PuceNumeroEtTexte from '~/components/base/PuceNumeroEtTexte.vue';
import TexteP from '~/components/base/TexteP.vue';
import TitreH4 from '~/components/base/TitreH4.vue';
import BlocRechercheTerritoire from '~/components/diagnostics/commun/BlocRechercheTerritoire.vue';
import BlocResumeInitiative from '~/components/diagnostics/commun/BlocResumeInitiative.vue';
import Encadre from '~/components/diagnostics/thematiques/commun/Encadre.vue';
import ChampRechercheTerritoire from '~/components/navigation/ChampRechercheTerritoire.vue';
import TemplateArticle from '~/components/templates/TemplateArticle.vue';
import TemplatePage from '~/components/templates/TemplatePage.vue';
import { usePositionnerInfosHead, useRouteDiagnostics, useRouteInitiatives, useTracerNavigationMatomo } from '~/composables';
import type { ItemLienHash } from '~/modeles/navigation/ItemMenuModele';

usePositionnerInfosHead({
    titre: 'Projet Alimentaire Territorial PAT',
    description:
        'Découvrez comment les Projets Alimentaires Territoriaux(PAT) peuvent vous aider à porter et piloter la transition écologique de vos territoires, dans les domaines agricole et alimentaire.',
    titreRS: 'La FAQ du projet Territoires Fertiles'
});

const initiatives = DEFINITIONS_INITIATIVES.filter((i) => ['I-018', 'I-035', 'I-047'].includes(i.id));

const SECTIONS: ItemLienHash[] = [
    {
        type: 'LIEN_HASH',
        hash: 'introduction',
        libelle: 'Introduction'
    },
    {
        type: 'LIEN_HASH',
        hash: 'definition',
        libelle: 'Définition : qu’est-ce qu’un Projet Alimentaire Territorial (PAT) ?'
    },
    {
        type: 'LIEN_HASH',
        hash: 'pourquoi',
        libelle: 'Pourquoi développer un Projet Alimentaire Territorial ?'
    },
    {
        type: 'LIEN_HASH',
        hash: 'etapes',
        libelle: 'Les étapes de mise en place d’un Projet Alimentaire Territorial'
    },
    {
        type: 'LIEN_HASH',
        hash: 'actions',
        libelle: 'Actions clés dans le cadre d’un PAT'
    },
    {
        type: 'LIEN_HASH',
        hash: 'benefices',
        libelle: 'Bénéfices du Projet Alimentaire Territorial'
    },
    {
        type: 'LIEN_HASH',
        hash: 'acteurs',
        libelle: 'Qui peut participer à un Projet Alimentaire Territorial ?'
    },
    {
        type: 'LIEN_HASH',
        hash: 'exemples',
        libelle: 'Exemples de Projets Alimentaires Territoriaux'
    },
    {
        type: 'LIEN_HASH',
        hash: 'emplois',
        libelle: 'Emplois et métiers liés aux PAT'
    },
    {
        type: 'LIEN_HASH',
        hash: 'questions-frequentes',
        libelle: 'Questions fréquentes (FAQ)'
    }
];
</script>
