<template>
    <TemplatePage class="relative">
        <AccueilRechercheTerritoire />
        <ElementScrollable
            @evtEntrerZoneScroll="
                () => useTracerActionMatomo('Scroll', 'Atteindre comp=DernieresNouvelles', `Atteindre page=${$route.name},comp=DernieresNouvelles`)
            "
        >
            <DernieresNouvelles
                titre-partie1-surlignee="Découvrir"
                titre-partie2-non-surlignee="une thématique"
                sous-titre="Pour comprendre en détail un sujet, voir les impacts sur votre territoire et découvrir des pistes de projet pour y faire face."
                type-affichage="carrousel"
            />
        </ElementScrollable>
        <ElementScrollable
            @evtEntrerZoneScroll="
                () =>
                    useTracerActionMatomo(
                        'Scroll',
                        'Atteindre comp=AccueilPresentationProjet',
                        `Atteindre page=${$route.name},comp=AccueilPresentationProjet`
                    )
            "
        >
            <AccueilPresentationProjet class="mt-8 sm:mt-8" />
        </ElementScrollable>
        <ElementScrollable
            @evtEntrerZoneScroll="
                () =>
                    useTracerActionMatomo(
                        'Scroll',
                        'Atteindre comp=AccueilInscriptionNewsletter',
                        `Atteindre page=${$route.name},comp=AccueilInscriptionNewsletter`
                    )
            "
        >
            <AccueilInscriptionNewsletter />
        </ElementScrollable>
        <ElementScrollable
            @evtEntrerZoneScroll="
                () =>
                    useTracerActionMatomo(
                        'Scroll',
                        'Atteindre comp=RessourcesPourTransitions',
                        `Atteindre page=${$route.name},comp=RessourcesPourTransitions`
                    )
            "
        >
            <RessourcesPourTransitions />
        </ElementScrollable>
    </TemplatePage>
</template>

<script setup lang="ts">
import AccueilInscriptionNewsletter from '@/components/accueil/AccueilInscriptionNewsletter.vue';
import AccueilPresentationProjet from '@/components/accueil/AccueilPresentationProjet.vue';
import AccueilRechercheTerritoire from '@/components/accueil/AccueilRechercheTerritoire.vue';
import TemplatePage from '@/components/templates/TemplatePage.vue';
import { usePositionnerInfosHead, useTracerActionMatomo } from '@/composables';
import DernieresNouvelles from '~/components/diagnostics/DernieresNouvelles.vue';

import RessourcesPourTransitions from '../components/diagnostics/commun/RessourcesPourTransitions.vue';
import ElementScrollable from '../components/navigation/ElementScrollable.vue';

usePositionnerInfosHead({
    titre: 'Plateforme de projets de territoires',
    description:
        "Découvrez notre plateforme de projet de territoires : un outil dédié aux collectivités et porteurs de projets pour s'inspirer et construire un projet local impactant dans le domaine de la transition agricole et alimentaire",
    titreRS: 'Votre territoire peut-il nourrir ses habitants ?'
});
</script>
