@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
    --largeur-maximum-contenu: calc(1100px);
    --padding-coeur-de-page: var(--dsem6);
    --largeur-contenu-chapitre: calc(800px);
}

em {
    @apply text-accent;
}

/* TODO : Comment virer le important ? */
.nuxt-icon {
    margin-bottom: 0 !important; 
}

@media print {
@page {
    size: A4 landscape;
    margin: 0;
  }
}