<template>
    <main>
        <TemplatePageSimpleSansMenu titre="Crédits">
            <TexteP
            >Quand le crédit de l'auteur n'est pas indiqué en légende d'une image ou d'une illustration, il est précisé dans cette page.</TexteP
            >
            <TexteP>
                <ul class="ps-8 list-disc">
                    <li v-for="credit in CREDITS_IMAGE" :key="credit.descriptionImage" class="w-full">
                        <TexteLien :url="credit.url">{{ credit.descriptionImage }}</TexteLien> (par {{ credit.auteur }}, {{ credit.origine }})
                    </li>
                </ul>
            </TexteP>
        </TemplatePageSimpleSansMenu>
    </main>
</template>

<script setup lang="ts">
import TexteLien from '@/components/base/TexteLien.vue';
import TexteP from '@/components/base/TexteP.vue';
import { usePositionnerInfosHead } from '@/composables';
import TemplatePageSimpleSansMenu from '~/components/templates/TemplatePageSimpleSansMenu.vue';

usePositionnerInfosHead({
    titre: 'Crédits'
});

type CreditImage = {
    descriptionImage: string;
    url: string;
    auteur: string;
    origine: string;
};

const CREDITS_IMAGE: CreditImage[] = [
    {
        descriptionImage: 'Fil de caddies',
        url: 'https://unsplash.com/fr/photos/lot-de-caddies-en-metal-gris-et-rouge-a-cote-du-mur-EDztlsQAEIY',
        auteur: 'Gabrielle Ribeiro',
        origine: 'Unsplash'
    },
    {
        descriptionImage: 'Étalage de fruits et légumes',
        url: 'https://unsplash.com/fr/photos/pommes-jaunes-et-rouges-sur-caisse-en-plastique-noir-stpjHJGqZyw',
        auteur: 'gemma',
        origine: 'Unsplash'
    },
    {
        descriptionImage: 'Marché',
        url: 'https://unsplash.com/fr/photos/homme-assis-pres-du-legume-Ft-PrGvzXZ4',
        auteur: 'Maël BALLAND',
        origine: 'Unsplash'
    },
    {
        descriptionImage: 'Abeille',
        url: 'https://unsplash.com/fr/photos/abeille-jaune-volant-a-cote-de-la-fleur-wRt8myE0W00',
        auteur: 'David Clode',
        origine: 'Unsplash'
    },
    {
        descriptionImage: 'Porte conteneurs',
        url: 'https://unsplash.com/fr/photos/bateau-bleu-et-rouge-pendant-la-journee--lYi5Qg0xP0',
        auteur: 'Elias',
        origine: 'Unsplash'
    },
    {
        descriptionImage: 'Parking voitures',
        url: 'https://unsplash.com/fr/photos/voitures-garees-sur-le-parking-pendant-la-journee-9evmIoRN7aA',
        auteur: 'Vitor Paladini',
        origine: 'Unsplash'
    },
    {
        descriptionImage: 'Ferme et champs',
        url: 'https://unsplash.com/fr/photos/un-paysage-avec-des-maisons-et-des-arbres-k59lV7Z-RWY',
        auteur: 'Nathan Cima',
        origine: 'Unsplash'
    },
    {
        descriptionImage: 'Champ de blé',
        url: 'https://unsplash.com/fr/photos/champ-de-ble-1dGMs4hhcVA',
        auteur: 'Polina Rytova',
        origine: 'Unsplash'
    },
    {
        descriptionImage: "Agriculteur en train d'arroser",
        url: 'https://unsplash.com/fr/photos/homme-en-chemise-verte-et-pantalon-gris-debout-sur-des-plantes-vertes-pendant-la-journee-siD6uufCyt8',
        auteur: 'Zoe Schaeffer',
        origine: 'Unsplash'
    },
    {
        descriptionImage: 'Vigne',
        url: 'https://unsplash.com/fr/photos/tas-de-plantes-feuillues-0AgtPoAARtE',
        auteur: 'Dan Meyers',
        origine: 'Unsplash'
    },
    {
        descriptionImage: 'Parking voiture',
        url: 'https://unsplash.com/fr/photos/voitures-garees-sur-le-parking-pendant-la-journee-9evmIoRN7aA',
        auteur: 'Vitor Paladini',
        origine: 'Unsplash'
    },
    {
        descriptionImage: 'Champ vert sous ciel nuageux',
        url: 'https://unsplash.com/fr/photos/photographie-de-paysage-dun-champ-vert-sous-un-ciel-nuageux-6v0qJb7eiEE',
        auteur: 'NOAA',
        origine: 'Unsplash'
    },
    {
        descriptionImage: 'Déforestation Brésil',
        url: 'https://commons.wikimedia.org/wiki/File:Desmatamento_e_Queimdas_2020_(50223707533).jpg',
        auteur: 'Amazonia Real',
        origine: 'Wikimedia'
    },
    {
        descriptionImage: 'Agrivoltaïsme',
        url: 'https://fr.wikipedia.org/wiki/Fichier:AVD_Domaine_de_Nidol%C3%A8res_Tresserre_vue_du_ciel_(3).jpg',
        auteur: 'Agrivoltaïsme',
        origine: 'Wikimedia'
    },
    {
        descriptionImage: 'Icône goutte',
        url: 'https://thenounproject.com/icon/water-drop-1108257/',
        auteur: 'Ralf Schmitzer',
        origine: 'The Noun Project'
    },
    {
        descriptionImage: 'Camion tractopelle',
        url: 'https://stock.adobe.com/fr/images/large-yellow-wheel-loader-aligns-a-piece-of-land-for-a-new-building-wih-copy-space-banner/263621782?prev_url=detail',
        auteur: 'Hanna',
        origine: 'Adobe Stock'
    },
    {
        descriptionImage: "Tas d'engrais",
        url: 'https://stock.adobe.com/fr/images/chemical-fertilizer-urea-stockpile-white-jumbo-bag-heap-or-pile-of-salt-granules-of-phosphorus-fertilizers-on-chemical-plant/664333824?prev_url=detail',
        auteur: 'BlazingDesigns',
        origine: 'Adobe Stock'
    },
    {
        descriptionImage: 'Bouteilles de lait',
        url: 'https://stock.adobe.com/fr/images/dairy-plant-conveyor-with-milk-bottles/208101200',
        auteur: '279photo',
        origine: 'Adobe Stock'
    },
    {
        descriptionImage: 'File de camions',
        url: 'https://stock.adobe.com/fr/images/road-cut-by-strike/180144073',
        auteur: 'curto',
        origine: 'Adobe Stock'
    }
];
</script>
