<template>
    <TemplatePage>
        <TitrePage titrePartie1Surlignee="Foire aux questions">
            La FAQ contient des réponses aux questions que vous pouvez vous poser. Si certaines ne trouvent pas réponse,
            <TexteLien :url="useRouteContact()">contactez-nous</TexteLien> !
        </TitrePage>
        <UAccordion
            class="max-w-4xl mx-auto my-4 px-2"
            color="primary"
            variant="link"
            size="lg"
            :items="items"
            :ui="{
                container: 'py-2',
                default: {
                    class: 'p-0 mb-2 w-full text-left text-lg',
                    variant: 'soft',
                    truncate: false
                },
                item: {
                    size: 'text-md',
                    color: 'text-gray-500 dark:text-gray-400',
                    padding: 'pt-1 pb-4 px-3',
                    icon: 'ms-auto transform transition-transform duration-200 flex-shrink-0'
                }
            }"
        >
            <template #item="{ item }">
                <!--            eslint-disable vue/no-v-html -->
                <p class="text-primaire" v-html="item.content"></p>
            </template>
        </UAccordion>
    </TemplatePage>
</template>

<script setup lang="ts">
import { usePositionnerInfosHead, useRouteContact } from '#imports';
import TexteLien from '~/components/base/TexteLien.vue';
import TitrePage from '~/components/base/TitrePage.vue';
import TemplatePage from '~/components/templates/TemplatePage.vue';
import { PAGE_FAQ_CONTENU } from '~/modeles/faq/page-faq-contenu.js';

usePositionnerInfosHead({
    titre: 'Foire aux questions (FAQ)',
    description: 'Pour répondre aux questions relatives à la plateforme Territoires Fertiles',
    titreRS: 'La FAQ du projet Territoires Fertiles'
});

const items = PAGE_FAQ_CONTENU.map((i) => ({
    label: i.libelle,
    content: i.definition
}));
</script>
