<template>
    <main>
        <TemplatePageSimple titre="Licences d'utilisation" :texte-sous-titre="SOUS_TITRE" :sectionsMenu="SECTIONS">
            <template #contenus>
                <TexteP>
                    Sauf mention contraire, les contenus de ce site sont publiés par l'association Les Greniers d'Abondance sous la licence
                    <TexteLien url="https://creativecommons.org/licenses/by-nc-sa/4.0/">CC BY-NC-SA 4.0</TexteLien> (Creative Commons, Attribution,
                    Pas d’utilisation commerciale, Partage dans les mêmes conditions).
                </TexteP>
            </template>
            <template #donnees>
                <TexteP>
                    Les données présentées dans l’application ou via l'API sont mises à disposition sous la licence
                    <TexteLien url="https://opendatacommons.org/licenses/odbl/1-0/">"Open Database Licence" (ODbL)</TexteLien>.
                </TexteP>
                <TexteP>
                    Tous les droits sur le contenu individuel de la base de données sont concédés sous
                    <TexteLien url="https://opendatacommons.org/licenses/dbcl/1-0/">la licence de contenu de la base de données</TexteLien>. Vous êtes
                    libre de copier, distribuer, transmettre et adapter ces données, à condition que vous créditiez le projet Territoires Fertiles et
                    Les Greniers d'Abondance. Si vous modifiez ou utilisez nos données dans d’autres œuvres dérivées, vous ne pouvez distribuer
                    celles-ci que sous la même licence (voir le
                    <TexteLien url="https://opendatacommons.org/licenses/odbl/1-0/">texte juridique complet</TexteLien> détaillant vos droits et
                    responsabilités).
                </TexteP>
                <TexteP>
                    Aussi :
                    <ul class="ps-8 list-disc">
                        <li>
                            les données concernant les besoins en surfaces agricoles par cultures proviennent de l'application PARCEL et ne peuvent
                            être utilisées sans l’accord des porteurs du projet (demande à adresser par courriel à contact@parcel-app.org). Toute
                            réutilisation doit mentionner la paternité de l’information en faisant référence au site web de PARCEL ;
                        </li>
                        <li>
                            les données concernant les indicateurs HVN (Haute Valeur Naturelle) sont fournies par SOLAGRO, et nécessitent un accord de
                            Solagro avant rediffusion ou ré-utilisation. La demande est à adresser par courriel à solagro@solagro.asso.fr. Toute
                            réutilisation doit mentionner la paternité de l’information en faisant référence au site web de Solagro, ainsi qu’aux
                            rapports décrivant la méthodologie de calcul des indicateurs HVN précisés dans cet article ;
                        </li>
                        <li>
                            les données concernant les risques de précarité alimentaire sont la propriété du projet
                            <TexteLien url="https://obso-alim.org/">Obsoalim34</TexteLien> et ne peuvent être réutilisées sans l'accord explicite des
                            porteurs du projet.
                        </li>
                    </ul>
                </TexteP>
            </template>
            <template #code-source>
                <TexteP>
                    Le code de l'application est publié sous la licence
                    <TexteLien url="https://www.gnu.org/licenses/agpl-3.0.fr.html">GNU Affero</TexteLien>, et il est accessible
                    <TexteLien url="https://framagit.org/lga">ici</TexteLien>.
                </TexteP>
            </template>
            <template #comment-crediter-territoires-fertiles>
                <TexteP>
                    Citer l'application comme suit : "TerritoiresFertiles.fr, Les Greniers d'Abondance. [Application disponible en ligne :
                    https://territoiresfertiles.fr (consultée le XX/XX/20XX)]"
                </TexteP>
            </template>
        </TemplatePageSimple>
    </main>
</template>

<script setup lang="ts">
import TexteLien from '@/components/base/TexteLien.vue';
import TexteP from '@/components/base/TexteP.vue';
import TemplatePageSimple from '@/components/templates/TemplatePageSimple.vue';
import { usePositionnerInfosHead } from '@/composables';
import type { ItemLienHash } from '@/modeles/navigation/ItemMenuModele';

usePositionnerInfosHead({
    titre: "Licences d'utilisation"
});

const SOUS_TITRE =
    "Les contenus, les données et le code source de Territoires Fertiles sont publiés en licence ouverte pour garantir la transparence de l'outil et permettre une diffusion aussi large que possible.";

const SECTIONS: ItemLienHash[] = [
    {
        type: 'LIEN_HASH',
        hash: 'contenus',
        libelle: 'Contenus'
    },
    {
        type: 'LIEN_HASH',
        hash: 'donnees',
        libelle: 'Données'
    },
    {
        type: 'LIEN_HASH',
        hash: 'code-source',
        libelle: 'Code source'
    },
    {
        type: 'LIEN_HASH',
        hash: 'comment-crediter-territoires-fertiles',
        libelle: 'Comment créditer Territoires Fertiles ?'
    }
];
</script>
