<template>
    <ConstatsTest :constatsModeles="modeles"> </ConstatsTest>
</template>

<script setup lang="ts">
import ConstatsTest from '~/components/diagnostics/constats/ConstatsTest.vue';
import { creerConstatAnalogueClimatique } from '~/modeles/constats/constats-climat.js';
import { creerDonneesApi } from '~/modeles/tests-utils';

const donneesApi = creerDonneesApi({});
const modeleClimatGenerique = creerConstatAnalogueClimatique(donneesApi);

donneesApi.diagnosticApi.climat.analoguesClimatiques = {
    communeAnalogueClimatique2000_2050: {
        latitude: 43.7,
        longitude: 7.27,
        nom: 'Nice',
        pays: 'France'
    },
    communeReference: {
        idCrater: 'C-29232',
        latitude: 48,
        longitude: -4.1,
        nom: 'Quimper'
    }
};
const modeleClimatAvecCarteFrance = creerConstatAnalogueClimatique(donneesApi);

donneesApi.diagnosticApi.climat.analoguesClimatiques = {
    communeAnalogueClimatique2000_2050: {
        latitude: 41.16,
        longitude: -8.62,
        nom: 'Porto',
        pays: 'Portugal'
    },
    communeReference: {
        idCrater: 'C-29232',
        latitude: 48,
        longitude: -4.1,
        nom: 'Quimper'
    }
};
const modeleClimatAvecCartePortugal = creerConstatAnalogueClimatique(donneesApi);

donneesApi.diagnosticApi.climat.analoguesClimatiques = {
    communeAnalogueClimatique2000_2050: {
        latitude: 45.47,
        longitude: 9.19,
        nom: 'Milan',
        pays: 'Italy'
    },
    communeReference: {
        idCrater: 'C-29232',
        latitude: 48,
        longitude: -4.1,
        nom: 'Quimper'
    }
};
const modeleClimatAvecCarteItalie = creerConstatAnalogueClimatique(donneesApi);

donneesApi.diagnosticApi.climat.analoguesClimatiques = {
    communeAnalogueClimatique2000_2050: {
        latitude: 34.04,
        longitude: -5.0,
        nom: 'Fes',
        pays: 'Morocco'
    },
    communeReference: {
        idCrater: 'C-29232',
        latitude: 48,
        longitude: -4.1,
        nom: 'Quimper'
    }
};
const modeleClimatAvecCarteMaroc = creerConstatAnalogueClimatique(donneesApi);

const modeles = [
    modeleClimatGenerique,
    modeleClimatAvecCarteFrance,
    modeleClimatAvecCartePortugal,
    modeleClimatAvecCarteItalie,
    modeleClimatAvecCarteMaroc
];
</script>
