<template>
    <ConstatsTest :constatsModeles="modeles"> </ConstatsTest>
</template>

<script setup lang="ts">
import { computed } from 'vue';

import { creerDonneesApi } from '@/modeles/tests-utils';
import ConstatsTest from '~/components/diagnostics/constats/ConstatsTest.vue';
import { creerConstatHaies, creerConstatPaysagesAgricoles } from '~/modeles/constats/constats-biodiversite.js';

const modeleHaies = creerConstatHaies(creerDonneesApi({}));

const modelePaysagesAgricolesDefaut = creerConstatPaysagesAgricoles(creerDonneesApi({}), 28);

const modelePaysagesAgricolesPesticides = creerConstatPaysagesAgricoles(
    creerDonneesApi({
        noduNormalise: 4
    }),
    8
);

const modelePaysagesAgricolesNitrates = creerConstatPaysagesAgricoles(
    creerDonneesApi({
        codeProfilDiagnostic: 'ELEVAGE_INTENSIF'
    }),
    8
);

const modeles = computed(() => [modeleHaies, modelePaysagesAgricolesDefaut, modelePaysagesAgricolesPesticides, modelePaysagesAgricolesNitrates]);
</script>
