<template>
    <ConstatsTest :constatsModeles="modeles"> </ConstatsTest>
</template>

<script setup lang="ts">
import { computed } from 'vue';

import ConstatsTest from '~/components/diagnostics/constats/ConstatsTest.vue';
import { creerConstatRegimeAlimentaireTropCarne } from '~/modeles/constats/constats-consommation.js';

import { creerDonneesApi } from '../../../../modeles/tests-utils';

const modeleConsommation = computed(() =>
    creerConstatRegimeAlimentaireTropCarne(
        creerDonneesApi({
            tauxAdequationAssietteActuelleBrutPourcent: 85,
            tauxAdequationAssietteDemitarienneBrutPourcent: 99,
            besoinsHaAssietteActuelle: 1000
        })
    )
);

const modeles = computed(() => [modeleConsommation.value]);
</script>
