<template>
    <ConstatsTest :constatsModeles="modeles"> </ConstatsTest>
</template>

<script setup lang="ts">
import { computed } from 'vue';

import ConstatsTest from '~/components/diagnostics/constats/ConstatsTest.vue';
import {
    creerConstatAbsenceDonneesTerresAgricoles,
    creerConstatTerresInsuffisantes,
    creerConstatTerresPartiellementSuffisantes,
    creerConstatTerresSuffisantes,
    type DonneesApiTerresAgricoles
} from '~/modeles/constats/constats-terres-agricoles';
import { creerConstatTerresAgricolesAvecInfographieSurfacesAgricoles } from '~/modeles/DiagnosticModele.js';
import type { DonneesApi } from '~/modeles/fonctions-utils.js';
import { creerDonneesApi } from '~/modeles/tests-utils';

const modeleAbsenceDonnees = computed(() => creerConstatAbsenceDonneesTerresAgricoles());

const donneesTerresInsuffisantes = creerDonneesApi({
    tauxAdequationAssietteActuelleBrutPourcent: 12
}) as DonneesApiTerresAgricoles;
const modeleTerresInsuffisantes = computed(() => creerConstatTerresInsuffisantes(donneesTerresInsuffisantes));

const donneesTerresSuffisantesRegimeDemitarien = creerDonneesApi({
    tauxAdequationAssietteActuelleBrutPourcent: 80,
    tauxAdequationAssietteDemitarienneBrutPourcent: 120,
    besoinsParGroupeCultureAssietteDemitarienne: [
        {
            codeGroupeCulture: 'CER',
            nomGroupeCulture: 'Céréales',
            tauxAdequationBrutPourcent: 313.96,
            besoinsHa: null,
            besoinsParCulture: []
        },
        {
            codeGroupeCulture: 'DVC',
            nomGroupeCulture: 'Autres cultures',
            tauxAdequationBrutPourcent: 465.66,
            besoinsHa: null,
            besoinsParCulture: []
        },
        {
            codeGroupeCulture: 'FLC',
            nomGroupeCulture: 'Fruits et légumes',
            tauxAdequationBrutPourcent: 44.3,
            besoinsHa: null,
            besoinsParCulture: []
        },
        {
            codeGroupeCulture: 'FOU',
            nomGroupeCulture: 'Fourrages',
            tauxAdequationBrutPourcent: 165.76,
            besoinsHa: null,
            besoinsParCulture: []
        },
        {
            codeGroupeCulture: 'OLP',
            nomGroupeCulture: 'Oléoprotéagineux',
            tauxAdequationBrutPourcent: 132.56,
            besoinsHa: null,
            besoinsParCulture: []
        }
    ]
}) as DonneesApiTerresAgricoles;
const modeleTerresSuffisantesRegimeDemitarien = computed(() => creerConstatTerresPartiellementSuffisantes(donneesTerresSuffisantesRegimeDemitarien));

const donneesTerresPlusQueSuffisantes = creerDonneesApi({
    tauxAdequationAssietteActuelleBrutPourcent: 145,
    besoinsParGroupeCultureAssietteActuelle: [
        {
            codeGroupeCulture: 'CER',
            nomGroupeCulture: 'Céréales',
            tauxAdequationBrutPourcent: 313.96,
            besoinsHa: null,
            besoinsParCulture: []
        },
        {
            codeGroupeCulture: 'DVC',
            nomGroupeCulture: 'Autres cultures',
            tauxAdequationBrutPourcent: 465.66,
            besoinsHa: null,
            besoinsParCulture: []
        },
        {
            codeGroupeCulture: 'FLC',
            nomGroupeCulture: 'Fruits et légumes',
            tauxAdequationBrutPourcent: 44.3,
            besoinsHa: null,
            besoinsParCulture: []
        },
        {
            codeGroupeCulture: 'FOU',
            nomGroupeCulture: 'Fourrages',
            tauxAdequationBrutPourcent: 165.76,
            besoinsHa: null,
            besoinsParCulture: []
        },
        {
            codeGroupeCulture: 'OLP',
            nomGroupeCulture: 'Oléoprotéagineux',
            tauxAdequationBrutPourcent: 132.56,
            besoinsHa: null,
            besoinsParCulture: []
        }
    ]
}) as DonneesApiTerresAgricoles;

const modeleTerresPlusQueSuffisantes = computed(() => creerConstatTerresSuffisantes(donneesTerresPlusQueSuffisantes));

const donneesTerresAgricolesAvecInfographieSurfacesAgricoles = creerDonneesApi({
    tauxAdequationAssietteActuelleBrutPourcent: 80,
    tauxAdequationAssietteDemitarienneBrutPourcent: 120,
    sauParGroupeCulture: [
        {
            codeGroupeCulture: 'CER',
            nomGroupeCulture: 'Céréales',
            sauHa: 100,
            sauParCulture: [
                {
                    codeCulture: 'C1',
                    nomCulture: 'Culture 1',
                    sauHa: 30
                },
                {
                    codeCulture: 'C2',
                    nomCulture: 'Culture 2',
                    sauHa: 70
                }
            ]
        },
        {
            codeGroupeCulture: 'DVC',
            nomGroupeCulture: 'Autres cultures',
            sauHa: 100,
            sauParCulture: [
                {
                    codeCulture: 'C1',
                    nomCulture: 'Culture 1',
                    sauHa: 30
                },
                {
                    codeCulture: 'C2',
                    nomCulture: 'Culture 2',
                    sauHa: 70
                }
            ]
        },
        {
            codeGroupeCulture: 'FOU',
            nomGroupeCulture: 'Fourrages',
            sauHa: 100,
            sauParCulture: [
                {
                    codeCulture: 'F1',
                    nomCulture: 'Fourrage 1',
                    sauHa: 100
                }
            ]
        },
        {
            codeGroupeCulture: 'OLP',
            nomGroupeCulture: 'Oléoprotéagineux',
            sauHa: 200,
            sauParCulture: [
                {
                    codeCulture: 'O1',
                    nomCulture: 'Oléo 1',
                    sauHa: 50
                },
                {
                    codeCulture: 'O2',
                    nomCulture: 'Oléo 2',
                    sauHa: 150
                }
            ]
        }
    ],
    besoinsParGroupeCultureAssietteActuelle: [
        {
            codeGroupeCulture: 'CER',
            nomGroupeCulture: 'Céréales',
            besoinsHa: 100,
            tauxAdequationBrutPourcent: 0,
            besoinsParCulture: [
                {
                    codeCulture: 'C1',
                    nomCulture: 'Culture 1',
                    alimentationAnimale: false,
                    besoinsHa: 30
                },
                {
                    codeCulture: 'C2',
                    nomCulture: 'Culture 2',
                    alimentationAnimale: false,
                    besoinsHa: 70
                }
            ]
        },
        {
            codeGroupeCulture: 'FOU',
            nomGroupeCulture: 'Fourrages',
            besoinsHa: 100,
            tauxAdequationBrutPourcent: 0,
            besoinsParCulture: [
                {
                    codeCulture: 'F1',
                    nomCulture: 'Fourrage 1',
                    alimentationAnimale: false,
                    besoinsHa: 100
                }
            ]
        }
    ]
}) as DonneesApi;
const modeleTerresAgricolesAvecInfographieSurfacesAgricoles = computed(() =>
    creerConstatTerresAgricolesAvecInfographieSurfacesAgricoles(donneesTerresAgricolesAvecInfographieSurfacesAgricoles)
);

const donneesTerresAgricolesAvecInfographieSurfacesAgricolesAdequationFaible = creerDonneesApi({
    tauxAdequationAssietteActuelleBrutPourcent: 10,
    tauxAdequationAssietteDemitarienneBrutPourcent: 20,
    sauParGroupeCulture: [
        {
            codeGroupeCulture: 'CER',
            nomGroupeCulture: 'Céréales',
            sauHa: 100,
            sauParCulture: [
                {
                    codeCulture: 'C1',
                    nomCulture: 'Culture 1',
                    sauHa: 30
                },
                {
                    codeCulture: 'C2',
                    nomCulture: 'Culture 2',
                    sauHa: 70
                }
            ]
        }
    ],
    besoinsParGroupeCultureAssietteActuelle: [
        {
            codeGroupeCulture: 'CER',
            nomGroupeCulture: 'Céréales',
            besoinsHa: 100,
            tauxAdequationBrutPourcent: 0,
            besoinsParCulture: [
                {
                    codeCulture: 'C1',
                    nomCulture: 'Culture 1',
                    alimentationAnimale: false,
                    besoinsHa: 30
                },
                {
                    codeCulture: 'C2',
                    nomCulture: 'Culture 2',
                    alimentationAnimale: false,
                    besoinsHa: 70
                }
            ]
        },
        {
            codeGroupeCulture: 'FOU',
            nomGroupeCulture: 'Fourrages',
            besoinsHa: 100,
            tauxAdequationBrutPourcent: 0,
            besoinsParCulture: [
                {
                    codeCulture: 'F1',
                    nomCulture: 'Fourrage 1',
                    alimentationAnimale: false,
                    besoinsHa: 100
                }
            ]
        }
    ]
}) as DonneesApi;
const modeleTerresAgricolesAvecInfographieSurfacesAgricolesAdequationFaible = computed(() =>
    creerConstatTerresAgricolesAvecInfographieSurfacesAgricoles(donneesTerresAgricolesAvecInfographieSurfacesAgricolesAdequationFaible)
);

const modeles = computed(() => [
    modeleAbsenceDonnees.value,
    modeleTerresInsuffisantes.value,
    modeleTerresSuffisantesRegimeDemitarien.value,
    modeleTerresPlusQueSuffisantes.value,
    modeleTerresAgricolesAvecInfographieSurfacesAgricoles.value,
    modeleTerresAgricolesAvecInfographieSurfacesAgricolesAdequationFaible.value
]);
</script>
