<template>
    <ConstatsTest :constatsModeles="modeles"> </ConstatsTest>
</template>

<script setup lang="ts">
import { computed } from 'vue';

import ConstatsTest from '~/components/diagnostics/constats/ConstatsTest.vue';
import {
    creerConstatAlimentationAnimale,
    creerConstatDependancesRessources,
    creerConstatPrelevementsEau
} from '~/modeles/constats/constats-ressources';
import { creerDonneesApi } from '~/modeles/tests-utils';

const donneesApi = creerDonneesApi({
    irrigationM32012: 100,
    irrigationM32022: 160
});

const modeleRessources = computed(() => creerConstatDependancesRessources(creerDonneesApi({})));
const modeleAlimentationAnimale = computed(() => creerConstatAlimentationAnimale(creerDonneesApi({})));
const modelePrelevementsEau = computed(() => creerConstatPrelevementsEau(donneesApi));

const modeles = computed(() => [modeleRessources.value, modeleAlimentationAnimale.value, modelePrelevementsEau.value]);
</script>
