<template>
    <div>
        <UAccordion :items="creerAccordionItemsTef(props.arborescenceSite)" class="border-t border-neutral-100/20">
            <template #default="{ item: accordionItemTef, open }">
                <NuxtLink
                    :to="accordionItemTef.to || undefined"
                    :class="[
                        'text-lg',
                        'text-white',
                        'font-bold',
                        'hover:text-accent',
                        'cursor-pointer',
                        'flex',
                        'flex-row',
                        'items-center',
                        'border-t',
                        'border-neutral-100/20',
                        'p-4 pl-8',
                        accordionItemTef.active || open ? ' bg-primaire' : ''
                    ]"
                    @click="() => tracerNavigationMatomo(accordionItemTef, $route.name)"
                >
                    <div>{{ accordionItemTef.label }}</div>
                    <UIcon
                        v-if="accordionItemTef.typeTeF === 'SOUS_MENU' && accordionItemTef.itemsSousMenu?.length > 0"
                        name="i-heroicons-chevron-right-20-solid"
                        class="w-5 h-5 ms-auto transform transition-transform duration-200"
                        :class="[open && 'rotate-90']"
                    />
                </NuxtLink>
            </template>
            <template #item="{ item: accordionItemTef }">
                <ul v-if="accordionItemTef.typeTeF === 'SOUS_MENU'" class="flex flex-col">
                    <li v-for="sousItem in accordionItemTef.sousItems" :key="sousItem.libelle">
                        <NuxtLink
                            :to="sousItem.route"
                            :class="[
                                'text-white',
                                'pointer',
                                'flex',
                                'items-center',
                                sousItem.type === 'LIEN_PAGE' ? 'hover:text-accent' : '',
                                sousItem.estSousSection ? 'text-sm pl-16' : 'text-base pl-12',
                                sousItem.estActif ? 'font-bold' : ''
                            ]"
                            @click="() => tracerNavigationMatomo(sousItem, $route.name)"
                        >
                            <div :class="['my-3', 'p-0']">{{ sousItem.libelle }}</div>
                        </NuxtLink>
                    </li>
                </ul>
                <div v-else></div>
            </template>
        </UAccordion>
    </div>
</template>

<script setup lang="ts">
import { useTracerNavigationMatomo } from '@/composables';
import { NuxtLink } from '#components';
import type { AccordionItem } from '#ui/types';
import type { ItemSousMenu } from '~/modeles/navigation/ItemMenuModele';
import type { ArborescenceSite, ItemArborescenceSite, ItemArborescenceSiteType } from '~/modeles/navigation/MenuModele';
import { calculerEtatActifSousArborescence } from '~/modeles/navigation/navigation-utils';

const props = defineProps<{
    arborescenceSite: ArborescenceSite;
}>();

type AccordionItemTef = AccordionItem & {
    typeTeF: ItemArborescenceSiteType; // Pour éviter les conflits de nom avec attribut 'type' dans AccordionItem
    sousItems: ItemSousMenu[];
};

const creerAccordionItemsTef = (arborescenceSite: ArborescenceSite): AccordionItemTef[] => {
    return arborescenceSite.map((i) => {
        switch (i.type) {
            case 'LIEN_PAGE':
                return {
                    typeTeF: 'LIEN_PAGE',
                    label: i.libelle,
                    defaultOpen: false,
                    active: i.estActif,
                    to: i.route,
                    disabled: true,
                    sousItems: []
                };
            case 'SOUS_MENU':
                return {
                    typeTeF: 'SOUS_MENU',
                    label: i.libelle,
                    defaultOpen: i.estActif || calculerEtatActifSousArborescence(i.sousItems),
                    active: i.estActif,
                    sousItems: i.sousItems
                };
        }
    });
};

function tracerNavigationMatomo(itemMenu: ItemArborescenceSite | ItemSousMenu, nomRoute: string) {
    if (itemMenu.type === 'LIEN_PAGE') {
        useTracerNavigationMatomo(nomRoute, 'BurgerMenuAccordeon', itemMenu.route);
    }
}
</script>
