<template>
    <div>
        <ClientOnly>
            <c-champ-recherche-territoire
                :apiBaseUrl="apiBaseUrl"
                :lienFormulaireDemandeAjoutTerritoire="usePath(useRouteDemandeAjoutTerritoire())"
                texteIndicatifSiChampVide="Entrez votre territoire"
                :nomTerritoireInitial="nomTerritoire"
                :style="`${props.taille === 's' ? '--dsem: 5px;' : ''}`"
                @selectionnerTerritoire="selectionnerTerritoire($event)"
            />
            <template #fallback>
                <div :class="`${props.taille === 's' ? 'h-[41px]' : 'h-[50px]'} w-full rounded-full border border-gris-100 bg-sable-100`"></div>
            </template>
        </ClientOnly>
    </div>
</template>

<script setup lang="ts">
import '@lga/commun/build/composants/champ-recherche-territoire/ChampRechercheTerritoire.js';

import type { EvenementSelectionnerTerritoire } from '@lga/commun/build/composants/champ-recherche-territoire/EvenementSelectionnerTerritoire';
import type { RouteLocationRaw } from 'vue-router';
import { useRoute } from 'vue-router/auto';

import {
    useGetApiBaseUrl,
    useGetStateTerritoire,
    usePath,
    useRouteDemandeAjoutTerritoire,
    useRouteMonTerritoire,
    useTracerActionMatomo
} from '@/composables';
import { ClientOnly } from '#components';
import { navigateTo } from '#imports';

const emit = defineEmits<{
    (e: 'selectionnerTerritoire', idTerritoire: string): void;
}>();

export type FonctionCreationRoute = (idTerritoire: string) => RouteLocationRaw;

interface Props {
    taille?: 'm' | 's';
    fnCreerRoute?: FonctionCreationRoute;
}

const props = withDefaults(defineProps<Props>(), {
    taille: 'm',

    fnCreerRoute: undefined
});

const apiBaseUrl = useGetApiBaseUrl();
const nomTerritoire = useGetStateTerritoire()?.nom;
const nomRouteCourante = useRoute().name;
async function selectionnerTerritoire(evt: EvenementSelectionnerTerritoire) {
    emit('selectionnerTerritoire', evt.detail.idTerritoireCrater);
    useTracerActionMatomo('Recherche territoire', `Rechercher un territoire`, `Rechercher un territoire depuis page=${nomRouteCourante}`);
    const routeCibleNavigation = props.fnCreerRoute
        ? props.fnCreerRoute(evt.detail.idTerritoireCrater)
        : useRouteMonTerritoire(evt.detail.idTerritoireCrater);
    await navigateTo(routeCibleNavigation);
}
</script>
