<template>
    <div ref="elementScrollable" v-bind="{ id: props.id !== '' ? props.id : undefined }">
        <slot></slot>
    </div>
</template>

<script setup lang="ts">
import { onMounted, onUnmounted, ref } from 'vue';

interface Props {
    id?: string;
    seuilBasPourcent?: number;
    seuilHautPourcent?: number;
}

const props = withDefaults(defineProps<Props>(), {
    id: '',
    seuilBasPourcent: 50,
    seuilHautPourcent: 50
});

const emit = defineEmits<{
    evtEntrerZoneScroll: [idElement: string];
    evtSortirZoneScroll: [idElement: string];
}>();

const elementScrollable = ref<HTMLElement>();
let intersectionObserver: IntersectionObserver | null = null;
let estActif = false;

onMounted(() => {
    configurerIntersectionObserver();

    // Délai qui permet d'éviter l'émission d'événements lors du montage du composant (quand aucun scroll n'a encore eu lieu)
    setTimeout(() => {
        estActif = true;
    }, 500);
});

onUnmounted(() => {
    intersectionObserver?.disconnect();
});

function configurerIntersectionObserver() {
    const intersectionObserverRootMargin = '-' + props.seuilHautPourcent + '% 0px -' + props.seuilBasPourcent + '% 0px';

    if (elementScrollable.value) {
        intersectionObserver = new IntersectionObserver(
            (entries) => {
                entries.forEach((entry) => {
                    if (!estActif) {
                        return;
                    }
                    if (entry.isIntersecting) {
                        emit('evtEntrerZoneScroll', props.id);
                    } else {
                        emit('evtSortirZoneScroll', props.id);
                    }
                });
            },
            {
                rootMargin: intersectionObserverRootMargin,
                threshold: 0
            }
        );
        intersectionObserver.observe(elementScrollable.value);
    }
}
</script>
