<template>
    <nav class="w-full flex place-items-center py-2 px-2 print:px-2 justify-between bg-sable-100">
        <h1 v-if="useEstRouteCouranteEgaleA(useRouteAccueil())">
            <NuxtLink class="flex p-2 place-items-center" to="/">
                <NuxtImg
                    :src="LOGO_TEF.url"
                    preload
                    :width="LOGO_TEF.resolutionX"
                    :height="LOGO_TEF.resolutionY"
                    sizes="260px"
                    density="1x 2x"
                    alt="Plateforme de projets de territoires"
                    class="h-[24px] w-auto"
                />
            </NuxtLink>
        </h1>
        <section v-else>
            <NuxtLink class="flex p-2 place-items-center" to="/">
                <NuxtImg
                    :src="LOGO_TEF.url"
                    preload
                    :width="LOGO_TEF.resolutionX"
                    :height="LOGO_TEF.resolutionY"
                    sizes="260px"
                    density="1x 2x"
                    alt="Logo Territoires Fertiles"
                    class="h-[24px] w-auto"
                />
            </NuxtLink>
        </section>
        <section class="hidden xl:flex print:hidden gap-12 items-center justify-center p-2 grow">
            <EnteteMenu :arborescence-site="arborescenceSite"></EnteteMenu>
        </section>
        <section>
            <Burger class="xl:hidden" :arborescence-site="arborescenceSite"></Burger>
        </section>
    </nav>
</template>

<script setup lang="ts">
import { LOGO_TEF } from '@lga/images-definitions';

import { useCreerArborescenceSite, useEstRouteCouranteEgaleA, useRouteAccueil } from '@/composables';
import { NuxtImg, NuxtLink } from '#components';

import Burger from './Burger.vue';
import EnteteMenu from './EnteteMenu.vue';

const arborescenceSite = useCreerArborescenceSite();
</script>
