<template>
    <div>
        <ul class="w-full flex items-center flex-row gap-12 text-primaire text-base font-medium py-2">
            <li v-for="item in props.arborescenceSite" :key="item.libelle" class="px-2">
                <UPopover
                    mode="hover"
                    :ui="{
                        background: 'bg-sable-50',
                        shadow: 'shadow-ombre-carte-m',
                        ring: 'ring-transparent'
                    }"
                >
                    <NuxtLink
                        :to="item.type === 'LIEN_PAGE' ? item.route : undefined"
                        :class="[
                            'hover:text-accent',
                            'hover:border-b-2',
                            'hover:border-accent',
                            item.estActif ? 'border-b-2 border-primaire' : '',
                            'pointer'
                        ]"
                        @click="() => tracerNavigationMatomo(item, $route.name)"
                    >
                        {{ item.libelle }}
                    </NuxtLink>
                    <template #panel>
                        <ul v-if="item.type === 'SOUS_MENU'" class="px-8 py-4 flex flex-col bg-sable-50">
                            <li
                                v-for="sousItem in item.sousItems"
                                :key="sousItem.libelle"
                                :class="sousItem.type === 'LIEN_PAGE' && sousItem.estSousSection ? 'my-1' : 'my-2'"
                            >
                                <NuxtLink
                                    :to="sousItem.type === 'LIEN_PAGE' ? sousItem.route : undefined"
                                    :class="[
                                        sousItem.type === 'LIEN_PAGE' ? 'hover:text-accent' : '',
                                        sousItem.type === 'LIEN_PAGE' && sousItem.estActif ? 'font-bold' : '',
                                        sousItem.type === 'LIEN_PAGE' && sousItem.estSousSection ? 'text-sm pl-4' : ''
                                    ]"
                                    @click="() => tracerNavigationMatomo(sousItem, $route.name)"
                                >
                                    {{ sousItem.libelle }}
                                </NuxtLink>
                            </li>
                        </ul>
                        <div v-else></div>
                    </template>
                </UPopover>
            </li>
        </ul>
    </div>
</template>

<script setup lang="ts">
import { useTracerNavigationMatomo } from '@/composables';
import type { ItemSousMenu } from '@/modeles/navigation/ItemMenuModele';
import type { ArborescenceSite, ItemArborescenceSite } from '@/modeles/navigation/MenuModele';
import { NuxtLink, UPopover } from '#components';

interface Props {
    arborescenceSite: ArborescenceSite;
}

const props = defineProps<Props>();

function tracerNavigationMatomo(itemMenu: ItemArborescenceSite | ItemSousMenu, nomRoute: string) {
    if (itemMenu.type === 'LIEN_PAGE') {
        useTracerNavigationMatomo(nomRoute, 'EnteteMenu', itemMenu.route);
    }
}
</script>
