<template>
    <div class="pl-2">
        <div class="text-sm pb-2 text-sable-700">Dans cette page</div>
        <UVerticalNavigation
            :links="creerVerticalNavigationLinks(liensHash)"
            class="max-h-[400px] overflow-y-auto"
            :ui="{
                wrapper: '',
                label: '',
                base: 'before:hidden',
                padding: 'p-0 pl-2 py-1',
                rounded: '',
                font: 'font-sans',
                size: 'text-sm',
                ring: '',
                active: 'text-accent border-l-2 border-accent-500 font-semibold',
                inactive: ' border-l-2 border-neutral-500 hover:border-neutral-600 text-neutral-500 hover:text-neutral-600'
            }"
        />
    </div>
</template>

<script setup lang="ts">
import type { ItemLienHash } from '~/modeles/navigation/ItemMenuModele';

defineProps<{
    liensHash: ItemLienHash[];
}>();

const creerVerticalNavigationLinks = (liensHash: ItemLienHash[]) => {
    return liensHash.map((item) => ({
        label: item.libelle,
        to: `#${item.hash}`,
        active: item.estActif ?? false
    }));
};
</script>
