<template>
    <div>
        <h1 class="text-2xl text-black m-10">Test BarreReseauxSociaux</h1>
        <main class="m-10 p-5 w-[640px] bg-neutral-100 flex flex-col gap-5">
            <h2>1) Mode suivi</h2>
            <BarreReseauxSociaux mode="suivi" couleur="primaire" taille="s"></BarreReseauxSociaux>
            <BarreReseauxSociaux mode="suivi" couleur="primaire" taille="s" type="plein"></BarreReseauxSociaux>
            <BarreReseauxSociaux mode="suivi" couleur="accent" taille="m"></BarreReseauxSociaux>
            <BarreReseauxSociaux mode="suivi" couleur="blanc" taille="l"></BarreReseauxSociaux>
            <h2>2) Mode partage</h2>
            <BarreReseauxSociaux mode="partage" couleur="primaire" taille="s"></BarreReseauxSociaux>
            <BarreReseauxSociaux mode="partage" couleur="primaire" taille="s" type="plein"></BarreReseauxSociaux>
            <BarreReseauxSociaux mode="partage" couleur="accent" taille="m"></BarreReseauxSociaux>
            <BarreReseauxSociaux
                mode="partage"
                couleur="blanc"
                taille="l"
                route-url-a-partager="/mapage"
                nom-territoire="Mon territoire"
            ></BarreReseauxSociaux>
        </main>
    </div>
</template>

<script setup lang="ts">
import BarreReseauxSociaux from '@/components/base/BarreReseauxSociaux.vue';
</script>
