<template>
    <div>
        <h1>Test BlocTexteEtBouton</h1>
        <main class="flex p-12 bg-neutral-50 gap-8">
            <BlocTexteEtBouton titre="Titre bloc" :texte="TEXTE_COURT" libelle-bouton="Action bloc" url-bouton="/" style="width: 320px">
                <Illustration1 filled />
            </BlocTexteEtBouton>
            <BlocTexteEtBouton titre="Titre bloc" :texte="TEXTE_COURT" libelle-bouton="Action bloc" url-bouton="/" style="width: 320px">
                <Illustration2 filled />
            </BlocTexteEtBouton>
            <BlocTexteEtBouton
                titre="Titre bloc avec bannière et bouton plein"
                :texte="TEXTE_LONG"
                libelle-bouton="Action bloc"
                url-bouton="/"
                type-bouton="plein"
                texte-banniere="En cours"
                style="width: 320px"
            >
                <Illustration3 filled />
            </BlocTexteEtBouton>
        </main>
    </div>
</template>

<script setup lang="ts">
import Illustration1 from '@/assets/illustrations/decouvrir-crater.svg';
import Illustration2 from '@/assets/illustrations/decouvrir-parcel.svg';
import Illustration3 from '@/assets/illustrations/temoignages-et-outils.svg';
import BlocTexteEtBouton from '@/components/base/BlocTexteEtBouton.vue';

const TEXTE_COURT = 'Lorem ipsum dolor sit amet, consectetur adipiscing elit.';
const TEXTE_LONG =
    'Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed non risus. Suspendisse lectus tortor, dignissim sit amet, adipiscing nec, ultricies sed, dolor.';
</script>
