<template>
    <div>
        <h1 class="text-2xl text-black m-10">Test BlocResumeInitiative</h1>
        <div class="p-5 w-full max-w-3xl bg-neutral-50 flex flex-col gap-5">
            <p>Le composant est responsive, l'affichage bascule en mode colonne sur écran mobile</p>
            <BlocResumeInitiative
                titre="Privilégier les produits locaux dans la restauration collective, c’est possible !"
                localisation="Localisation"
                description="La Communauté de Commune du Val de Drome a lancé un travail sur l’approvisionnement et la logistique permettant de travailler facilement avec les exploitations locales."
                source="Source de l’initiative"
                :image="image"
                url="http://test.fr"
            />
        </div>
    </div>
</template>

<script setup lang="ts">
import type { ImageModele } from '@lga/base';

import BlocResumeInitiative from '@/components/diagnostics/commun/BlocResumeInitiative.vue';

const image: ImageModele = {
    url: 'https://placehold.co/416x448?text=image',
    descriptionAlt: 'Description de l’image',
    resolutionX: 416,
    resolutionY: 448
};
</script>
