<template>
    <div>
        <h1 class="text-2xl text-black m-10">Test BoutonTemoignage</h1>
        <main class="m-10 p-5 w-[300px] h-fit bg-neutral-50">
            <BoutonAvecPanneauGlissantTemoignages :initiatives="initiatives" />
        </main>
    </div>
</template>

<script setup lang="ts">
import { DEFINITIONS_INITIATIVES } from '@lga/initiatives';

import type { BlocResumeInitiativeProps } from '@/components/diagnostics/commun/BlocResumeInitiative.vue';
import BoutonAvecPanneauGlissantTemoignages from '@/components/diagnostics/commun/BoutonAvecPanneauGlissantTemoignages.vue';

const initiatives = DEFINITIONS_INITIATIVES.slice(0, 5).map((initiative) => {
    const blocResumeInitiative: BlocResumeInitiativeProps = {
        titre: initiative.titre,
        localisation: initiative.localisation,
        source: initiative.informationSource,
        description: initiative.description,
        url: initiative.urlLienExterne,
        libelleUrl: initiative.intituleLienExterne,
        image: initiative.image
    };
    return blocResumeInitiative;
});
</script>
