<template>
    <div>
        <h1 class="text-2xl text-black m-10">Test toggle</h1>
        <main class="m-10 p-5 w-auto h-80 bg-white flex flex-col gap-5">
            <h2>1) Bouton theme defaut</h2>
            <BoutonSelecteur v-model="indexOptionsActive" :libelles-options="items"></BoutonSelecteur>
            <p>Index option active = {{ indexOptionsActive }}</p>
            <h2>2) Bouton theme clair</h2>
            <BoutonSelecteur :libelles-options="items" couleur="neutre"></BoutonSelecteur>
            <h2>3) Bouton transition désactivée</h2>
            <BoutonSelecteur :libelles-options="items" couleur="neutre" desactiver-transition></BoutonSelecteur>
        </main>
    </div>
</template>

<script setup lang="ts">
import BoutonSelecteur from '@/components/base/BoutonSelecteur.vue';
import { ref } from '#imports';

const indexOptionsActive = ref<number>(1);

const items = ['Option 1', 'Option 2', 'Option 3'];
</script>
