<template>
    <main>
        <h1>Test Encadre</h1>
        <div class="w-4/5 m-auto p-8">
            <Encadre type="focus-territoire" :informationsMethodologie="informationsMethodologie">
                Je donne une information sur votre territoire.
            </Encadre>
            <Encadre type="simulez-vos-actions"> Je donne un exemple de simulation possible. </Encadre>
            <Encadre type="ils-l-ont-fait" localisation="Commune de Truc-Muche"> Je donne un exemple de projet trop cool </Encadre>
            <Encadre type="figure" titre="Titre" sousTitre="Sous-titre"> Je donne un exemple de figure </Encadre>
        </div>
    </main>
</template>

<script setup lang="ts">
import { htmlstring } from '@lga/base';

import Encadre from '~/components/diagnostics/thematiques/commun/Encadre.vue';

const informationsMethodologie = {
    titre: 'Titre méthodo',
    descriptif: htmlstring`Descriptif méthodo`,
    urlMethodologie: 'url-methodologie'
};
</script>
