<template>
    <main>
        <h1>Test IndicateurFocusTerritoire</h1>
        <div class="w-4/5 m-auto p-8 flex flex-col gap-2">
            <IndicateurFocusTerritoire
                class="bg-neutral-100"
                chiffre="440"
                unite="hectares"
                complement="artificialisés en 5 ans."
                complement2="Ces terres auraient pu nourrir 1100 personnes."
            ></IndicateurFocusTerritoire>
            <IndicateurFocusTerritoire
                class="bg-neutral-100"
                chiffre="10 000 000"
                unite="de patates"
                complement="au total"
            ></IndicateurFocusTerritoire>
            <IndicateurFocusTerritoire class="bg-neutral-100" :chiffre="null"></IndicateurFocusTerritoire>
        </div>
    </main>
</template>

<script setup lang="ts">
import IndicateurFocusTerritoire from '~/components/diagnostics/thematiques/commun/IndicateurFocusTerritoire.vue';
</script>
