<template>
    <div>
        <h1 class="text-2xl text-black m-10">Test LienTelechargerPdf</h1>
        <main class="p-8 bg-neutral-100 flex flex-wrap gap-4 justify-center items-center">
            <LienTelechargerPdf path="/diagnostics-flash/bordeaux">
                <BoutonNuxt libelle="Télécharger le PDF" to=""></BoutonNuxt>
            </LienTelechargerPdf>
            <LienTelechargerPdf path="mauvais-path">
                <BoutonNuxt libelle="Télécharger le PDF au mauvais lien" to=""></BoutonNuxt>
            </LienTelechargerPdf>
        </main>
    </div>
</template>

<script setup lang="ts">
import BoutonNuxt from '~/components/base/BoutonNuxt.vue';
import LienTelechargerPdf from '~/components/base/LienTelechargerPdf.vue';
</script>
