<template>
    <div>
        <h1 class="text-2xl text-black m-10">Test ModaleInformation</h1>
        <main class="m-10 p-5 w-auto h-80 bg-neutral-50 flex flex-col gap-5">
            <UButton label="Indicateur 1" class="w-fit" @click="isOpen1 = true" />
            <UButton label="Indicateur 2" class="w-fit" @click="isOpen2 = true" />
            <ModaleInformation
                v-model="isOpen1"
                titre="Nom indicateur 1"
                :descriptif="descriptif"
                libelle-lien-complement-information="Voir la méthodologie"
                url-complement-information="url-methodologie-1"
            />
            <ModaleInformation
                v-model="isOpen2"
                titre="Nom indicateur 2"
                :descriptif="htmlstring`Descriptif sur 1 ligne`"
                libelle-lien-complement-information="Voir la méthodologie"
                url-complement-information="url-methodologie-2"
            />
        </main>
    </div>
</template>

<script setup lang="ts">
import { htmlstring } from '@lga/base';
import { ref } from 'vue';

import ModaleInformation from '~/components/base/ModaleInformation.vue';

const isOpen1 = ref(true);
const isOpen2 = ref(false);
const descriptif = htmlstring`Lorem ipsum dolor sit amet, consectetur adipiscing elit
    , sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.`;
</script>
