<template>
    <div>
        <h1 class="text-2xl text-black m-10">Test TexteStabilo</h1>
        <main class="m-10 p-5 w-auto h-80 bg-white flex flex-col gap-5">
            <p>Phrase avec <TexteStabilo>mots mis en avant</TexteStabilo> au milieu.</p>
            <p class="text-xl">Phrase avec <TexteStabilo>mots mis en avant</TexteStabilo>, texte xl.</p>
            <p class="text-xl">Phrase avec <TexteStabilo couleur="accent">mots mis en avant</TexteStabilo>, couleur accent.</p>
            <p class="w-52 border">Phrase avec <TexteStabilo>mots mis en avant</TexteStabilo> qui ne doit pas être coupé.</p>
        </main>
    </div>
</template>

<script setup lang="ts">
import TexteStabilo from '@/components/base/TexteStabilo.vue';
</script>
