<template>
    <div>
        <h1 class="text-xl text-black m-2">Test TitreAccueilTerritoire</h1>
        <main class="sm:m-10 p-4 sm:p-5 bg-sable-100 flex flex-col gap-5 items-center">
            <TitreTerritoire nomTerritoireAvecPrepositionDe="de la Communauté de Communes de Mayenne Communauté" />
        </main>
    </div>
</template>

<script setup lang="ts">
import TitreTerritoire from '~/components/diagnostics/TitreAccueilTerritoire.vue';
</script>
