<template>
    <Carte
        :bounding-box="props.territoire.boundingBox"
        :definitionCoucheTerritoiresDetoures="definitionCoucheTerritoiresDetoures"
        styleFond="original"
        :ratiosMarges="ratiosMarges"
        :interdireInteractivite="true"
    />
</template>

<script setup lang="ts">
import 'maplibre-gl/dist/maplibre-gl.css';

import type { TerritoireBase } from '@lga/territoires';

import { computed, useGetApiBaseUrl } from '#imports';
import { _accent, _gris } from '#tailwind-config/theme/colors';
import { useLargeurDevice } from '~/composables/useLargeurDevice.js';

import Carte, { type DefinitionCoucheTerritoiresDetoures } from './Carte.vue';

interface Props {
    territoire: TerritoireBase;
    decentrerTerritoireVersLaGauche?: boolean;
}

const props = defineProps<Props>();

const apiBaseUrl = useGetApiBaseUrl();
const largeurDevice = useLargeurDevice();

const ratiosMarges = computed(() =>
    (largeurDevice?.value && largeurDevice?.value < 1280) || !props.decentrerTerritoireVersLaGauche ? [0.1, 0.1, 0.1, 0.1] : [0.5, 0.1, 1.5, 0.1]
);

const definitionCoucheTerritoiresDetoures = computed<DefinitionCoucheTerritoiresDetoures>(() => {
    return {
        urlPmtilesTerritoires: `${apiBaseUrl}/crater/api/cartes/vectorielles/${props.territoire.categorie.codeCategorie === 'REGROUPEMENT_COMMUNES' ? 'regroupements_communes' : props.territoire.categorie.codeCategorie.toLowerCase() + 's'}.pmtiles`,
        listeTerritoires: [props.territoire.id],
        couleurDetourage: _accent.DEFAULT,
        couleurRemplissage: _gris[300]
    };
});
</script>
