<template>
    <div ref="refCarte" class="w-full h-full relative"></div>
</template>

<script setup lang="ts">
import 'maplibre-gl/dist/maplibre-gl.css';

import { type HtmlString, htmlstring } from '@lga/base';
import type { BoundingBoxApi } from '@lga/specification-api';
import { type StyleCarte, type StyleCarteCerclesProportionnels, StyleCarteCerclesProportionnelsColores } from '@lga/styles-carte';
import * as turf from '@turf/turf';
import maplibregl, { type FilterSpecification, type GeoJSONSource, type LngLatBoundsLike } from 'maplibre-gl';
import { PMTiles, Protocol } from 'pmtiles';
import { computed, onMounted, onUnmounted, ref, watch } from 'vue';

import { _gris } from '#tailwind-config/theme/colors';

import { BOUNDING_BOX_FRANCE, type DonneesCercle, type MapIndicateurs } from './carte-utils';

export interface DefinitionCoucheTerritoiresColores {
    urlPmtilesTerritoires: string;
    recupererIndicateurs: (boundingBox: BoundingBoxApi) => Promise<MapIndicateurs> | undefined;
    style: StyleCarte;
}

export interface DefinitionCoucheCercles {
    recupererDonnees: (boundingBox: BoundingBoxApi) => Promise<DonneesCercle[]>;
    style: StyleCarteCerclesProportionnels | StyleCarteCerclesProportionnelsColores;
}

export interface DefinitionCoucheTerritoiresDetoures {
    urlPmtilesTerritoires: string;
    listeTerritoires: string[];
    couleurDetourage?: string;
    couleurRemplissage?: string;
}

type StyleFond = 'simple' | 'original';

interface Props {
    boundingBox?: BoundingBoxApi;
    definitionCoucheTerritoiresColores?: DefinitionCoucheTerritoiresColores;
    definitionCoucheCercles?: DefinitionCoucheCercles;
    definitionCoucheTerritoiresDetoures?: DefinitionCoucheTerritoiresDetoures;
    attributionHtml?: HtmlString;
    styleFond?: StyleFond;
    ratiosMarges?: number[];
    ajouterBoutonZoom?: boolean;
    interdireInteractivite?: boolean;
    zoom?: number;
}

const props = withDefaults(defineProps<Props>(), {
    boundingBox: () => BOUNDING_BOX_FRANCE,
    definitionCoucheTerritoiresColores: undefined,
    definitionCoucheCercles: undefined,
    definitionCoucheTerritoiresDetoures: undefined,
    attributionHtml: htmlstring``,
    styleFond: 'simple',
    ratiosMarges: () => [0.05, 0.05, 0.05, 0.05],
    ajouterBoutonZoom: true,
    interdireInteractivite: false,
    zoom: undefined
});

const boundsInitiaux = computed<LngLatBoundsLike>(() => [
    props.boundingBox.longitudeMin - (props.boundingBox.longitudeMax - props.boundingBox.longitudeMin) * props.ratiosMarges[0],
    props.boundingBox.latitudeMin - (props.boundingBox.latitudeMax - props.boundingBox.latitudeMin) * props.ratiosMarges[1],
    props.boundingBox.longitudeMax + (props.boundingBox.longitudeMax - props.boundingBox.longitudeMin) * props.ratiosMarges[2],
    props.boundingBox.latitudeMax + (props.boundingBox.latitudeMax - props.boundingBox.latitudeMin) * props.ratiosMarges[3]
]);

const refCarte = ref<HTMLElement>();

const ID_SOURCE_TERRITOIRES_COLORES = 'sourceTerritoiresColores';
const ID_SOURCE_TERRITOIRES_DETOURES = 'sourceTerritoiresDetoures';
const ID_SOURCE_TERRITOIRES_CERCLES = 'sourceTerritoiresCercles';

const ID_COUCHE_TERRITOIRES_COLORES = 'layerTerritoiresColores';
const ID_COUCHE_TERRITOIRES_DETOURES = 'layerTerritoiresDetoures';
const ID_COUCHE_TERRITOIRES_CERCLES = 'layerTerritoiresCercles';

let carte: maplibregl.Map;
const boundingBoxCarte = computed<BoundingBoxApi>(() => {
    const bounds = carte.getBounds() ?? boundsInitiaux.value;
    return {
        longitudeMin: bounds.getWest(),
        longitudeMax: bounds.getEast(),
        latitudeMin: bounds.getSouth(),
        latitudeMax: bounds.getNorth()
    };
});

const protocole = new Protocol();
maplibregl.addProtocol('pmtiles', protocole.tile);

const popupTerritoiresColores = new maplibregl.Popup({ closeButton: false });
const popupTerritoiresCercles = new maplibregl.Popup({ closeButton: false });

onMounted(() => {
    carte = initialiserCarte(
        refCarte.value ?? undefined,
        props.attributionHtml ?? '',
        boundsInitiaux.value,
        props.styleFond,
        props.ajouterBoutonZoom,
        props.interdireInteractivite
    );

    if (props.zoom) carte.setZoom(props.zoom);

    carte.on('style.load', function () {
        ajouterCoucheTerritoiresColores();
        majCoucheTerritoiresColores();
        ajouterCoucheTerritoiresDetoures();
        ajouterCoucheTerritoiresCercles();
        majCoucheTerritoiresCercles();
    });

    carte.on('sourcedata', function () {
        majCoucheTerritoiresColores();
    });

    carte.on('moveend', async function () {
        majCoucheTerritoiresColores();
        majCoucheTerritoiresCercles();
    });

    carte.on('zoom', () => {
        majCouleurContoursCoucheTerritoiresColores();
    });
});

watch(
    () => props.definitionCoucheTerritoiresColores,
    () => {
        ajouterCoucheTerritoiresColores();
        majCoucheTerritoiresColores();
    }
);
watch(
    () => props.definitionCoucheTerritoiresDetoures,
    () => {
        ajouterCoucheTerritoiresDetoures();
    }
);
watch(
    () => props.definitionCoucheCercles,
    () => {
        ajouterCoucheTerritoiresCercles();
        majCoucheTerritoiresCercles();
    }
);

onUnmounted(() => {
    carte.remove();
});

const STYLE_CARTE_GRIS_SIMPLIFIE = '/styles-cartes/ign-plan-gris-fond-et-toponymes.json';
const STYLE_CARTE_GRIS_ORIGINAL = '/styles-cartes/ign-plan-gris-original.json';
const ID_PREMIERE_COUCHE_TOPONYMES = 'toponyme quartier '; // ID de la première couche des toponymes dans le fichier json de style

const NOM_LAYER_DANS_PMTILES = 'contours';

function initialiserCarte(
    htmlElement: HTMLElement | undefined,
    attributionHtml: string,
    bounds: LngLatBoundsLike,
    styleFond: StyleFond,
    ajouterBoutonZoom: boolean,
    interdireInteractivite: boolean
): maplibregl.Map {
    const carte = new maplibregl.Map({
        container: htmlElement ?? '',
        style: styleFond === 'simple' ? STYLE_CARTE_GRIS_SIMPLIFIE : STYLE_CARTE_GRIS_ORIGINAL,
        bounds: bounds,
        interactive: !interdireInteractivite,
        dragPan: true,
        dragRotate: false,
        scrollZoom: true,
        minZoom: 5,
        maxZoom: 12,
        preserveDrawingBuffer: true, // sans cela, affichage aléatoire des cartes lors du print via puppeteer
        attributionControl: {
            customAttribution: attributionHtml,
            compact: true
        }
    });

    if (ajouterBoutonZoom && !interdireInteractivite) carte.addControl(new maplibregl.NavigationControl({ showCompass: false, showZoom: true }));
    return carte;
}

function ajouterCoucheTerritoiresColores() {
    if (carte.getLayer(ID_COUCHE_TERRITOIRES_COLORES)) carte.removeLayer(ID_COUCHE_TERRITOIRES_COLORES);
    if (carte.getSource(ID_SOURCE_TERRITOIRES_COLORES)) carte.removeSource(ID_SOURCE_TERRITOIRES_COLORES);

    if (props.definitionCoucheTerritoiresColores) {
        protocole.add(new PMTiles(props.definitionCoucheTerritoiresColores?.urlPmtilesTerritoires));

        carte.addSource(ID_SOURCE_TERRITOIRES_COLORES, {
            type: 'vector',
            url: 'pmtiles://' + props.definitionCoucheTerritoiresColores?.urlPmtilesTerritoires,
            promoteId: 'id_nom_territoire'
        });
        carte.addLayer(
            {
                id: ID_COUCHE_TERRITOIRES_COLORES,
                type: 'fill',
                source: ID_SOURCE_TERRITOIRES_COLORES,
                'source-layer': NOM_LAYER_DANS_PMTILES,
                layout: { visibility: 'visible' },
                paint: {
                    'fill-color': ['feature-state', 'couleur'],
                    'fill-outline-color': '#ffffff'
                }
            },
            ID_PREMIERE_COUCHE_TOPONYMES
        );
    }
}

async function majCoucheTerritoiresColores() {
    if (props.definitionCoucheTerritoiresColores) {
        const features = carte.querySourceFeatures(ID_SOURCE_TERRITOIRES_COLORES, {
            sourceLayer: NOM_LAYER_DANS_PMTILES
        });
        const mapIndicateurs = await props.definitionCoucheTerritoiresColores.recupererIndicateurs(boundingBoxCarte.value);
        features.forEach(function (f) {
            const feature = {
                source: ID_SOURCE_TERRITOIRES_COLORES,
                sourceLayer: NOM_LAYER_DANS_PMTILES,
                id: f.id
            };
            const valeur = mapIndicateurs ? mapIndicateurs.get(f.id as string)?.valeur : undefined;
            carte.setFeatureState(feature, {
                valeur: valeur,
                couleur:
                    props.definitionCoucheTerritoiresColores?.style && mapIndicateurs
                        ? props.definitionCoucheTerritoiresColores.style.calculerCouleurFondFeature(valeur)
                        : 'white'
            });
        });
        majCouleurContoursCoucheTerritoiresColores();
        configurerPopupTerritoiresColores(props.definitionCoucheTerritoiresColores.style);
    }
}

function majCouleurContoursCoucheTerritoiresColores() {
    const nbFeatures = carte.querySourceFeatures(ID_SOURCE_TERRITOIRES_COLORES, {
        sourceLayer: NOM_LAYER_DANS_PMTILES
    }).length;
    carte.setPaintProperty(
        ID_COUCHE_TERRITOIRES_COLORES,
        'fill-outline-color',
        nbFeatures >= 15000 ? 'transparent' : props.definitionCoucheTerritoiresColores?.style.couleurContours
    );
}

function ajouterCoucheTerritoiresDetoures() {
    const id_couche_contour = `${ID_COUCHE_TERRITOIRES_DETOURES}_contours`;
    const id_couche_remplissage = `${ID_COUCHE_TERRITOIRES_DETOURES}_remplissage`;

    if (carte.getLayer(ID_COUCHE_TERRITOIRES_DETOURES)) {
        carte.removeLayer(id_couche_contour);
        carte.removeLayer(id_couche_remplissage);
    }
    if (carte.getSource(ID_SOURCE_TERRITOIRES_DETOURES)) carte.removeSource(ID_SOURCE_TERRITOIRES_DETOURES);

    if (props.definitionCoucheTerritoiresDetoures) {
        protocole.add(new PMTiles(props.definitionCoucheTerritoiresDetoures.urlPmtilesTerritoires));

        carte.addSource(ID_SOURCE_TERRITOIRES_DETOURES, {
            type: 'vector',
            url: 'pmtiles://' + props.definitionCoucheTerritoiresDetoures.urlPmtilesTerritoires,
            promoteId: 'id_nom_territoire'
        });

        const filtreTerritoiresDetoures: FilterSpecification = [
            'in',
            ['get', 'id_nom_territoire'],
            ['literal', props.definitionCoucheTerritoiresDetoures.listeTerritoires]
        ];

        if (props.definitionCoucheTerritoiresDetoures.couleurRemplissage)
            carte.addLayer(
                {
                    id: id_couche_remplissage,
                    type: 'fill',
                    source: ID_SOURCE_TERRITOIRES_DETOURES,
                    'source-layer': NOM_LAYER_DANS_PMTILES,
                    filter: filtreTerritoiresDetoures,
                    paint: {
                        'fill-color': props.definitionCoucheTerritoiresDetoures.couleurRemplissage,
                        'fill-opacity': 0.5
                    }
                },
                ID_PREMIERE_COUCHE_TOPONYMES
            );
        carte.addLayer(
            {
                id: id_couche_contour,
                type: 'line',
                source: ID_SOURCE_TERRITOIRES_DETOURES,
                'source-layer': NOM_LAYER_DANS_PMTILES,
                layout: { visibility: 'visible', 'line-join': 'round' },
                filter: filtreTerritoiresDetoures,
                paint: {
                    'line-color': props.definitionCoucheTerritoiresDetoures.couleurDetourage ?? _gris[600],
                    'line-width': 3,
                    'line-dasharray': [2, 0.5]
                }
            },
            ID_PREMIERE_COUCHE_TOPONYMES
        );
    }
}

async function ajouterCoucheTerritoiresCercles() {
    if (carte.getLayer(ID_COUCHE_TERRITOIRES_CERCLES)) carte.removeLayer(ID_COUCHE_TERRITOIRES_CERCLES);
    if (carte.getSource(ID_SOURCE_TERRITOIRES_CERCLES)) carte.removeSource(ID_SOURCE_TERRITOIRES_CERCLES);

    if (props.definitionCoucheCercles) {
        const geojson: GeoJSON.FeatureCollection = {
            type: 'FeatureCollection',
            features: []
        };

        carte.addSource(ID_SOURCE_TERRITOIRES_CERCLES, {
            type: 'geojson',
            data: geojson
        });

        carte.addLayer(
            {
                id: ID_COUCHE_TERRITOIRES_CERCLES,
                type: 'fill',
                source: ID_SOURCE_TERRITOIRES_CERCLES,
                paint: {
                    'fill-color': ['get', 'couleur'],
                    'fill-opacity': props.definitionCoucheCercles?.style.opacite
                }
            },
            ID_PREMIERE_COUCHE_TOPONYMES
        );
    }
}

async function majCoucheTerritoiresCercles() {
    if (props.definitionCoucheCercles) {
        const style = props.definitionCoucheCercles.style;
        const donneesCercles = await props.definitionCoucheCercles.recupererDonnees(boundingBoxCarte.value);
        const features = donneesCercles.map((i) => {
            const valeurCouleur = i.valeurCouleur ? i.valeurCouleur : i.valeur;
            const circle = turf.circle([i.longitude, i.latitude], style.calculerRayon(i.valeur), {
                steps: 128,
                units: 'kilometers',
                properties: {
                    nomTerritoire: i.nomTerritoire,
                    couleur: style.calculerCouleurCercle(valeurCouleur),
                    valeur: valeurCouleur,
                    valeurRayon: i.valeur
                }
            });
            return circle;
        });

        const geojson: GeoJSON.FeatureCollection = {
            type: 'FeatureCollection',
            features: features
        };

        (carte.getSource(ID_SOURCE_TERRITOIRES_CERCLES) as GeoJSONSource).setData(geojson);

        configurerPopupTerritoiresCercles(props.definitionCoucheCercles.style);
    }
}

const calculerContenuHtmlPopup = (
    nomTerritoire?: string,
    valeur?: string | number | null,
    couleur?: string,
    valeurRayonCercle?: string | number | null
): HtmlString => {
    return htmlstring`
    ${nomTerritoire ? htmlstring`<div class="text-sm text-primaire leading-snug font-bold text-left pb-1">${nomTerritoire}</div>` : ''}
    ${
        valeur
            ? htmlstring`<div class="text-sm text-primaire leading-snug" style='display: flex;flex-direction: row;align-items: center;gap: var(--dsem)'>
        ${couleur && couleur !== 'transparent' ? htmlstring`<span style='flex-shrink: 0;width: 16px;height:16px;background-color: ${couleur}'>` : ''}</span>
        <span>${valeur}</span>
    </div>
    ${valeurRayonCercle ? htmlstring`<div class="text-xs text-primaire italic pt-1">${valeurRayonCercle}</div>` : ''}`
            : ''
    }`;
};

function configurerPopupTerritoiresColores(style: StyleCarte) {
    return configurerPopup(popupTerritoiresColores, style, ID_COUCHE_TERRITOIRES_COLORES);
}

function configurerPopupTerritoiresCercles(style: StyleCarte) {
    return configurerPopup(popupTerritoiresCercles, style, ID_COUCHE_TERRITOIRES_CERCLES);
}

function configurerPopup(
    popup: maplibregl.Popup,
    style: StyleCarte,
    nomCouche: typeof ID_COUCHE_TERRITOIRES_COLORES | typeof ID_COUCHE_TERRITOIRES_CERCLES
) {
    carte.on('mousemove', nomCouche, (e) => {
        if (e.features === undefined) {
            return;
        }
        if (nomCouche === 'layerTerritoiresColores' && popupTerritoiresCercles.isOpen()) {
            popup.remove();
        } else {
            const feature = e.features[0];
            const nomTerritoire = (feature.properties.nom_territoire ?? feature.properties.nomTerritoire) as string | undefined;
            const valeur = (feature.properties.valeur ?? feature.state.valeur) as string | number | null | undefined;
            const valeurRayon = feature.properties.valeurRayon as string | number | null | undefined;
            const contenuPopupHtml = calculerContenuHtmlPopup(
                nomTerritoire,
                valeur ? style.calculerLibelleTooltip(valeur) : undefined,
                valeur
                    ? style instanceof StyleCarteCerclesProportionnelsColores
                        ? style.calculerCouleurCercle(valeur)
                        : style.calculerCouleurFondFeature(valeur)
                    : undefined,
                valeurRayon && style instanceof StyleCarteCerclesProportionnelsColores && style.calculerLibelleTooltipRayonCercle
                    ? style.calculerLibelleTooltipRayonCercle(valeurRayon)
                    : undefined
            );
            popup.setLngLat(e.lngLat).setHTML(contenuPopupHtml);
            carte.getCanvas().style.cursor = 'pointer';
            popup.addTo(carte);
        }
    });

    const masquerPopup = () => {
        carte.getCanvas().style.cursor = '';
        popup.remove();
    };

    carte.on('mouseleave', nomCouche, () => {
        masquerPopup();
    });

    document.addEventListener('click', function (e) {
        if (!carte.getContainer().contains(e.target as Node)) {
            masquerPopup();
        }
    });
}
</script>

<style>
.maplibregl-popup-content {
    padding: 4px 6px;
    box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.5);
}

@media print {
    .maplibregl-ctrl-attrib-button {
        display: none;
    }
    .maplibregl-ctrl-group {
        display: none;
    }
}
</style>
