<template>
    <Legende v-if="items.length > 0" :type="type" :items="items" />
    <div v-else></div>
</template>
<script setup lang="ts">
import type { StyleCarte } from '@lga/styles-carte';
import { computed } from 'vue';

import type { ItemLegende } from '~/components/base/Legende.vue';
import Legende from '~/components/base/Legende.vue';

interface Props {
    styleCarte: StyleCarte;
}

const props = defineProps<Props>();

const items = computed<ItemLegende[]>(() => {
    return props.styleCarte.seuilsLegende
        ? props.styleCarte.seuilsLegende.map((sl) => {
              return {
                  couleur: sl.couleur,
                  libelle: sl.libelle
              };
          })
        : [];
});

const type = computed(() => (props.styleCarte.estIndicateurContinu ? 'continue' : 'discrete'));
</script>
