<template>
    <div class="overflow-y-auto flex flex-col gap-4 p-2 bg-neutral-50 border border-neutral-200">
        <div v-for="maillon in maillons" :id="maillon.id" :key="maillon.id" class="flex flex-col">
            <div class="font-bold pb-2">
                {{ maillon.nom }}
            </div>
            <UButton
                v-for="indicateur in props.indicateurs.filter((i) => i.idMaillon === maillon.id)"
                :id="indicateur.id"
                :key="indicateur.id"
                :class="`text-left ${indicateur.id === idIndicateurActif ? 'bg-accent/5' : ''}`"
                :label="indicateur.libelle"
                variant="ghost"
                :color="indicateur.id === idIndicateurActif ? 'accent' : 'primaire'"
                @click="majIndicateurActif(indicateur.id)"
            ><template #leading>
                <div :style="`--couleur-icone: ${_accent[500]}`" v-html="SA.getDomaine(indicateur.idDomaine)?.icone" />
            </template>
            </UButton>
        </div>
    </div>
</template>

<script setup lang="ts">
import { type IndicateurCarte, SA } from '@lga/indicateurs';

import { _accent } from '#tailwind-config/theme/colors';

const emit = defineEmits<{
    (e: 'majIndicateur'): void;
}>();

interface Props {
    indicateurs: IndicateurCarte[];
}

const props = defineProps<Props>();

const idIndicateurActif = defineModel<string>({ default: '' });

const maillons = SA.maillons;

const majIndicateurActif = (idIndicateur: string) => {
    idIndicateurActif.value = idIndicateur;
    emit('majIndicateur');
};
</script>
