<template>
    <figure class="flex flex-col items-center justify-center m-0 p-0 bg-white">
        <slot></slot>
        <div
            class="font-sans text-sm sm:text-xl text-primaire font-bold text-center p-1 sm:p-2 w-full flex items-center justify-center border-b border-b-neutral-50 print:border-0"
        >
            {{ props.titre }}
        </div>
        <LegendeCarte :styleCarte="styleCarte" />
    </figure>
</template>

<script setup lang="ts">
import type { StyleCarte } from '@lga/styles-carte';

import LegendeCarte from './LegendeCarte.vue';

interface TemplateCarteLegendeProps {
    titre: string;
    styleCarte: StyleCarte;
}
const props = defineProps<TemplateCarteLegendeProps>();
</script>
