<template>
    <main>
        <TemplatePageMethodologie :sections="SECTIONS" titrePage="Règles de gestion pour le maillon Intrants">
            <template #[IDS_DOMAINES.energie]>
                <Energie />
            </template>
            <template #[IDS_DOMAINES.eau]>
                <Eau />
            </template>
            <template #[IDS_DOMAINES.pesticides]>
                <Pesticides />
            </template>
            <template #[IDS_DOMAINES.intrants]>
                <ScoreIntrants />
            </template>
        </TemplatePageMethodologie>
    </main>
</template>

<script setup lang="ts">
import { IDS_DOMAINES } from '@lga/indicateurs';

import { usePositionnerInfosHead } from '@/composables';
import Eau from '~/components/methodologie/contenus/Eau.vue';
import Energie from '~/components/methodologie/contenus/Energie.vue';
import Pesticides from '~/components/methodologie/contenus/Pesticides.vue';
import ScoreIntrants from '~/components/methodologie/contenus/ScoreIntrants.vue';
import TemplatePageMethodologie from '~/components/methodologie/TemplatePageMethodologie.vue';
import type { ItemLienHash } from '~/modeles/navigation/ItemMenuModele';

usePositionnerInfosHead({
    titre: 'Méthodologie, indicateurs du maillon Intrants',
    description: 'Règles de calcul des indicateurs du maillon Intrants'
});

const SECTIONS: ItemLienHash[] = [
    {
        type: 'LIEN_HASH',
        hash: IDS_DOMAINES.energie,
        libelle: "Indicateurs sur l'énergie"
    },
    {
        type: 'LIEN_HASH',
        hash: IDS_DOMAINES.eau,
        libelle: "Indicateurs sur l'eau"
    },
    {
        type: 'LIEN_HASH',
        hash: IDS_DOMAINES.pesticides,
        libelle: 'Indicateurs sur les pesticides'
    },
    {
        type: 'LIEN_HASH',
        hash: IDS_DOMAINES.intrants,
        libelle: 'Évaluation globale du maillon Intrants'
    }
];
</script>
