<template>
    <main>
        <TemplatePageMethodologie :sections="SECTIONS" titrePage="Règles de gestion pour le maillon Production">
            <template #introduction>
                <TexteP
                >L'objectif de cette partie du diagnostic est de rendre compte :
                    <ul>
                        <li>
                            de la part de la consommation de la population d'un territoire qui peut être couverte
                            <i>en théorie</i> par la production agricole de ce territoire dans l'hypothèse où l’on relocaliserait tout. Notez qu'il ne
                            s'agit pas de la part de la consommation réellement couverte par la production locale. Les flux logistiques sont
                            aujourd'hui totalement dissociés de la disponibilité locale, si bien qu'à l'échelle d'un bassin de vie, presque toute la
                            production est généralement exportée, et tous les biens consommés sont importés depuis d'autres territoires. De même, le
                            niveau de production d'un territoire ne présage en rien de sa dépendance à des facteurs de production importés de loin :
                            pétrole, engrais, pesticides... Cette seule note ne suffit donc pas à estimer le degré d'autonomie d'un territoire ;
                        </li>
                        <li>de la durabilité et de l'impact des pratiques agricoles.</li>
                    </ul>
                </TexteP>
            </template>
            <template #[IDS_DOMAINES.adequationProductionConsommation]>
                <AdequationProductionConsommation />
            </template>
            <template #[IDS_DOMAINES.bio]>
                <PartBio />
            </template>
            <template #[IDS_DOMAINES.hvn]>
                <HVN />
            </template>
            <template #[IDS_DOMAINES.production]>
                <ScoreProduction />
            </template>
        </TemplatePageMethodologie>
    </main>
</template>

<script setup lang="ts">
import { IDS_DOMAINES } from '@lga/indicateurs';

import { usePositionnerInfosHead } from '@/composables';
import TexteP from '~/components/base/TexteP.vue';
import AdequationProductionConsommation from '~/components/methodologie/contenus/AdequationProductionConsommation.vue';
import HVN from '~/components/methodologie/contenus/HVN.vue';
import PartBio from '~/components/methodologie/contenus/PartBio.vue';
import ScoreProduction from '~/components/methodologie/contenus/ScoreProduction.vue';
import TemplatePageMethodologie from '~/components/methodologie/TemplatePageMethodologie.vue';
import type { ItemLienHash } from '~/modeles/navigation/ItemMenuModele';

usePositionnerInfosHead({
    titre: 'Méthodologie, indicateurs du maillon Production',
    description: 'Règles de calcul des indicateurs du maillon Production'
});

const SECTIONS: ItemLienHash[] = [
    {
        type: 'LIEN_HASH',
        hash: IDS_DOMAINES.adequationProductionConsommation,
        libelle: 'Adéquation théorique entre production et consommation'
    },
    {
        type: 'LIEN_HASH',
        hash: IDS_DOMAINES.bio,
        libelle: 'Part de bio'
    },
    {
        type: 'LIEN_HASH',
        hash: IDS_DOMAINES.hvn,
        libelle: 'Haute Valeur Naturelle'
    },
    {
        type: 'LIEN_HASH',
        hash: IDS_DOMAINES.production,
        libelle: 'Évaluation globale du maillon Production'
    }
];
</script>
