<template>
    <main>
        <TemplatePageMethodologie :sections="SECTIONS" titrePage="Règles de gestion pour le maillon Transformation & Distribution">
            <template #proximite-commerces>
                <ProximiteAuxCommerces />
            </template>
        </TemplatePageMethodologie>
    </main>
</template>

<script setup lang="ts">
import { usePositionnerInfosHead } from '@/composables';
import ProximiteAuxCommerces from '~/components/methodologie/contenus/ProximiteAuxCommerces.vue';
import TemplatePageMethodologie from '~/components/methodologie/TemplatePageMethodologie.vue';
import type { ItemLienHash } from '~/modeles/navigation/ItemMenuModele';

usePositionnerInfosHead({
    titre: 'Méthodologie, indicateurs du maillon Transformation & Distribution',
    description: 'Règles de calcul des indicateurs du maillon Transformation & Distribution'
});

const SECTIONS: ItemLienHash[] = [
    {
        type: 'LIEN_HASH',
        hash: 'proximite-commerces',
        libelle: 'Proximité aux commerces'
    }
];
</script>
