<template>
    <main>
        <TemplatePageSimple
            class="[&_p_a]:underline"
            titre="Méthodologie"
            :pagesMenu="PAGES_MENU"
            :sectionsMenu="sections"
            :ajouterTitresAuxSections="false"
        >
            <template #titrePage>
                <TitreH2> {{ titrePage }}</TitreH2>
            </template>
            <template #introduction>
                <slot name="introduction" />
            </template>
            <template v-for="section in sections" #[section.hash]>
                <slot :name="section.hash" />
            </template>
        </TemplatePageSimple>
    </main>
</template>

<script setup lang="ts">
import { useRoute } from 'vue-router/auto';

import {
    usePath,
    useRouteMethodologieAgriculteursExploitations,
    useRouteMethodologieConsommation,
    useRouteMethodologieDiagnosticsFlash,
    useRouteMethodologieIndicateurs,
    useRouteMethodologieIntrants,
    useRouteMethodologiePresentationGenerale,
    useRouteMethodologieProduction,
    useRouteMethodologieSourcesDonnees,
    useRouteMethodologieTerresAgricoles,
    useRouteMethodologieTransformationDistribution
} from '@/composables';
import TemplatePageSimple from '~/components/templates/TemplatePageSimple.vue';
import type { ItemLienHash, ItemSousMenu } from '~/modeles/navigation/ItemMenuModele';
import type { SousMenu } from '~/modeles/navigation/MenuModele';

import { calculerEtatActifSousArborescence } from '../../modeles/navigation/navigation-utils';
import TitreH2 from '../base/TitreH2.vue';

defineProps<{
    titrePage?: string;
    sections?: ItemLienHash[];
}>();

const routeCourante = useRoute();

const itemsSousMenuPresentationGenerale: ItemSousMenu[] = [
    {
        type: 'LIEN_PAGE',
        libelle: 'Introduction',
        route: useRouteMethodologiePresentationGenerale(),
        estActif: routeCourante.path === usePath(useRouteMethodologiePresentationGenerale())
    },
    {
        type: 'LIEN_PAGE',
        libelle: 'Diagnostics Flash',
        route: useRouteMethodologieDiagnosticsFlash(),
        estActif: routeCourante.path === usePath(useRouteMethodologieDiagnosticsFlash())
    },
    {
        type: 'LIEN_PAGE',
        libelle: 'Sources de données',
        route: useRouteMethodologieSourcesDonnees(),
        estActif: routeCourante.path === usePath(useRouteMethodologieSourcesDonnees())
    }
];

const itemsSousMenuIndicateurs: ItemSousMenu[] = [
    {
        type: 'LIEN_PAGE',
        libelle: 'Principes généraux',
        route: useRouteMethodologieIndicateurs(),
        estActif: routeCourante.path === usePath(useRouteMethodologieIndicateurs())
    },
    {
        type: 'LIEN_PAGE',
        libelle: 'Terres agricoles',
        route: useRouteMethodologieTerresAgricoles(),
        estActif: routeCourante.path === usePath(useRouteMethodologieTerresAgricoles())
    },
    {
        type: 'LIEN_PAGE',
        libelle: 'Agriculteurs & Exploitations',
        route: useRouteMethodologieAgriculteursExploitations(),
        estActif: routeCourante.path === usePath(useRouteMethodologieAgriculteursExploitations())
    },
    {
        type: 'LIEN_PAGE',
        libelle: 'Intrants',
        route: useRouteMethodologieIntrants(),
        estActif: routeCourante.path === usePath(useRouteMethodologieIntrants())
    },
    {
        type: 'LIEN_PAGE',
        libelle: 'Production',
        route: useRouteMethodologieProduction(),
        estActif: routeCourante.path === usePath(useRouteMethodologieProduction())
    },
    {
        type: 'LIEN_PAGE',
        libelle: 'Transformation & Distribution',
        route: useRouteMethodologieTransformationDistribution(),
        estActif: routeCourante.path === usePath(useRouteMethodologieTransformationDistribution())
    },
    {
        type: 'LIEN_PAGE',
        libelle: 'Consommation',
        route: useRouteMethodologieConsommation(),
        estActif: routeCourante.path === usePath(useRouteMethodologieConsommation())
    }
];

const PAGES_MENU: SousMenu[] = [
    {
        type: 'SOUS_MENU',
        libelle: 'Présentation générale',
        estActif: calculerEtatActifSousArborescence(itemsSousMenuPresentationGenerale),
        sousItems: itemsSousMenuPresentationGenerale
    },
    {
        type: 'SOUS_MENU',
        libelle: 'Les indicateurs',
        estActif: calculerEtatActifSousArborescence(itemsSousMenuIndicateurs),
        sousItems: itemsSousMenuIndicateurs
    }
];
</script>
