<template>
    <TemplateMenuGaucheEtContenu :sectionsMenu="sectionsMenu">
        <template #hautPage>
            <div class="relative sm:mb-8">
                <div class="absolute bg-primaire h-full sm:h-[500px] w-full -z-10"></div>
                <div class="absolute top-[320px] w-full -z-10">
                    <!-- On n'utilise pas l'option placeholder de nuxt car quand present le lazy loading ne marche plus -->
                    <!-- De plus ne fonctionne pas avec NuxtPicture (voir https://github.com/nuxt/image/issues/1160 )-->
                    <NuxtPicture
                        src="/images/thematiques/illustration-paysage-fertile-5632x666.png"
                        preload
                        alt="Illustration paysage"
                        width="5632"
                        height="666"
                        sizes="lg:2816px"
                        densities="x1 x2"
                        class="hidden lg:block h-[300px]"
                        :imgAttrs="{ style: 'height:100%;object-fit:cover;object-position:center;color:transparent' }"
                    />
                </div>
                <div class="pt-4 pb-16 max-w-3xl m-auto">
                    <h1
                        class="my-8 py-1 m-auto underline underline-offset-8 decoration-3 decoration-jaune text-center text-3xl sm:text-5xl font-serif text-white border-b-accent w-fit"
                    >
                        {{ titre }}
                    </h1>
                    <div class="text-white text-center grid place-items-center px-2">
                        <slot name="bandeauTitre"></slot>
                    </div>
                </div>
            </div>
        </template>
        <template v-for="section in sectionsMenu" #[section.hash]>
            <slot :name="section.hash" />
        </template>
    </TemplateMenuGaucheEtContenu>
</template>

<script setup lang="ts">
import { NuxtPicture } from '#components';
import type { ItemLienHash } from '~/modeles/navigation/ItemMenuModele.js';

import TemplateMenuGaucheEtContenu from './TemplateMenuGaucheEtContenu.vue';

interface Props {
    titre: string;
    sectionsMenu: ItemLienHash[];
}

defineProps<Props>();
</script>
