<template>
    <div class="racine bg-sable-100">
        <Entete :class="['entete-principale', printSansEntetePrincipale ? 'print:hidden' : '']" />
        <nav ref="refEnteteSecondaire" class="entete-secondaire hidden md:block">
            <slot name="entete-secondaire" />
        </nav>
        <!-- bien laisser id="id-conteneur-coeur-de-page", permet de faire le scroll correctement (voir router.options.ts)-->
        <main id="id-conteneur-coeur-de-page" class="contenu">
            <slot />
        </main>
        <PiedDePage :class="['pied-de-page', sansPiedDePage ? 'hidden' : '']" />
    </div>
</template>

<script setup lang="ts">
import { computed, ref, useSlots } from 'vue';

import Entete from '@/components/navigation/Entete.vue';
import PiedDePage from '@/components/navigation/PiedDePage.vue';

const props = withDefaults(
    defineProps<{
        printSansEntetePrincipale?: boolean;
        sansPiedDePage?: boolean;
    }>(),
    {
        printSansEntetePrincipale: false,
        sansPiedDePage: false
    }
);

const refEnteteSecondaire = ref<HTMLElement>();
const slots = useSlots();
const flagCSSImprimerEntetePrincipale = props.printSansEntetePrincipale ? 0 : 1;
const flagCSSAfficherEnteteSecondaire = computed(() =>
    slots['entete-secondaire'] === undefined || !refEnteteSecondaire.value?.checkVisibility() ? 0 : 1
);
</script>

<style scoped>
.racine {
    --hauteur-entete-principale: 60px;
    --hauteur-entete-secondaire: 60px;
    --hauteur-entete-totale: calc(var(--hauteur-entete-principale) + v-bind(flagCSSAfficherEnteteSecondaire) * var(--hauteur-entete-secondaire));
    display: block;
}

.entete-principale {
    position: fixed;
    top: 0;
    width: 100%;
    height: var(--hauteur-entete-principale);
    z-index: 3;
}

.entete-secondaire {
    position: fixed;
    top: var(--hauteur-entete-principale);
    width: 100%;
    height: calc(v-bind(flagCSSAfficherEnteteSecondaire) * var(--hauteur-entete-secondaire));
    z-index: 2;
}

.contenu {
    display: block;
    width: 100%;
    min-height: calc(100vh - var(--hauteur-entete-totale));
    position: relative;
    z-index: 0;
    margin: var(--hauteur-entete-totale) auto auto auto;
}

.pied-de-page {
    width: 100%;
}

@media print {
    .racine {
        --hauteur-entete-totale: calc(var(--hauteur-entete-principale) * v-bind(flagCSSImprimerEntetePrincipale));
    }
    .entete-secondaire {
        display: none;
    }
}
</style>
