<template>
    <Bloc class="w-fit max-w-[1200px] bg-sable-50 rounded-2xl" ombrage>
        <div class="flex gap-4">
            <div class="hidden xl:block sm:w-[300px] relative">
                <NuxtPicture
                    class="w-[205px] absolute left-[20%] -bottom-[65px] rotate-[11deg]"
                    :src="IMAGE_AGRICULTEUR.url"
                    loading="lazy"
                    :alt="IMAGE_AGRICULTEUR.descriptionAlt"
                    :width="IMAGE_AGRICULTEUR.resolutionX"
                    :height="IMAGE_AGRICULTEUR.resolutionY"
                    sizes="200px"
                    densities="x1 x2"
                />
                <NuxtPicture
                    class="w-[188px] absolute -left-[20%] -top-[25px] -rotate-[9deg]"
                    :src="IMAGE_CHAMP_DE_BLE.url"
                    loading="lazy"
                    :alt="IMAGE_CHAMP_DE_BLE.descriptionAlt"
                    :width="IMAGE_CHAMP_DE_BLE.resolutionX"
                    :height="IMAGE_CHAMP_DE_BLE.resolutionY"
                    sizes="200px"
                    densities="x1 x2"
                />
            </div>
            <div class="flex flex-col w-fit items-center p-2 py-4 sm:p-4">
                <h2 class="font-serif text-3xl sm:text-5xl text-primaire"><TexteStabilo couleur="jaune">Diagnostic</TexteStabilo> flash</h2>
                <p class="text-base sm:text-xl text-center text-primaire p-2 pb-4 sm:pb-6 max-w-[640px]">
                    <strong>3 minutes</strong> pour comprendre les enjeux agricoles et alimentaires de votre territoire
                </p>
                <UButton
                    class="w-fit px-12"
                    color="accent"
                    variant="solid"
                    size="xl"
                    :ui="{
                        rounded: 'rounded-full'
                    }"
                    :to="useRouteDiagnosticsFlash(idTerritoire)"
                    @click="() => useTracerNavigationMatomo($route.name, 'BanniereLienVersDiagnosticFlash', 'diagnostic-flash')"
                >Découvrir le diagnostic
                </UButton>
            </div>
            <div class="hidden xl:block sm:w-[250px] relative">
                <NuxtPicture
                    class="w-[205px] absolute -right-[10%] -top-[25px] rotate-[5deg]"
                    :src="IMAGE_CHAMP_VIGNE.url"
                    loading="lazy"
                    :alt="IMAGE_CHAMP_VIGNE.descriptionAlt"
                    :width="IMAGE_CHAMP_VIGNE.resolutionX"
                    :height="IMAGE_CHAMP_VIGNE.resolutionY"
                    sizes="200px"
                    densities="x1 x2"
                />
                <NuxtPicture
                    class="w-[188px] absolute right-[15%] -bottom-[60px] -rotate-[6deg]"
                    :src="IMAGE_BULLDOZER.url"
                    loading="lazy"
                    :alt="IMAGE_BULLDOZER.descriptionAlt"
                    :width="IMAGE_BULLDOZER.resolutionX"
                    :height="IMAGE_BULLDOZER.resolutionY"
                    sizes="200px"
                    densities="x1 x2"
                />
            </div>
        </div>
    </Bloc>
</template>

<script setup lang="ts">
import { useRouteDiagnosticsFlash, useTracerNavigationMatomo } from '@/composables';
import { NuxtPicture } from '#components';
import Bloc from '~/components/base/Bloc.vue';
import TexteStabilo from '~/components/base/TexteStabilo.vue';

interface Props {
    idTerritoire: string;
}

defineProps<Props>();

const IMAGE_AGRICULTEUR = {
    url: '/images/accueil-territoire/agriculteur-205x235.png',
    descriptionAlt: "Agriculteur en train d'arroser",
    resolutionX: 205,
    resolutionY: 235
};
const IMAGE_BULLDOZER = {
    url: '/images/accueil-territoire/bulldozer-219x223.png',
    descriptionAlt: 'Bulldozer',
    resolutionX: 219,
    resolutionY: 223
};
const IMAGE_CHAMP_VIGNE = {
    url: '/images/accueil-territoire/champ_vigne-187x177.png',
    descriptionAlt: 'Champ de vigne',
    resolutionX: 187,
    resolutionY: 177
};
const IMAGE_CHAMP_DE_BLE = {
    url: '/images/accueil-territoire/champ_ble-189x205.png',
    descriptionAlt: 'Champ de blé',
    resolutionX: 189,
    resolutionY: 205
};
</script>
