<template>
    <div class="w-full">
        <h1 class="flex flex-col bg-primaire text-center px-2 pt-6 pb-4 lg:pt-8 lg:pb-6">
            <span class="text-white text-2xl lg:text-5xl font-serif">Les enjeux agricoles & alimentaires</span>
            <span class="text-white text-2xl lg:text-3xl font-serif">{{ props.nomTerritoireAvecPrepositionDe }}</span>
        </h1>
    </div>
</template>

<script setup lang="ts">
interface Props {
    nomTerritoireAvecPrepositionDe: string;
}

const props = defineProps<Props>();
</script>
